/* $Id: akebi.css 50368 2014-03-18 12:06:34Z luciash $ 
	Akebi theme option for Fivealive themes for
	Tiki Wiki CMS Groupware.
*/

@import url("../jquery-ui/options/akebi/jquery-ui.min.css");

a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #0b8a98;
}

a:active,
a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #18a3bb;
}

fieldset {
	border: 1px solid #0b8a98;
}

hr {
	border-top: #18a3bb;
}

.header_outer {
	background: url(akebi/siteheadertile.jpg) 0 0 no-repeat;
}

.header_container .header {
	background: url(akebi/siteheader.png) -250px 0 no-repeat;
}

.sitetitle,
.sitesubtitle {
	text-shadow-color: #005064;
}

.footer_liner {
	border-top: 1px solid #19a5be;
	border-bottom: 1px solid #19a5be;
}

#footer h3 {
	border-bottom: 1px dotted #19a5be;
}

#loadstats {
	background: #19a5be;
	color: #005659;
}

#power a {
	color: #19a5be;
}

.btn-default,
.btn-default:visited,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #18a3bb;
	border-color: #77d6e5 #168294 #168294 #77d6e5;
	font-weight: bold;
}
	
.btn-default:hover,
.button a:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #0b8896;
	border-color: #168294 #77d6e5 #77d6e5 #168294 !important;
}

.highlight,
.highlight a {
	border: 1px solid #b9f2fb;
	color: #0b8a98;
}

.button.highlight a {
	background: #ddf8f9;
	color: #0b8a98;
}

#topbar_modules .dropdown-menu,
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.header .cssmenu_horiz li ul a,
.header .cssmenu_horiz li:hover ul a,
#topbar_modules .cssmenu_horiz li ul a,
#topbar_modules .cssmenu_horiz li:hover ul a {
	background: #005064;
	color: #fff;
}

#topbar_modules .dropdown-menu {
	background: url(akebi/siteheader.png) no-repeat -600px -40px;
}

#topbar_modules .dropdown-menu > li > a:hover,
#topbar_modules .dropdown-menu > li > a:focus,
.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.header .cssmenu_horiz li ul a:hover,
#main #topbar_modules .cssmenu_horiz li ul a:hover {
	background: #14a1bb;
}

#topbar_modules .dropdown-menu li.active a, /* bootstrap */
.header .cssmenu_horiz li.selected a,
#topbar_modules .cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #b4f3fb;
}

.header .cssmenu_horiz li.selected li a,
#topbar_modules .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(akebi/arrows-0b8a98.png) no-repeat 10px 0;
}

select,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
input#login-pass,
textarea,
.adminoptionbox option {
	background: #ddf8f9;
	color: #000;
	border-color: #b4f3fb #fff #fff #b4f3fb;
}

.panel-default > .panel-heading {
	background: #cbf4f6;
}

.titlebar,
.panel-heading {
	border-color: #18a3bb;
	background: #cbf4f6;
	color: #005064;
}

.modules .panel-default > .panel-heading,
.modules .panel-default > .panel-body {
	background: none;
}

.well {
	background: #cbf4f6;
	color: #005064;
	border: 2px solid #18a3bb;
}

.panel-heading {
	border-bottom: 3px solid #18a3bb;
}

.postbody-title,
#top_modules .module.secondary_site_menu {
	background: #0f91a2 url(akebi/siteheader.png) no-repeat -700px -200px;
}

.adminanchors {
	background: #18a3bb;
}

.table,
.wikitable {
	border: 2px solid #1296a9;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks,
th.header {
	background: #1296a9;
	color: #ddf8f9;
}

.caltable .odd,
.caltable .even,
.wikicell {
	border: 2px solid #cbf4f6;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #ddf4ef;
}

.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #cbf4f6;
}

.even,
table.normal tr:nth-child(2n),
table.normal tr:nth-child(2n) td,
.tablesorter tr.even td {
	background: #d3f9f9;
}

.tabmark {
	border: 1px solid #77d6e5;
	background: #0c8a99;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #77d6e5;
	background: #a8e2ec;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #168294;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #a8e2ec;
}

/* Quote plugin */
.quoteheader {
	border-bottom: 2px solid #cbf4f6;
}

.quotebody {
	border-left: 8px solid #cbf4f6;
}

.postbody-title > br {
	display: none;
}

.post .author,
.dirsite {
	background: #77d6e5;
}

.postbody-content {
	border: 1px solid #0f91a2;
	border-top: none;
}

.post .author {
	border: 1px solid #0f91a2;
	border-top: none;
	border-bottom: none;
}

/* cluetip tooltips */

.cluetip-default {
	background: #D3F9F9;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #D3F9F9;
}
.cluetip-default h3#cluetip-title {
	background: #008A96;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #D3F9F9;
}
  

.s5-slide {
    background-color: #18A3BB !important;
}
.s5-slide:after {
    box-shadow: -5rem -2rem 0 0 #168294 inset, 0 0 2rem rgba(0, 0, 0, 0.5);
}
.s5-slide-li-highlighted {
    color: #77D6E5;
}
