/* $Id: grape.css 50368 2014-03-18 12:06:34Z luciash $ 
	Grape theme option for FiveAlive themes for
	Tiki Wiki CMS Groupware.
*/

@import url("../jquery-ui/options/grape/jquery-ui.min.css");

a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #8e286a;
}

a:active,
a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #a02871;
}

fieldset {
	border: 1px solid #8e286a;
}

hr {
	border-top: #a82a76;
}

.header_outer {
	background: url(grape/siteheadertile.png) 0 0 no-repeat;
}

.header_container .header {
	background: url(grape/siteheader.png) -250px 0 no-repeat;
}

.sitetitle,
.sitesubtitle {
	text-shadow-color: #781437;
}

.footer_liner {
	border-top: 1px solid #a52873;
	border-bottom: 1px solid #a52873;
}

#footer h3 {
	border-bottom: 1px dotted #a52873;
}

#loadstats {
	background: #a52873;
	color: #511938;
}

#power a {
	color: #a52873;
}

.btn-default,
.btn-default:visited,
button,
.button input,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #a82a76;
	border-color: #a82a76 #69285c #69285c #a82a76;
	font-weight: bold;
}
	
.btn-default:hover,
button:hover,
.button input:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #9b286f;
	border-color: #69285c #a82a76 #a82a76 #69285c;
}

.highlight,
.button.highlight a {
	border-color: #e4afd3;
	color: #8e286a;
	background: #ddf4ef;
}

.button.highlight a {
	background: #f4dded;
	color: #8e286a;
}

#topbar_modules .dropdown-menu,
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.header .cssmenu_horiz li ul a,
.header .cssmenu_horiz li:hover ul a,
#topbar_modules .cssmenu_horiz li ul a,
#topbar_modules .cssmenu_horiz li:hover ul a  {
	background: #3b284a;
	color: #fff;
}

#topbar_modules .dropdown-menu {
	background: url(grape/siteheader.png) no-repeat -600px -40px;
}

#topbar_modules .dropdown-menu > li > a:hover,
#topbar_modules .dropdown-menu > li > a:focus,
.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.header .cssmenu_horiz li ul a:hover,
#main #topbar_modules .cssmenu_horiz li ul a:hover {
	background: #972269;
}

#topbar_modules .dropdown-menu li.active a, /* bootstrap */
.header .cssmenu_horiz li.selected a,
#topbar_modules .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #da65ab;
}

.header .cssmenu_horiz li.selected li a,
#topbar_modules .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(grape/arrows-8e286a.png) no-repeat 10px 0;
}

select,
textarea,
.adminoptionbox option {
	background: #f4dded;
	color: #000;
	border-color: #e4afd3 #faf1f8 #faf1f8 #e4afd3;
}

.panel-default > .panel-heading {
	background: #a82a76;
}

.titlebar,
.panel-heading {
	border-color: #a82a76;
	background: #efcde5;
	color: #8b1932;
}

.modules .panel-default > .panel-heading,
.modules .panel-default > .panel-body {
	background: none;
}

.well {
	background: #cbf4f6;
	color: #005064;
	border: 2px solid #18a3bb;
}

.panel-heading {
	border-bottom: 3px solid #a82a76;
}

.postbody-title,
#top_modules .module.secondary_site_menu {
	background: #97286e url(grape/siteheader.png) no-repeat -1000px -200px;
}

.adminanchors {
	background: #a82a76;
}

.table,
.wikitable {
	border: 2px solid #a82a76;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks,
th.header {
	background: #a82a76;
	color: #f4dded;
}

.caltable .odd,
.caltable .even,
.caltable .calborder,
.wikicell {
	border: 2px solid #efcde5;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #ddf4ef;
}

.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #faf1f8;
}

.even,
table.table tr:nth-child(2n),
table.table tr:nth-child(2n) td,
.tablesorter tr.even td {
	background: #f4dded;
}

.tabmark {
	border: 1px solid #a82a76;
	background: #722860;
	color: #fff;
}

#siteloginbar_popup .tabmark {
	border-color: #696969;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #a82a76;
	background: #e9aad0;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #69285c;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #e9aad0;
}

/* Quote plugin */
.quoteheader {
	border-bottom: 2px solid #efcde5;
}

.quotebody {
	border-left: 8px solid #efcde5;
}

.postbody-title > br {
	display: none;
}

.post .author,
.dirsite {
	background: #e4afd3;
}

.postbody-content {
	border: 1px solid #97286e;
	border-top: none;
}

.post .author {
	border: 1px solid #97286e;
	border-top: none;
	border-bottom: none;
}

/* cluetip tooltips */

.cluetip-default {
	background: #FBDCED;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #FBDCED;
}
.cluetip-default h3#cluetip-title {
	background: #722860;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #FBDCED;
}
  

.s5-slide {
    background-color: #A82A76 !important;
}
.s5-slide:after {
    box-shadow: -5rem -2rem 0 0 #69285C inset, 0 0 2rem rgba(0, 0, 0, 0.5);
}
.s5-slide-li-highlighted {
    color: #A82A76;
}
