/* $Id: kiwi.css 50368 2014-03-18 12:06:34Z luciash $ 
	Kiwi theme option for FiveAlive themes for
	Tiki Wiki CMS Groupware.
*/

@import url("../jquery-ui/options/kiwi/jquery-ui.min.css");

a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #638637;
}

a:active,
a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #baba25;
}

fieldset {
	border: 1px solid #638637;
}

hr {
	border-top: #bcb923;
}

.header_outer {
	background: url(kiwi/siteheadertile.png) 0 0 no-repeat;
}

.header_container .header {
	background: url(kiwi/siteheader.png) -250px 0 no-repeat;
}

.sitetitle,
.sitesubtitle {
	text-shadow: #648637 3px 2px 0;
}

.footer_liner {
	border-top: 1px solid #ebdc14;
	border-bottom: 1px solid #ebdc14;
}

#footer h3 {
	border-bottom: 1px dotted #ebdc14;
}

#loadstats {
	background: #ebdc14;
	color: #000;
}

#power a {
	color: #ebdc14;
}

.btn-default,
.btn-default:visited,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #bcb923;
	border-color: #f0e884 #b2a713 #b2a713 #f0e884;
	font-weight: bold;
}

.btn-default:hover,
.button a:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #baba25;
	border-color: #b2a713 #f0e884 #f0e884 #b2a713;
}

.highlight,
.button.highlight a {
	border-color: #f5fb86;
	color: #638637;
	background: #d4f9d5;
}

.button.highlight a {
	background: #f8f9d4;
	color: #638637;
}

#topbar_modules .dropdown-menu,
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.header .cssmenu_horiz li ul a,
.header .cssmenu_horiz li:hover ul a,
#topbar_modules .cssmenu_horiz li ul a,
 #topbar_modules .cssmenu_horiz li:hover ul a  {
	background: #658838;
	color: #fff;
}

#topbar_modules .dropdown-menu {
	background: url(kiwi/siteheader.png) no-repeat -600px -40px;
}

#topbar_modules .dropdown-menu > li > a:hover,
#topbar_modules .dropdown-menu > li > a:focus,
.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.header .cssmenu_horiz li ul a:hover,
#main #topbar_modules .cssmenu_horiz li ul a:hover  {
	background: #e1d518;
}

#top_modules #secondary_site_menu .cssmenu_horiz li.selected a,
#topbar_modules .dropdown-menu li.active a, /* bootstrap */
.header .cssmenu_horiz li.selected a,
#topbar_modules .cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #f0e884;
}

.header .cssmenu_horiz li.selected li a,
#top_modules #secondary_site_menu .cssmenu_horiz li.selected li a,
#topbar_modules .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(kiwi/arrows-638637.png) no-repeat 10px 0;
}

select,
textarea,
.adminoptionbox option {
	background: #f8f9d4;
	color: #000;
	border-color: #f5fb86 #fbfbee #fbfbee #f5fb86;
}

.titlebar,
.panel-default .panel-heading {
	border-color: #bcb923;
	background: #f5f6c1;
	color: #648637;
}

.panel-default.module > .panel-heading,
.panel-default.module > .panel-body {
	background: none;
}

.panel-default.module .panel-heading {
	border-bottom: 3px solid #bcb923;
}

.well {
	background: #f5f6c1;
	color: #638637;
	border: 2px solid #bcb923;
}

.panel-heading,
.postbody-title,
#top_modules .module.secondary_site_menu {
	background: #e1d518 url(kiwi/siteheader.png) no-repeat -1000px -200px;
}

.adminanchors {
	background: #bcb923;
}

.table,
.wikitable {
	border: 2px solid #dbd11a;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks,
th.header {
	background: #dbd11a;
	color: #f8f9d4;
}

.caltable .odd,
.caltable .even,
.caltable .calborder,
.wikicell {
	border: 2px solid #f5f6c1;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #d4f9d5;
}

.odd,
table.table tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #f0e884;
}

.even,
table.table tr:nth-child(2n),
.tablesorter tr.even td {
	background: #f8f9d4;
}

.tabmark {
	border: 1px solid #f0e884;
	background: #baba25;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #f0e884;
	background: #ece7a8;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #648637;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #ece7a8;
}

/* Quote plugin */
.quoteheader {
	border-bottom: 2px solid #f5f6c1;
}

.quotebody {
	border-left: 8px solid #f5f6c1;
}

.post .author,
.dirsite {
	background: #f5f6c1;
}

.postbody-content {
	border: 1px solid #d4cc1c;
	border-top: none;
}

.post .author {
	border: 1px solid #d4cc1c;
	border-top: none;
	border-bottom: none;
}

/* cluetip tooltips */

.cluetip-default {
	background: #F8F9D5;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #F8F9D5;
}
.cluetip-default h3#cluetip-title {
	background: #baba25;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #F8F9D5;
}
  

.s5-slide {
    background-color: #BCB923 !important;
}
.s5-slide:after {
    box-shadow: -5rem -2rem 0 0 #638637 inset, 0 0 2rem rgba(0, 0, 0, 0.5);
}
.s5-slide-li-highlighted {
    color: #BCB923;
}
