/* $Id: lemon.css 50368 2014-03-18 12:06:34Z luciash $ 
	Lemon theme option for FiveAlive themes for
	Tiki Wiki CMS Groupware.
*/

@import url("../jquery-ui/options/lemon/jquery-ui.min.css");

a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #c75a28;
}

a:active,
a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #f9a013;
}

fieldset {
	border: 1px solid #c75a28;
}

hr {
	border-top: #ffc506;
}

.header_outer {
	background: url(lemon/siteheadertile.png) 0 0 no-repeat;
}

.header_container > .header {
	background: url(lemon/siteheader.png) -250px 0 no-repeat;
}

.sitetitle,
.sitesubtitle {
	text-shadow-color: #c85a28;
}

.footer_liner {
	border-top: 1px solid #ffc506;
	border-bottom: 1px solid #ffc506;
}

#footer h3 {
	border-bottom: 1px dotted #ffc506;
}

#loadstats {
	background: #ffc506;
	color: #955208;
}

#power a {
	color: #ffc506;
}

.btn-default,
.btn-default:visited,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #ffc506;
	border-color: #ffc506 #c35627 #c35627 #ffc506;
	font-weight: bold;
}

.btn-default:hover,
.button a:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #f68c1a;
	border-color: #c35627 #ffc506 #ffc506 #c35627;
}

.highlight,
.button.highlight a {
	border-color: #fee194;
	color: #c74b23;
	background: #f3fdd0;
}

.button.highlight a {
	background: #fdf1d0;
	color: #c74b23;
}

.dropdown-menu,
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.header .cssmenu_horiz li ul a,
.header .cssmenu_horiz li:hover ul a,
#topbar_modules .cssmenu_horiz li ul a,
#topbar_modules .cssmenu_horiz li:hover ul a  {
	background: #c75a29;
	color: #fff;
}

#topbar_modules .dropdown-menu {
	background: url(lemon/siteheader.png) no-repeat -600px -40px;
}

#topbar_modules .dropdown-menu > li > a:hover,
#topbar_modules .dropdown-menu > li > a:focus,
.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.header .cssmenu_horiz li ul a:hover,
#main #topbar_modules .cssmenu_horiz li ul a:hover  {
	background: #f68c1a;
}

#topbar_modules .dropdown-menu li.active a, /* bootstrap */
.header .cssmenu_horiz li.selected a,
#topbar_modules .cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #fcebbc;
}

.header .cssmenu_horiz li.selected li a,
#topbar_modules .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(lemon/arrows-c75a28.png) no-repeat 10px 0;
}

select,
textarea,
.adminoptionbox option {
	background: #fdf1d0;
	color: #000;
	border-color: #fee194 #fdfae9 #fdfae9 #fee194;
}

.titlebar,
.panel-default .panel-heading {
	border-color: #ffc506;
	background: #fcebbc;
	color: #c85a28;
}

.panel-default.module > .panel-heading,
.panel-default.module > .panel-body {
	background: none;
}

.well {
	background: #fcebbc;
	color: #c85a28;
	border: 2px solid #ffc506
}

.panel-default.module .panel-heading {
	border-bottom: 3px solid #ffc506;
}

.panel-heading,
.postbody-title,
#top_modules .module.secondary_site_menu {
	background: #fec107 url(lemon/siteheader.png) no-repeat -1000px -200px;
	color: #c75a28;
}

.adminanchors {
	background: #ffc506;
}

.table,
.wikitable {
	border: 2px solid #ffc506;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks,
th.header {
	background: #ffc506;
	color: #fdf1d0;
}

.caltable .odd,
.caltable .even,
.caltable .calborder,
.wikicell {
	border: 1px solid #fcebbc;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #f3fdd0;
}

.odd,
table.table tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #fdf1d0;
}

.even,
table.table tr:nth-child(2n),
.tablesorter tr.even td {
	background: #fcebbc;
}

.tabmark {
	border: 1px solid #ffc506;
	background: #f68c1a;
	color: #fff;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #ffc506;
	background: #fde197;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #c74b23;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #fde197;	
}

/* Quote plugin */
.quoteheader {
	border-bottom: 2px solid #fcebbc;
}

.quotebody {
	border-left: 8px solid #fcebbc;
}

.post .author,
.dirsite {
	background: #fcebbc;
}

.postbody-content {
	border: 1px solid #d4cc1c;
	border-top: none;
}

.post .author {
	border: 1px solid #d4cc1c;
	border-top: none;
	border-bottom: none;
}

/* cluetip tooltips */

.cluetip-default {
	background: #FFF1D1;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #FFF1D1;
}
.cluetip-default h3#cluetip-title {
	background: #FF8422;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #FFF1D1;
}
  

.s5-slide {
    background-color: #FFC507 !important;
}
.s5-slide:after {
    box-shadow: -5rem -2rem 0 0 #C75A28 inset, 0 0 2rem rgba(0, 0, 0, 0.5);
}
.s5-slide-li-highlighted {
    color: #FFC507;
}
