/* $Id: orange.css 50422 2014-03-21 16:18:51Z jonnybradley $ 
	Orange theme option for FiveAlive themes for
	Tiki Wiki CMS Groupware.
*/

@import url("../jquery-ui/options/orange/jquery-ui.min.css");

a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #c74b23;
}

a:active,
a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #ed6223;
}

fieldset {
	border: 1px solid #c74b23;
}

hr {
	border-top: #e7713e;
}

.header_outer {
	background: url(orange/siteheadertile.png) 0 0 no-repeat;
}

.header_container .header {
	background: url(orange/siteheader.png) -250px 0 no-repeat;
}

.sitetitle,
.sitesubtitle {
	text-shadow: #942f20 3px 2px 0;
}

#footer_liner {
	border-top: 1px solid #f06423;
	border-bottom: 1px solid #f06423;
}

#footer h3 {
	border-bottom: 1px dotted #f06423;
}

#loadstats {
	background: #f06423;
}

#power a {
	color: #f06423;
}

.btn-default,
.btn-default:visited,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #e77d4f;
	border-color: #ebac91 #852a1c #852a1c #ebac91;
	font-weight: bold;
}

.btn-default:hover,
.button a:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #ed6223;
	border-color: #852a1c #ebac91 #ebac91 #852a1c;
}

.highlight,
.button.highlight a {
	border-color: #fac5b1;
	color: #c74b23;
	background: #f1f8de;
}

.button.highlight a {
	background: #f8e4dd;
	color: #c74b23;
}

.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.header .cssmenu_horiz li ul a,
.header .cssmenu_horiz li:hover ul a,
#main #topbar_modules .cssmenu_horiz li ul a,
#main #topbar_modules .cssmenu_horiz li:hover ul a  {
	background: #c44a23;
	color: #fff;
}

#topbar_modules .dropdown-menu,
#tiki-top .cssmenu_horiz li a {
	background: url(orange/siteheader.png) no-repeat -600px -40px;
}

#topbar_modules .dropdown-menu > li > a:hover,
#topbar_modules .dropdown-menu > li > a:focus,
#tiki-top .cssmenu_horiz li a:hover,
.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.header .cssmenu_horiz li ul a:hover,
#main #topbar_modules .cssmenu_horiz li ul a:hover  {
	background: #e35c29;
}


.header .cssmenu_horiz > li.selected > a,
#topbar_modules .cssmenu_horiz > li.selected > a,
.cssmenu_horiz li li.selected a,
.cssmenu_vert li li.selected a {
	color: #fff;
}

.cssmenu_horiz li.selected > a,
.cssmenu_vert li.selected > a {
	color: #c44a23;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(orange/arrows-c74b23.png) no-repeat 10px 0;
}

select,
textarea,
.adminoptionbox option {
	background: #f8e4dd;
	color: #000;
	border-color: #fac5b1 #fbf1ed #fbf1ed #fac5b1;
}

.titlebar,
.panel-default .panel-heading {
	border-color: #e7713e;
	background: #f4d6cc;
	color: #942f20;
}

.panel-default.module > .panel-heading,
.panel-default.module > .panel-body {
	background: #f4d6cc;
	color: #942f20;
}

.panel-default.module .panel-heading {
	border-bottom: 3px solid #e7713e;
}

.well {
	background: #f5f6c1;
	color: #638637;
	border: 2px solid #e7713e;
}

.panel-heading,
.postbody-title,
#top_modules .module.secondary_site_menu {
	background: #e85f23 url(orange/siteheader.png) no-repeat -1000px -200px;
}

.adminanchors {
	background: #e7713e;
}

.normal,
.wikitable {
	border: 2px solid #e77d4f;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks,
th.header {
	background: #e77d4f;
	color: #f8e4dd;
}

.caltable .odd,
.caltable .even,
.caltable .calborder,
.wikicell {
	border: 1px solid #e77d4f;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #f1f8de;
}

.odd,
table.table tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #f4d6cc;
}

.even,
table.table tr:nth-child(2n),
.tablesorter tr.even td {
	background: #fee3dd;
}

.tabmark {
	border: 1px solid #ebac91;
	background: #852a1c;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #ebac91;
	background: #eebba5;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #852a1c;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #eebba5;
}

/* Quote plugin */
.quoteheader {
	border-bottom: 2px solid #f4d6cc;
}

.quotebody {
	border-left: 8px solid #f4d6cc;
}

.post .author,
.dirsite {
	background: #f4d6cc;
}

.postbody-content {
	border: 1px solid #e85f23;
	border-top: none;
}

.post .author {
	border: 1px solid #e85f23;
	border-top: none;
	border-bottom: none;
}

/* cluetip tooltips */

.cluetip-default {
	background: #FEE3DD;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #FEE3DD;
}
.cluetip-default h3#cluetip-title {
	background: #852a1c;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #FEE3DD;
}
  

.s5-slide {
    background-color: #EC6223 !important;
}
.s5-slide:after {
    box-shadow: -5rem -2rem 0 0 #942E1F inset, 0 0 2rem rgba(0, 0, 0, 0.5);
}
.s5-slide-li-highlighted {
    color: #EC6223;
}
