/* $Id: plum.css 50368 2014-03-18 12:06:34Z luciash $ 
	Plum theme option for FiveAlive themes for Tiki Wiki CMS Groupware.
*/

@import url("../jquery-ui/options/plum/jquery-ui.min.css");

a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #7a04b5;
}

a:active,
a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #7a04b5;
}

fieldset {
	border: 1px solid #7a04b5;
}

hr {
	border-top: #7a04b5;
}

.header_outer {
	background: url(plum/siteheadertile.png) 0 0 no-repeat;
}

.header_container .header {
	background: url(plum/siteheader.jpg) -250px 0 no-repeat;
}

.sitetitle,
.sitesubtitle {
	text-shadow: #7a04b5 3px 2px 0;
}

.footer_liner {
	border-top: 1px solid #7a04b5;
	border-bottom: 1px solid #7a04b5;
}

#footer h3 {
	border-bottom: 1px dotted #7a04b5;
}

#loadstats {
	background: #7a04b5;
}

#power a {
	color: #ce57df;
}

.btn-default,
.btn-default:visited,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #7001a7;
	border-color: #8e01d4 #4c0172 #4c0172 #8e01d4;
	font-weight: bold;
}

.btn-default:hover,
.button a:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #470169;
	border-color: #4c0172 #8e01d4 #8e01d4 #4c0172;
}

.highlight,
.button.highlight a {
	border-color: #fac5b1;
	color: #8e01d4;
	background: #f1f8de;
}

.button.highlight a {
	background: #f8e4dd;
	color: #c74b23;
}

#topbar_modules .dropdown-menu,
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.header .cssmenu_horiz li ul a,
.header .cssmenu_horiz li:hover ul a,
#main #topbar_modules .cssmenu_horiz li ul a,
#main #topbar_modules .cssmenu_horiz li:hover ul a  {
	background: #49006c;
	color: #fff;
}

#topbar_modules .dropdown-menu {
	background: #33014e url(plum/siteheader.jpg) no-repeat -600px -40px;
}

#topbar_modules .dropdown-menu > li > a:hover,
#topbar_modules .dropdown-menu > li > a:focus,
.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.header .cssmenu_horiz li ul a:hover,
#main #topbar_modules .cssmenu_horiz li ul a:hover  {
	background: #300149;
}

#top_modules #secondary_site_menu .cssmenu_horiz li.selected a,
#topbar_modules .dropdown-menu li.active a, /* bootstrap */
.header .cssmenu_horiz li.selected a,
#topbar_modules .cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #bb4ef3;
}

.header .cssmenu_horiz li.selected li a,
#top_modules #secondary_site_menu .cssmenu_horiz li.selected li a,
#topbar_modules .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(plum/arrows-8e01d4.png) no-repeat 10px 0;
}

select,
textarea,
.adminoptionbox option {
	background: #f4e1ff;
	border-color: #db9fff #f9f0ff #f9f0ff #db9fff;
}

.titlebar,
.panel-default .panel-heading {
	border-color: #c564f5;
	background: #e5caf5;
	color: #881d98;
}

.panel-default.module > .panel-heading,
.panel-default.module > .panel-body {
	background: none;
}

.panel-default.module .panel-heading {
	border-bottom: 3px solid #c564f5;
}

.well {
	background: #e1b4f5;
	color: #370e49;
	border: 2px solid #c564f5;
}

.panel-heading,
.postbody-title,
#top_modules .module.secondary_site_menu {
	background: #1c0029 url(plum/siteheader.jpg) no-repeat -1000px -200px;
}

.adminanchors {
	background: #c564f5;
}

.table,
.wikitable {
	border: 2px solid #c564f5;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks,
th.header {
	background: #c564f5;
	color: #eeddf9;
}

.caltable .odd,
.caltable .even,
.caltable .calborder,
.wikicell {
	border: 1px solid #ce57df;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #f1f8de;
}

.odd,
table.table tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #efcaf5;
}

.even,
table.table tr:nth-child(2n),
.tablesorter tr.even td {
	background: #f3e1fb;
}

.tabmark {
	border: 1px solid #8e01d4;
	background: #7001a7;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #d185f7;
	background: #dc95fe;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #6c01a0;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #dc95fe;
}

/* Quote plugin */
.quoteheader {
	border-bottom: 2px solid #efcaf5;
}

.quotebody {
	border-left: 8px solid #efcaf5;
}

.postbody-title {
	background: #320143 url(plum/siteheader.jpg) -550px -90px no-repeat;
}

.post .author,
.dirsite {
	background: #efcaf5;
}

.postbody-content {
	border: 1px solid #1c0029;
	border-top: none;
}

.post .author {
	border: 1px solid #1c0029;
	border-top: none;
	border-bottom: none;
}

/* cluetip tooltips */

.cluetip-default {
	background: #f3e1fb;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #f3e1fb;
}
.cluetip-default h3#cluetip-title {
	background: #852a1c;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #f3e1fb;
}
  

.s5-slide {
    background-color: #15001F !important;
}
.s5-slide:after {
    box-shadow: -5rem -2rem 0 0 #03001D inset, 0 0 2rem rgba(0, 0, 0, 0.5);
}
.s5-slide-li-highlighted {
    color: #7A04B5;
}
