/* $Id: raspberry.css 50368 2014-03-18 12:06:34Z luciash $ 
	Raspberry theme option for FiveAlive themes for
	Tiki Wiki CMS Groupware.
*/

@import url("../jquery-ui/options/raspberry/jquery-ui.min.css");

a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #b51360;
}

a:active,
a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #e10c7c;
}

fieldset {
	border: 1px solid #b51360;
}

hr {
	border-top: #f6cae2;
}

.header_outer {
	background: url(raspberry/siteheadertile.png) 900px 0 no-repeat;
}

.header_container .header {
	background: url(raspberry/siteheader.png) -250px 0 no-repeat;
}

.sitetitle,
.sitesubtitle {
	text-shadow: #8b1946 3px 2px 0;
}

.footer_liner {
	border-top: 1px solid #eb0a82;
	border-bottom: 1px solid #eb0a82;
}

#footer h3 {
	border-bottom: 1px dotted #eb0a82;
}

#loadstats {
	background: #eb0a82;
	color: #8c1946;
}

#power a {
	color: #eb0a82;
}

.btn-default,
.btn-default:visited,
button,
.button input,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #e60b7f;
	border-color: #f588c1 #b00b62 #b00b62 #f588c1;
	font-weight: bold;
}

.btn-default:hover,
button:hover,
.button input:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #b4135f;
	border-color: #b00b62 #f588c1 #f588c1 #b00b62;
}

.highlight,
.button.highlight a {
	border-color: #fa9ccd;
	color: #b51360;
}

.button.highlight a {
	background: #f9dcec;
	color: #b51360;
}

#topbar_modules .dropdown-menu,
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.header .cssmenu_horiz li ul a,
.header .cssmenu_horiz li:hover ul a,
#topbar_modules .cssmenu_horiz li ul a,
#topbar_modules .cssmenu_horiz li:hover ul a  {
	background: #771437;
	color: #fff;
}

#topbar_modules .dropdown-menu {
	background: #b91262 url(raspberry/siteheader.png) no-repeat -600px -40px;
}

#topbar_modules .dropdown-menu > li > a:hover,
#topbar_modules .dropdown-menu > li > a:focus,
.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.header .cssmenu_horiz li ul a:hover,
#main #topbar_modules .cssmenu_horiz li ul a:hover  {
	background: #8c1946;
}

#topbar_modules .dropdown-menu li.active a, /* bootstrap */
.header .cssmenu_horiz li.selected a,
#topbar_modules .cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #f6cae2;
}

.header .cssmenu_horiz li.selected li a,
#topbar_modules .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(raspberry/arrows-b51360.png) no-repeat 10px 0;
}

select,
textarea,
.adminoptionbox option {
	background: #f9dcec;
	border-color: #fa9ccd #fcf6f9 #fcf6f9 #fa9ccd;
}

.panel-default > .panel-heading {
	background: #a82a76;
}

.titlebar,
.panel-heading {
	border-color: #d40b75;
	background: #f6cae2;
	color: #8b1946;
}

.modules .panel-default > .panel-heading,
.modules .panel-default > .panel-body {
	background: none;
}

.well {
	background: #f6cae2;
	color: #8b1946;
	border: 2px solid #d40b75; 
}

.panel-heading {
	border-bottom: 3px solid #d40b75;
}

.postbody-title,
#top_modules .module.secondary_site_menu {
	background: #e10c7c url(raspberry/siteheader.png) no-repeat -1000px -200px;
}

.adminanchors {
	background: #d40b75;
}

.table,
.wikitable {
	border: 2px solid #f459ab;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks,
th.header {
	background: #f459ab;
	color: #f9dcec;
}

.wikicell {
	border: 2px solid #f6cae2;
}

.caltable .odd,
.caltable .even,
.caltable .calborder,
.wikicell {
	border: 1px solid #fcebbc;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #f9dcec;
}

.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #fdf1d0;
}

.even,
table.table tr:nth-child(2n),
.tablesorter tr.even td {
	background: #fcebbc;
}

.tabmark {
	border: 1px solid #f588c1;
	background: #b4135f;
	color: #fff;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #f588c1;
	background: #f49fcc;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #b4135f;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #f49fcc;
}

/* Quote plugin */
.quoteheader {
	border-bottom: 2px solid #f6cae2;
}

.quotebody {
	border-left: 8px solid #f6cae2;
}

.postbody-title > br {
	display: none;
}

.post .author,
.dirsite {
	background: #f6cae2;
}

.postbody-content {
	border: 1px solid #df0c7a;
	border-top: none;
}

.post .author {
	border: 1px solid #df0c7a;
	border-top: none;
	border-bottom: none;
}


/* cluetip tooltips */

.cluetip-default {
	background: #f6cae2;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #f6cae2;
}
.cluetip-default h3#cluetip-title {
	background: #b4135f;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #f459ab;
}
  

.s5-slide {
    background-color: #E60B7F !important;
}
.s5-slide:after {
    box-shadow: -5rem -2rem 0 0 #781337 inset, 0 0 2rem rgba(0, 0, 0, 0.5);
}
.s5-slide-li-highlighted {
    color: #E60B7F;
}
