/* $Id: watermelon.css 50368 2014-03-18 12:06:34Z luciash $ 
	Watermelon theme option for FiveAlive themes for
	Tiki Wiki CMS Groupware.
*/

@import url("../jquery-ui/options/watermelon/jquery-ui.min.css");

a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #c21e3b;
}

a:active,
a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #e10c7c;
}

fieldset {
	border: 1px solid #b51360;
}

hr {
	border-top: #c31e3b;
}

.header_outer {
	background: url(watermelon/siteheadertile.png) 0 0 no-repeat;
}

.header_container .header {
	background: url(watermelon/siteheader.png) -250px 0 no-repeat;
}

.sitetitle,
.sitesubtitle {
	text-shadow: #8b1932 3px 2px 0;
}

.footer_liner {
	border-top: 1px solid #eb1e41;
	border-bottom: 1px solid #eb1e41;
}

#footer h3 {
	border-bottom: 1px dotted #eb1e41;
}

#loadstats {
	background: #eb1e41;
}

#power a {
	color: #eb1e41;
}

.btn-default,
.btn-default:visited,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #c31e3b;
	border-color: #e7768a #a61d35 #a61d35 #e7768a;
	font-weight: bold;
}

.btn-default:hover,
.button a:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #b4135f;
	border-color: #a61d35 #e7768a #e7768a #a61d35;
}

.highlight,
.button.highlight a {
	border-color: #fb999e;
	color: #b51360;
	background: #f9f6df;
}

.button.highlight a {
	background: #f9dfe2;
	color: #b51360;
}

#topbar_modules .dropdown-menu,
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.header .cssmenu_horiz li ul a,
.header .cssmenu_horiz li:hover ul a,
#main #topbar_modules .cssmenu_horiz li ul a,
#main #topbar_modules .cssmenu_horiz li:hover ul a  {
	background: #8c1832;
	color: #fff;
}

#topbar_modules .dropdown-menu {
	background: #c61e3c url(watermelon/siteheader.png) no-repeat -600px -40px;
}

#topbar_modules .dropdown-menu > li > a:hover,
#topbar_modules .dropdown-menu > li > a:focus,
.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.header .cssmenu_horiz li ul a:hover,
#main #topbar_modules .cssmenu_horiz li ul a:hover  {
	background: #fb999e;
}

#top_modules #secondary_site_menu .cssmenu_horiz li.selected a,
#topbar_modules .dropdown-menu li.active a, /* bootstrap */
.header .cssmenu_horiz li.selected a,
#topbar_modules .cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #e22848;
}

.header .cssmenu_horiz li.selected li a,
#top_modules #secondary_site_menu .cssmenu_horiz li.selected li a,
#topbar_modules .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(watermelon/arrows-c21e3b.png) no-repeat 10px 0;
}

select,
textarea,
.adminoptionbox option {
	background: #f9dfe2;
	border-color: #fb999e #f9f0f0 #f9f0f0 #fb999e;
}

.titlebar,
.panel-default .panel-heading {
	border-color: #c31e3b;
	background: #f6cdd2;
	color: #8b1932;
}

.panel-default.module > .panel-heading,
.panel-default.module > .panel-body {
	background: none;
}

.panel-default.module .panel-heading {
	border-bottom: 3px solid #c31e3b;
}

.well {
	background: #f6cdd2;
	color: #8b1932;
	border: 2px solid #c31e3b;
}

.panel-heading,
.postbody-title,
#top_modules .module.secondary_site_menu {
	background: #e41e40 url(watermelon/siteheader.png) no-repeat -1000px -200px;
}

.adminanchors {
	background: #c31e3b;
}

.table,
.wikitable {
	border: 2px solid #8b1932;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks,
th.header {
	background: #8b1932;
	color: #f9dfe2;
}

.caltable .odd,
.caltable .even,
.caltable .calborder {
	border: 1px solid #8b1932;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #f9f6df;
}

.odd,
table.table tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #f6cdd2;
}

.even,
table.table tr:nth-child(2n),
.tablesorter tr.even td {
	background: #f9f0f0;
}

.wikicell {
	border: 2px solid #f6cdd2;
}

.tabmark {
	border: 1px solid #f588c1;
	background: #e71e40;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #f588c1;
	background: #eba9b5;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #8b1932;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #eba9b5;
}

/* Quote plugin */
.quoteheader {
	border-bottom: 2px solid #f6cdd2;
}

.quotebody {
	border-left: 8px solid #f6cdd2;
}

.postbody-title {
	background: #e31e40 url(watermelon/siteheader.png) -550px -90px no-repeat;
}

.post .author,
.dirsite {
	background: #f6cdd2;
}

.postbody-content {
	border: 1px solid #e41e40;
	border-top: none;
}

.post .author {
	border: 1px solid #e41e40;
	border-top: none;
	border-bottom: none;
}

/* cluetip tooltips */

.cluetip-default {
	background: #f9dfe2;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #f9dfe2;
}
.cluetip-default h3#cluetip-title {
	background: #A00134;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #f9dfe2;
}
  

.s5-slide {
    background-color: #E71E40 !important;
}
.s5-slide:after {
    box-shadow: -5rem -2rem 0 0 #8B1831 inset, 0 0 2rem rgba(0, 0, 0, 0.5);
}
.s5-slide-li-highlighted {
    color: #E71E40;
}
