body > .container {
  background: #fff;
  border: 1px solid #aaa;
  margin-top: 18px;
  margin-bottom: 18px;
}
#col1 {
  margin-left: -1px;
  margin-right: -1px;
}
#col2 {
  margin-right: -1px;
  margin-left: 1px;
}
#col3 {
  margin-right: 0;
}
#col1,
#col2,
#col3 {
  border: 1px solid #aaa;
  /*border-width: 0 1px;*/
}
#col3 {
  border-right-width: 0;
}
h3.panel-title {
  color: black;
  font: 90% "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  /*  height: 18px;  margin: 0px 0px 7px 1em;  padding: 0px;*/
  text-transform: uppercase;
}
#col2 .panel-default,
#col3 .panel-default,
#col2 .panel-default > .panel-heading,
#col3 .panel-default > .panel-heading {
  border: none;
}
#col2 .panel-heading,
#col3 .panel-heading {
  padding: 10px 15px 0 10px;
}
