/* $Id: amette.css 49278 2013-12-31 09:27:49Z chibaguy $
	Amette theme option for Arcturus theme.
	Tiki Wiki-CMS-Groupware.
*/

/* reset arcturus values */
#middle,
#c1c2 #col2,
#c1c2 #wrapper #col1 #tiki-center,
#col3,
#tiki-top,
.wikitext,
.footerbgtrap,
.box,
h3.box-title,
.separator {
	background: none;
}

h1, h2, h3, h4, h5 {
	font-family: Arial, Helvetica, sans-serif;
}

#secondary_site_menu li,
#secondary_site_menu li a,
#tiki-top .cssmenu_horiz li,
#tiki-top .cssmenu_horiz li a {
	background: none;
}

/* end reset */

body {
	background: #fff;
	font-family: Verdana, sans-serif;
}

dt {
	font-weight: bold
}

a,
a:visited {
	color: #24880c;
}

a:hover {
	color: #0000ff;
	background-color: #fff;
}

h1 {
	margin-top: 0;
	text-align: center;
	font-size: 25px;
}

h2 {
	font-size: 22px;
	margin-bottom: 0;
	padding: 0;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 15px;
}

hr {
	border-top: none;
	border-bottom: solid 0.2em #25880c;
	height: 1px;
}

input {
	border: solid 1px #abcdef;
	padding: 0.1em;
	vertical-align: middle;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='file'],
input[type='number'],
input[type='search'] {
	font-size: 1em;
	border: solid 1px #24880c;
}

textarea {
	border: solid 1px #24880c;
}

input[type="submit"], input[type="file"], select {
	border: solid 1px #24880c;
	background: #eef5ee;
	color: #24880c;
}

.button a,
.button a:visited,
button,
input[type=reset],
input[type=submit],
.button input {
	border-color: #24880c;
	background: #24880c url(simple/button_bg.png) center center repeat-x;
	color: #24880c;
	font-family: "Trebuchet MS", "Luxi Sans", "Lucida Grande", Tahoma, helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.6em;
	font-weight: normal;
}

.button a:hover,
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button input:hover {
	border-color: #000;
	color: #000;
	font-size: 0.8em;
	line-height: 1.6em;
	font-weight: normal;
}

fieldset {
	border: solid 1px #99ccff;
}


h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover,
.article h2,

h1 a.pagetitle,
h1 a.pagetitle:visited,
h1 a.pagetitle:hover {
	display: block;
	font-size: large;
	font-weight: normal;
	font-size: 25px;
	text-align: center;
	background: #24880c url(amette/gradient.png) center center repeat-x;
	border: solid 1px #24880c;
	color: #fff;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 4px;
	padding-bottom: 4px; 
	padding-left: 3px;
	text-decoration: none;
}

div.articletitle h2 a {
	color: white;
	background: #24880c url(amette/gradient.png) center center repeat-x;
	text-decoration: none;
}


div.articletitle h2 a:visited {
	color: #eef5ee;
	background: #24880c url(amette/gradient.png) center center repeat-x;
	text-decoration: none;
}

div.articletitle h2 a:hover {
	color: blue;
	background: #24880c url(amette/gradient.png) center center repeat-x;
	text-decoration: none;
}

.box {
	background-color: #eef5ee;
	border: none;
	margin: 0.2em;
	padding: 0;
}

h3.box-title {
	background: #24880c url("amette/gradient.png") center center repeat-x;
	border-bottom: solid 0 #abcdef;
	overflow: hidden;
	padding: 0.2em;
	text-align: center;
	color: #fff;
}

h3.box-title a {
	color: #fff;
}
  
.box-data {
	padding: 0.2em 0.2em 0.4em;
}

.box-data a {
	text-decoration: underline;
}

.box-data a:hover {
	color: #0000ff;
	background: #fff;
}

.box-data .option,
.box-data .separatorline {
	font-size: 0.9em;
	height: 1.2em;
	text-align: start;
}

.box-title a.login {
	color: #DABA00;
	background-color: #eef5ee;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
}

.box-title a.login:hover {
	color: #DABA00;
	background-color: #fff;
}

.box-title a.logout {
	background-color: #fff;
	text-decoration: none;
	color: #24880c;
	padding-left: 1em;
	padding-right: 1em;
}

.box-title a.logout:hover {
	background-color: #DABA00;
	color: #fff;
}

#tiki-top .cssmenu_horiz li a {
	background-color: #0174BB;
}

.cssmenu_vert a {
	color: #24880c;
	text-decoration: none;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.cssmenu_horiz a,
.cssmenu_vert a,
#tiki-top .cssmenu_horiz li ul li a,
#tiki-top .cssmenu_horiz li:hover ul li a {
	color: #000;
	font-size: 13px;
}
/*dropdown background and border */
.cssmenu_vert li ul li,
.cssmenu_horiz li ul li {
	border: 1px solid #fdfefd;
	border-top: 0;
	margin-bottom: -1px;
}

.cssmenu_vert li ul,
.cssmenu_horiz li ul {
	border: 0;
}

.cssmenu_vert li ul li:first-child,
.cssmenu_horiz li ul li:first-child {
	border-top: 1px solid #3676c4;
}

.separator {
	text-align: start;
	font-weight: bold;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding: 0.2em;
}

.separator a {
	color: #24880c;
	font-size: 13px;	
}

.option a {
	color: #24880c;
	border: 1px solid #eef5ee;
	margin-left: -10px;
	margin-bottom: 1px;
	margin-top: 1px;
	font-size: 13px;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 2em;
	text-align: start;
	text-decoration: none;
}

.option a:hover {
	background-color: #ffffff;
	border: solid 1px #24880c;
	color: #24880c;
}

.box-data .linkmenu.highlight {
	background-color: #ffffff;
	border: solid 1px #24880c;
	margin-bottom: 1px;
	margin-top: 1px;
}
/*****************
** custom menus **
*****************/
.menu {
	width: 15em;
	padding-left:2em;
	margin-bottom: 0em;
	font-family: 'Trebuchet MS', 'Lucida Grande',
	Verdana, Lucida, Geneva, Helvetica, 
	Arial, sans-serif;
	background-color: #eef5ee;
	font-size: 1em;
}
.menu ul {
	list-style: none;
	margin: 0px;
	margin-left: -30px;
	padding: 0px;
	border: none;
}
.menu li {
	border-bottom: 1px solid #24880c;
	list-style:none;
	margin: 0px;
}



/* tables */
table {
	border: solid 1px #24880c;
	font-size: 1em;
}

th,
td.heading,
tr.diffheader {
	background: #abcdef;
	border: solid 1px #24880c;
	font-size: 1em;
	width: 15px;
}

th a,
th a.link,
td.heading a,
tr.diffheader a {
    color: #fff;
}


h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover,
.article h2 {
	color: #000;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 1.3em;
	background: url(amette/gradient.png) repeat-x center center #24880c;
	border: 1px solid #24880c;
	color: #fff;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom:10px;
	padding-left:3px;
	padding-top:10px;
	text-align:center;
}

h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover {
	border: none;}

.titlebar {
	background: #abcdef;
	font-weight: bold;
	color: #000;
}

/*
 * calendar
 */
.opaque { /* onmouseover info box */
	background-color: #fff;
}
.cbox-title {
	font-size: medium;
	text-align: center;
/* background-color: #fff;*/
	color: #003150;
}

.cbox {
	background-color: #F0F0F0;
	/*border: solid #0077CC;
	 */
}
/*
 * wiki pages
 */
.description {
	text-align: center;
	background-color: #24880c;
	color: #fff;
}

.description h1 {
	margin-top: 4px;
	margin-bottom: 4px;
}

.pageheading {
	font-size: large;
	background-color: #24880c;
	border: solid 1px #24880c;
	color: #fff;
	text-align: center;
	background-color: #24880c;
	color: #fff;
	margin-bottom: 4px;
	text-decoration: none;
}
.pageheading h1 {
	margin-top: 4px;
	margin-bottom: 4px;
}
.pageheading a {
	text-decoration: none;
	color: #fff;
}
.normal .even, /* table with class normal, even cells */
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background-color: #fff;
}
.normal .odd, /* table with class normal, odd cells */
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background-color: #fff;
}
.simplebox { /* simple box wiki syntax */
	background-color: #fff;
	border: 1px solid #99ccff;
}

.wikitable { /* wiki table syntax */
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-right: none;
	border-bottom: none;
	margin: auto;
	padding: 0;
	width: 90%;
}
.wikitable td {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 0;
	padding: 0.2em;
}

.wikitext {
	background-color: transparent;
}

.wikitopline {
	border: 1px solid #abcdef;
	background-color: #DFEDF7;
}
.titlea {
 font-size: large;
}
.titleb {
 font-size: x-small;
}
.bloginfo {
	background-color: #eef5ee; /*#F0F0F0;*/
	color: #24880c;
	font-size: 1.2em;
	/*border: solid 1px #24880c;*/
}
.postbody {
	margin-bottom: 0px;
}
.postfooter {
	/*background-color: #F0F0F0;*/
	text-align: right;
	margin-bottom: 10px;
/*	border: solid 1px #C0C0C0;
	background-color: #E7F2D8;
	border: solid 1px #6BB521;*/
}
.posthead h2 {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
}
.posthead {
	border-bottom: solid 1px #24880c;
	color: #1B6309;
	margin-top: 10px;
}


/* tiki tabs */

.tabs {
	background: #fff;
}

.tabmark {
	background: #abcdef;
	border: 1px solid #abcdef;
}

.tabmark a,
.tabmark a:visited { 
	color: #000;
}

.tabinactive:hover,
.tabactive {
	background: #fff;
	color: #ff0000;
}
/*
.tabmark a:hover {
	color: #000;
	background-color: #fff;
}*/

.tabactive a:hover,
.tabinactive a:hover {
	background: none;
}

.tabcontent {
	border: 1px solid #abcdef;
	padding: 6px 2px 2px 2px;
	margin-bottom: 25px;
	background: #fff;
}


.normal {
	border: solid 1px #24880c;
}

.categpath {
	font-size: x-small;
}

/* CODE plugin */
.codecaption { 
	font-size: 12px; 
	padding: 0 10px; 
	background: #E7F2D8; 
	position: relative; 
	left: 3px;
	bottom: -3px; 
	display: inline; 
	border: 1px solid #ADACAF; 
	border-bottom: 0; 
	margin: 0; 
	color: #000; 
	font-weight: bold; 
}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	padding: 10px;
	background: #fff;
	margin: 0;
	border: 1px solid #ADACAF;
	overflow: auto; 
}

/* VERSION plugin */
.versions {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	min-height: 142px;
}

.versionav {
	display: inline;
	float: right;
	border-left: 1px solid #999;
}

.versionav .button2 {
	text-align: center;
	display: block;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: transparent;
}

.versionav .button2 .linkbut {
	border: solid 0px;
	margin-bottom: 6px;
	text-decoration: none;
	border: 0;
	background-color: inherit;
	padding: 0 10px;
}

.versionav .highlight {
	background-color: #cccccc;
	font-weight: bold;
}

.versiontitle {
	font-weight: bold;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	padding: 2px 30px;
	float: right;
}

/* QUOTE plugin */
.quoteheader {
	margin: 10px 5px 0px 5px;
	padding: 4px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #a9b8c2;
	color: black;
	font-weight: bold;
	background-color: #a9b8c2;
	font-size: 8pt;
}

.quotebody {
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #a9b8c2;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	color: black;
	background-color: #edeeef;
}

/* main calendar table */
#caltable {
	border-left: solid 1px #abcdef;
	border-top: solid 1px #abcdef;
	border-right: none;
	border-bottom: none;
}

/* main calendar table cells */
#caltable td {
	background: #fff;
	border-right: solid 1px #abcdef;
	border-bottom: solid 1px #abcdef;
	padding: 0.1em;
	vertical-align: top;
}

.caltable td.calhighlight {
	background: #fbf9ee;
}

td.calheadhighlight {
	background: #eef5ee;
}

td.calheadhighlight {
	border: solid 1px #24880c;
}
