/* $Id: geo.css 49087 2013-12-15 02:46:19Z chibaguy $
	Geo theme option for Arcturus theme.
	Tiki Wiki-CMS-Groupware.
*/

/* reset arcturus values */
body,
#middle,
#c1c2 #col2,
#c1c2 #wrapper #col1 #tiki-center,
#col3,
#tiki-top,
.wikitext,
.footerbgtrap,
.box,
h3.box-title,
.separator,
.option a:hover {
	background: none;
}

.box {
	border: none;
}

/* may need to change these */
#tiki-top {
	padding-right: 5px;
	padding-left: 6px;
	border-bottom: 1px dashed #777750;
	color: #000;
	font-size: 11px;
}

#tiki-top a {
	color: #000;
}

h1, h2, h3, h4, h5 {
	font-family: Arial, Helvetica, sans-serif;
}

/*#secondary_site_menu li,
#secondary_site_menu li a,
#tiki-top .cssmenu_horiz li,
#tiki-top .cssmenu_horiz li a*/
.cssmenu_horiz li,
.cssmenu_horiz li a {
	background: none;
}


/* theme option styles */

body {
	background: #e1e2b9 url(geo/backmap.png) 100% 100% no-repeat fixed;
}	

a {
	color: #2255aa;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #114499;
	text-decoration: none;
}

#main {
	background: url(geo/fond2tete.png) no-repeat fixed;
}

h1,
h2,
h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #595930;
	padding-left: 10px;
	padding-right: 10px;
}

input, select {
	color: #000;
	background:   #f1f1c9;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #999970;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	color: #000;
	background: #f1f1c9;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #999970;	
}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	border: 1px solid #999970;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

textarea {
	color: #000;
	background: #f1f1c9;
	border: 1px solid #999970;
	font: normal 12px "Courier New", Courier, monospace;
}

input[type=submit] {
	background: #b1b299;
	border: 1px solid #595930;
	text-indent: 0;
}

input[type=submit]:hover {
	color: #000;
	background: #f1f1c9;
	border: 1px solid #2255aa;
}

#col2 {
	border-right: 1px solid #fff;
}

#tiki-center {
	border-left: 1px solid #999970;
	border-right: 1px solid #999970;
}

h3.box-title {
	border-bottom: 1px dashed #999970;
	font-size: 10px;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 1px;
}

.box-data {
	color: #777750;
	margin-left: 15px;
	margin-right: 5px;
}

.box-data li {
	border-top: 1px solid #f1f1c9;
	border-bottom: 1px solid #b1b299;
}

.cbox {
	background: #f1f1c9;
	color: #000;
}

.cbox-title {
	border-bottom: 1px dashed #b1b299
}

.separator {
	margin-top: 4px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	border-bottom: 1px dashed #777750;
	width: auto;
	color: #595930;
	text-decoration: none;
}

.separator:hover {
	color: #000;
	background: #f1f1c9;
	text-decoration: none;
}

.option a:hover {
	background: #f1f1c9;
}

.cssmenu_horiz a,
.cssmenu_vert ul a,
.modules .cssmenu_horiz li ul li a,
.modules .cssmenu_horiz li:hover ul li a {
	background: #d1d2a9;
	text-decoration: none;
	padding: .2em 1em;
}

.simplebox {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px;
	color: #000;
	border: 1px solid #777750;
	background: #f1f1c9;
	width: auto;
}

.normal {
	border: 1px solid #777750;
}

th,
td.heading,
tr.diffheader {
	font-weight : bold;
	padding-left: 2px;
	padding-right: 5px;
	border-bottom: 1px dashed #777750;
}

tr.odd td,
td.odd,
li.odd,
.oddthumb,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #d9d9b0;
}

tr.even td,
td.even,
li.even,
.eventhumb,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background: #d1d2a9;
}


.tabs {
	background: none;
	border: 1px solid #777750;
}

.tabmark {
	background: #b1b299;
	border: 1px solid #999970;
}

.tabmark a,
.tabmark a:visited {
	padding: 0.5em 1em;
	color: #000;
	font-weight: normal;
}

.tabinactive:hover,
.tabactive {
	border-bottom-width: 0;
	padding-bottom: 1px;
	color: #fff;
	background: #f1f1c9;
	border: 1px solid #fff;
	font-weight: normal;
}

.tabactive a:hover,
.tabinactive a:hover {
	background: none;
}

.statuson {
	background: #b1b299;
}

.tabcontent {
	background: #f1f1c9;
	border: 1px solid #777750;
}

.pagetitle,
a.pagetitle {
	font-weight: bold;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #595930;
}

.a.pagetitle:hover {
	text-decoration: underline;
	color: #000;
	background: #f1f1c9;
}

.wikitext {
	background:#F1F1C9;
}

.wikitext h1, 
.wikitext h2, 
.wikitext h3 {
	font-weight: bold;
	margin:0;
	margin-top: 7px;
	padding-left:0px;
	padding-right:0px;
}

.wikitext h1 {
	font-size: 18px;
	color: #595930;
}

.wikitext h2 {
	font-size: 16px;
	color: #696940;
}

.wikitext h3 {
	font-size: 14px;
	color: #797950;
}

.titlebar {
	background: #B5A58C;
	color: #fff;
	border: 1px solid #fff;
	padding: 1px;
	margin: 1px;
	font-weight: bold;
}

/*** Calendar ***/

.caltable .even {
	background: #d1d2a9;
}

.caltable .odd {
	background: #f1f1c9;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #f1f8de;
}