/* $Id: jalist.css 49224 2013-12-22 09:12:52Z chibaguy $
	Jalist theme option for Legacy.css;
	for TikiWiki CMS/Groupware.
	Visit http://themes.tiki.org for more information.
*/	

/* reset arcturus values */
body,
#middle,
#c1c2 #col2,
#c1c2 #wrapper #col1 #tiki-center,
#col3,
#tiki-top,
.wikitext,
.footerbgtrap,
.box,
h3.box-title,
.separator,
.option a:hover {
	background: none;
}

/* may need to change these 
#tiki-top {
color:#FFFFFF;
font-size:1.1em;
}
*/

#secondary_site_menu li,
#secondary_site_menu li a,
#tiki-top .cssmenu_horiz li,
#tiki-top .cssmenu_horiz li a {
	background: none;
}

body {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #333;
	background: #efefef;
}

a,
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #636363;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
	font-family:   "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #08639C;
}

h1 {
	font-size:   26px;
}

h2 {
	font-size:   22px;
}

h3 {
	font-size:   20px;
}

em {
	font-weight: bold;
	font-style: italic;
}

pre.code {
	background-color: #f0f0f0;
}

fieldset {
	border: 1px solid #d4d4d4;
}

legend {
	color: #333;
}


.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #ccc;
	border: 1px solid #000;
}

.button a:hover,
.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	font-size: 11px;
	color: #636363;
}

#tiki-top {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: url(jalist/maincap.png) center 0;
	color: white;
}

#tiki-top a,
#tiki-top a:visited {
	color: #fff;
}

#c1c2	#wrapper	#col1	.content {
	background: transparent;
}

#c1c2 #wrapper #col1 #tiki-center {
	padding: 10px;
}

.footerbgtrap {
	padding-top: 10px;
	margin-top: 0;
	background: #CECECE;
	padding-bottom: 15px;
}

.box {
	background: #f5f5f5 url(jalist/grad.png) repeat-y;
	border: 1px solid black;
	margin: 4px 4px 10px;
	padding-bottom: 10px;
	width: auto;
	color: #000;
}

#col2 .box,
#col3 .box {
	width: 170px;
}

h3.box-title {
	background: #63636e url(jalist/menucap.png) no-repeat;
	border-bottom: 1px solid black;
	font-size: 11px;
	text-align:   center;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 1px;
	margin-top: 0;
	color: #fff;
}

.simplebox {
	margin-left: 5px;
	margin-right: 5px;
}

.cbox {
	background: #e0e0e0;
	margin-top: 4px;
	margin-bottom: 0;
	border: 1px solid black;
	padding-bottom: 10px;
	width: auto;
	color: black;
	font-size: 11px;
}

.cbox-title {
	background: url(jalist/maincap.png);
	border-bottom: 1px solid black;
	font-size: 11px;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	color: #fff;
	overflow: hidden;
}

.cssmenu_horiz a,
.cssmenu_vert ul a,
.cssmenu_horiz a:hover,
.cssmenu_vert a:hover,
#tiki-top .cssmenu_horiz li ul li a,
#tiki-top .cssmenu_horiz li:hover ul li a {
	background: #f5f5f5 url(jalist/grad.png) repeat-y;
	text-decoration: none;
}

.cssmenu_vert li ul li {
	background: none;
}

th,
td.heading,
tr.diffheader {
  color: #000;
  font-size: 10px;
  background: #e0e0e0; 
  border: 1px solid #676767;
  padding-left: 2px;
  padding-right: 5px;
}

th a,
th a.link,
td.heading a,
tr.diffheader a {
    color: #000;
}

tr.odd td,
td.odd,
li.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	font-size: 10px;
	background-color:#F0F0F0;
	border:1px solid #676767;}

tr.odd td:hover,
td.odd:hover,
li.odd:hover,
table.normal tr:nth-child(2n+1):hover,
.tablesorter tr.odd td:hover {
	background: #FFF7E6;
}

tr.even td,
td.even,
li.even,
.forum_actions,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	border: 1px solid #676767;  
	font-size: 10px;
	background-color: #E0E0E0;
	color: black;
}

tr.even td:hover,
td.even:hover,
li.even:hover,
table.normal tr:nth-child(2n):hover,
.tablesorter tr.even td:hover {
	background: #FFF7E6;
}


.tabs {
	background: #fff;
	border: 1px solid #000;
}

.tabmark {
	border: 1px solid #000;
	background: url(jalist/menucap.png);
}

.tabmark a,
.tabmark a:visited {
	padding: 0.5em 1em;
	color: #fff;
	font-weight: bold;
}

.tabinactive:hover,
.tabactive {
	border-bottom-width: 0;
	padding-bottom: 1px;
	color: #fff;
	background: url(jalist/menucap.png) 100% 0;
	border: 1px solid #fff;
	font-style: italic;
	font-weight: bold;
}

.tabactive a:hover,
.tabinactive a:hover {
	background: none;
	text-decoration: none;
}

.tabcontent {
	background: #f5f5f5 url(jalist/grad.png) repeat-y;
	border: 1px solid black;
}


h1, .pagetitle {
	font-weight: bold;
	font-size: 26px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #08639C;
	text-decoration: none;
}


body.cke_show_borders,
.wikitext {
	background:    white;
	font-size:   11px;
	border:   1px solid black;
	padding: 1px;
	margin: 5px 1px;
}

.titlebar {
	background: #EFEFEF;
	color: #000;
	border: 1px solid #fff;
	padding:  1px;
	margin: 1px;
	width: 99%;
	clear: both;
	font-weight: bold;
}

.wiki {
	color: black !important;
}

.wiki:hover {
	color: #636363;
}

.post .postbody {
	font-size: 11px;
}

/*** Calendar ***/

.calmodfocus {
	text-decoration: underline;
}

.calendarweek td.calheadhighlight {
	background: #fff;
	border: 1px solid #676767;
}