/* $Id: matrix.css 49087 2013-12-15 02:46:19Z chibaguy $
	Matrix theme option for Arcturus.css;
	for TikiWiki CMS/Groupware.
	Visit http://themes.tiki.org for more information.
*/	

/* reset arcturus values */
body,
#middle,
#c1c2 #col2,
#c1c2 #wrapper #col1 #tiki-center,
#col3,
#tiki-top,
.wikitext,
.footerbgtrap,
.box,
h3.box-title,
.separator,
.option a:hover {
	background: none;
}

/* end reset */

body {
    color: #00b000;
    background: #001000 url(matrix/matrix.jpg) fixed;
    margin: 0;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
}

html>body {
	font-size: 11px;
}

a,
a:link,
a:visited {
	color: #00e000;
	text-decoration: none;
}

a:hover {
    color: #00f000;
    text-decoration: underline;
    background: none;
}

em {
	font-weight: bold;
	font-style: italic;
}

hr {
	color: #00A000;
	border: 1px outset #008000;
}

h1,
h2,
h3,
h4 {
	font-family: "Matrix_vs_miltown", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #00f000;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

pre.code {
	font: normal 12px courier, Fixed;
}

fieldset {
	border: 1px solid #00b000;
}

legend {
	color: #00b000;
	font-weight: bold;
}

input,
textarea,
select {
    color: #f0f0f0;
    background: #5c8b58;
    font: normal 11px "Urw Gothic l", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#col2 input,
#col3 input {
    color: #00E000;
    background: transparent;
    border: 1px inset #00E000;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a,
.daterow {
	background: url(matrix/red.png);
	color: #00a000;
	border: 1px solid #676767;
	font-size: 11px;
}

.button a:hover,
.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover
.daterow:hover {
	background: url(matrix/ltgreen.png);
	border: 1px solid #676767;
	font-size: 11px;
}

.highlight, .button.highlight a {
	background: #00f000;
	color: #000;
}

#tiki-top {
	border: 1px outset #00A000;
}

#tiki-top a,
#tiki-top a:visited {
	color: #00e000;
	text-decoration: none;
}

#tiki-top a:hover {
    color: #00f000;
    text-decoration: underline;
    background: none;
}

#tiki-top:hover {
    border: 1px outset #00FF00;
}

.footerbgtrap {
    vertical-align: middle;
    font-family: "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#tiki-center {
    padding-left: 2px;
    padding-right: 2px;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/
.cssmenu_vert a,
.cssmenu_vert a:hover {
	padding: 0.1em 1em;
}

/* default and topbar dropdown typography (colors) and padding */
.cssmenu_horiz a,
.cssmenu_vert ul a,
.cssmenu_horiz a:hover,
#tiki-top .cssmenu_horiz li ul li a,
#tiki-top .cssmenu_horiz li:hover ul li a {
   color: #00e000;
	background: none;
	font-weight: normal;
	text-decoration: none;
	padding: .1em 1em;
}

.cssmenu_vert li,
.cssmenu_vert li ul li,
.cssmenu_horiz li,
.cssmenu_horiz li ul li,
#tiki-top .cssmenu_horiz li:hover ul li a {
	background: none;
}

.cssmenu_vert li ul li,
.cssmenu_horiz li ul li {
	background: #222;
}

/* next two, dropdown background and border */
.cssmenu_horiz ul li,
.cssmenu_vert ul li,
#tiki-top .cssmenu_horiz li:hover ul li {
	background: #222;
	border: 1px solid #00a000;
	border-top: 0;
	margin-bottom: -1px
}

.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: 1px solid #00a000;
}

#tiki-top .cssmenu_horiz ul {
	margin-top: -16px;
}

#tiki-top .cssmenu_horiz li a {
	padding: 2px 1em;
	font-size: 12px;
	text-decoration: none;
	background: none;
}

.cssmenu_horiz a:hover,
.cssmenu_vert a:hover,
#tiki-top .cssmenu_horiz li ul li a:hover {
	text-decoration: underline;
	color: #00e000;
	background: #70b080;
	padding: .1em 1em;
}

/* left column width */
#col2 ul.cssmenu_vert {
	padding-left: 0;
	margin-left: 0;
}

#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 166px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 166px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

#tiki-top .cssmenu_horiz li:hover ul ul,
#tiki-top .cssmenu_horiz li.sfHover ul ul,
#secondary_site_menu .cssmenu_horiz li:hover ul ul,
#secondary_site_menu .cssmenu_horiz li.sfHover ul ul {
	top: -1px;
}

a .sf-sub-indicator {
	top: 0.1em;
}

.sf-sub-indicator {
	background: url(matrix/arrows-00e000.png) no-repeat -10px -100px;
}

.cssmenu_vert li a .sf-sub-indicator {
	background: url(matrix/arrows-00e000.png) no-repeat 0 0;
}

.separator {
	background: #404040;
	color:#00e000;
	font-size:10px;
	margin:6px 2px 2px;
	width:90%;
}

.separator,
.option {
	line-height: normal;
}

.option a,
.separator a {
	color: #00e000;
	font-size: 11px;
	text-decoration: none;
}
	
.option a:hover {
	text-decoration: underline;
	background: #70b080}

.box {
	margin: 4px;
	margin-bottom: 6px;
	border: 1px outset #00a000;
	padding-bottom: 10px;
}

h3.box-title {
	margin-top: 4px;
	margin-bottom: 6px;
	font-family: "Matrix_vs_miltown", Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: left;
	color: #00e000;
}

.box-data {
	margin: 0px;
	padding: 4px;
	font-family: "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00b000;
}

.cbox {
	color: #001000;
	margin-top: 20px;
	border: 3px ridge #00b000;
	font: 12px "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.cbox-title {
	font-family: "Matrix_vs_miltown", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	text-align: left;
	margin-bottom: 20px;
	border-bottom: 1px;
	padding-left: 20px;
	background: none;
}

.simplebox {
	margin: 1px 5px;
	padding: 10px 5px 10px 20px;
	color: #001000;
	border: 1px ridge #00a000; 
	background-color: #f0f0f0;  
	font: 12px "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.cbox,
.separator:hover,
#tiki-center .simplebox {
    background: url(matrix/ltgreen.png) repeat;
}

.box,
.separator {
    background: url(matrix/dark.png) repeat;
}

.separator,
.rbox-title, 
.rbox-data {
    background: url(matrix/grey.png) repeat;
}

.rbox-title, 
.rbox-data {
    background: url(matrix/grey.png) repeat;
    color: #00b000;
    border-color: #00ff00;
}

.error .rbox-title,
.errors .rbox-title,
.warning .rbox-title {
	background: #90ee90;
	border-color: #00ff82 #00ff82 #90ee90;
	color: #000;
}

.error .rbox-data,
.errors .rbox-data,
.warning .rbox-data {
	background: #90ee90;
	border-color: #90ee90;
	color:#000;
}

.box:hover {
	border: 1px outset #00ff00;
}

.cbox#error-box {
	background: url(matrix/red.png) repeat;
}

.linkmenu:hover {
	background: #70b080;
}

th,
td.heading,
tr.diffheader {
	border: 1px outset #00b000;
	font-family: "Matrix_vs_miltown","Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	font-variant: small-caps;
	font-size: inherit;
	color: #90ee90;
	background-color: #000;
}

.normal,
.wikitable {
	border: 1px solid #000;
}

.normal td,
.wikicell {
	background: #70bb08;
	border: 1px outset #90ee90;
}

tr.odd td,
td.odd,
li.odd,
.calodd,
table.normal tr:nth-child(2n+1) td {
	color: #90ee90;
	background: #404040;
}

tr.even td,
td.even,
li.even,
.forum_actions,
.caltable .even,
table.normal tr:nth-child(2n) td {
	color: #90ee90;
	background: #507050;
}

/** Tablesorter **/

.tablesorter .header,
.tablesorter .tablesorter-header {
	padding: 4px 20px 4px 4px;
	cursor: pointer;
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
}
.tablesorter thead .headerSortUp,
.tablesorter thead .tablesorter-headerSortUp,
.tablesorter thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	border-bottom: #888 1px solid;
}
.tablesorter thead .headerSortDown,
.tablesorter thead .tablesorter-headerSortDown,
.tablesorter thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	border-bottom: #888 1px solid;
}

.tabs {
	border: 1px solid #00b000;
	background: none;
}

.tabmark {
	border: 1px solid #00a000;
	background: url(matrix/red.png);
}

.tabmark a,
.tabmark a:visited,
.days {
	color: #00a000;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #00a000;
	border-bottom-width: 0;
	padding-bottom: 1px;
	background-image: url(matrix/ltgreen.png);
}

.tabactive a:hover,
.tabinactive a:hover {
	background: none;
}

.tabactive a {
	color: #000 !important;	
}

.statuson {
	background: #676767;
}

.tabcontent {
	background: none;
}


h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover,
.article h2 {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #00b000;
}

.wikitext,
.titlebar,
.wikicell,
.wiki-edithelp,
.tocnav,
.codelisting {
    background: url(matrix/ltltgreen.png) repeat;
}

.wikitext {
	border: 3px ridge #00b000;
	color: #001000;
	margin: 5px;
	padding: 1px 8px 1px;
	font-size: 12px;
}

.wikitext h3 a {
	color: #000;
}

.titlebar {
	border: 1px outset #00b000;
	font: 20px "Matrix_vs_miltown","Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-weight: normal;
	color: #000;
	margin-top: 35px;
	padding-left: 5px;
}

.titleb {
	color: #676767;
	font-size: 10px;
}

.articleheading {
	border-bottom: 1px solid #aeaeae;
	font-size: 10px;
	padding-bottom: 0.5em;
	padding-right: 0.8em;
	padding-top: 0.5em;
}

.articletrailer {
	font-size: 9px;
}

.articlebody {
	border: 1px solid #aeaeae;
	padding: 1em 2em;
	margin: 10px 0;
	font-size: 10px;
	clear: both;
}

.oddthumb {
	background: transparent;
	border: 1px solid #8cacbb;
	border-collapse: collapse;
}

.eventhumb,
.thumbnailcontener {
		background: url(matrix/grey.png);
		border: none;
		margin: 3px;
}

.post .postbody {
	font-size: 11px;
}

.postbody-title {
	color: #00e000;
}

.dirfooter {
    background: url(matrix/ltgreen.png) repeat;
}

body.tiki_admin .simplebox,
a.admbox,
a.admbox.off {
	background-color: #507050;
}

/***Calendar***/
.caltable .odd,
.caltable .even {
	border: 1px outset #00a000 !important;
}

.caltable .odd {
	background: url(matrix/ltltgreen.png) repeat;
}

.caltable td.calhighlight,
#month_title.calheadhighlight {
	background: #000;
	color: #90ee90;
}

td.calheadhighlight {
	background: transparent;
	border: 1px outset #00b000;
}
.caltable .odd:hover,
.caltable .even:hover {
	border: 1px outset #00ff00 !important;
}

.opaque {
	background: #000;
}

.opaque span.box-title {
	color: #00a000;
}

.focus a,
.focus a:visited,
.calmodfocus a,
.calmodfocus a:visited {
	color: #00e000;
}