{* $Id: include_category.tpl 48726 2013-11-24 20:35:33Z chibaguy $ *}
<div class="t_navbar form-group">
	{button href="tiki-browse_categories.php" class="btn btn-default" _text="{tr}Browse categories{/tr}"}
	{button href="tiki-admin_categories.php" class="btn btn-default" _text="{tr}Administer categories{/tr}"}
	{button href="tiki-edit_categories.php" class="btn btn-default" _text="{tr}Organize Objects{/tr}" _title="{tr}Organize Objects{/tr}"}
</div>
{if !empty($feedbacks) || !empty($assignWikiCategories)}
	{remarksbox type="feedback" title="{tr}Feedback{/tr}"}
		{tr}Ok{/tr}
	{/remarksbox}
{/if}

<form action="tiki-admin.php?page=category" method="post">
	<input type="hidden" name="categorysetup" />
    <div class="row">
        <div class="form-group col-lg-12 clearfix">
            <div class="pull-right">
                <input type="submit" class="btn btn-default btn-sm" value="{tr}Change preferences{/tr}">
            </div>
        </div>
    </div>

	<fieldset class="table">
		<legend>{tr}Activate the feature{/tr}</legend>
		{preference name=feature_categories visible="always"}
	</fieldset>	

	<fieldset class="table">
		<legend>{tr}Plugins{/tr}</legend>
		{preference name=wikiplugin_category}
		{preference name=wikiplugin_catpath}
		{preference name=wikiplugin_catorphans}
	</fieldset>
	
	<fieldset>
	
		<legend>
			{tr}Features{/tr}{help url="Category"}
		</legend>
		
		{preference name=feature_categorypath}
		<div class="adminoptionboxchild" id="feature_categorypath_childcontainer">
			{preference name=categorypath_excluded}
			{preference name=categorypath_format}
		</div>
		{preference name=category_sort_ascii}
		<fieldset>
			<legend>
				{tr}Category objects{/tr}
			</legend>
			{preference name=feature_categoryobjects}
			{preference name=category_morelikethis_algorithm}
			{preference name=category_morelikethis_mincommon}
			{preference name=category_morelikethis_mincommon_orless}
			{preference name=category_morelikethis_mincommon_max}
		</fieldset>

		{preference name=feature_category_transition}
		{preference name=categories_used_in_tpl}
		<div class="adminoptionboxchild" id="categories_used_in_tpl_childcontainer">
				{preference name=feature_areas}
				{preference name=areas_root}
		</div>
		{preference name=category_jail}
		{preference name=category_defaults}
		{if !empty($prefs.category_defaults)}{button href="tiki-admin.php?page=category&amp;assignWikiCategories=y" _text="{tr}Re-apply the last saved category defaults to the wiki pages{/tr}"}{/if}
		{preference name=category_autogeocode_within}
		{preference name=category_autogeocode_replace}
		{preference name=category_autogeocode_fudge}

		{preference name=category_i18n_sync}
		<div class="adminoptionboxchild category_i18n_sync_childcontainer blacklist whitelist required">
			{preference name=category_i18n_synced}
		</div>

		{preference name=feature_wiki_mandatory_category}
		{preference name=feature_blog_mandatory_category}
		{preference name=feature_image_gallery_mandatory_category}
		{preference name=unified_add_to_categ_search}


	</fieldset>

	<fieldset>
		<legend>
			{tr}Plugins{/tr}{help url="Plugins"}
		</legend>
		{preference name=wikiplugin_category}
		{preference name=wikiplugin_catpath}
	</fieldset>

	<fieldset>
		<legend>{tr}Performance{/tr}</legend>
		{preference name=feature_search_show_forbidden_cat}
		{preference name=category_browse_count_objects}
	</fieldset>

    <br>{* I cheated. *}
    <div class="row">
        <div class="form-group col-lg-12 text-center">
            <input type="submit" class="btn btn-default btn-sm" value="{tr}Change preferences{/tr}">
        </div>
    </div>
</form>
