/* $Id: didiem.css 49087 2013-12-15 02:46:19Z chibaguy $
	Didiem (dediem.css) theme option for the Jqui theme of Tiki Wiki CMS Groupware.
	Adapted with permission from a Doubledot Media Limited (http://www.doubledotmedia.com) design.
	Visit http://themes.tiki.org for more information about this implementation for Tiki.
	CSS3 background gradients created at http://www.colorzilla.com/gradient-editor/ .
*/

body {
	font-family: Geneva, sans-serif;
	font-size: 120%;
}

/* Rules from fivealive.css, to have full-width header and footer backgrounds but fixed-width content. */
.fixedwidth {
	margin: 0;
}

body.fixed_width .fixedwidth {
	width: 100%;
	margin: 0;
}

.fixed_width .fixedwidth .fixedwidth {
	width: 990px !important;
	margin: 0 auto;
}

/* Enable header and footer content to widen when middle has wide content. */
body.fixed_width .fixedwidth .fixedwidth {
	padding: 0;
}

.header_container .fixedwidth {
    margin-left: auto;
}

#middle {
	display: table;
	margin: 0 auto;
}

.middle_outer {
	background: url(didiem/topbar.jpg) repeat-x;
}

#main[id] {
	margin-top: 0;
}

#footer {
	text-align: center;
	width: 100%;
	background: #ebebeb;
}

.footerbgtrap,
.post .postbody,
.postbody-title,
.post .author_info,
.forum_actions {
	color: inherit;
	background: none;
	border: none;
	margin: 0;
	text-align: left;
}

.post .postbody {
	background: #f7f7f7;
	padding: 0;
}

.postbody-title {
	padding: 0;
	background: #f0f0f0;
}

.postbody-title h2 {
	margin: 0.2em 0 0;
	padding-bottom: 0;
}

.postbody-title > br.clear {
	font-size: 1px;
}

.post .author {
	margin: 0;
	background: #f0f0f0;
}

.post .avatar {
	margin-bottom: 0;
}

#c1c2,
#col3 {
	padding-top: 20px;
	background: #fff;
}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {
	color: #6d9e26;
	text-decoration: none;
}

a:active,
a:hover {
	color: #8bbb47;
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	line-height: 1.1;
}

h1 {
	font-size: 1.6em;
	background: url(didiem/h_bullet.jpg) no-repeat 0 50%;
	padding-left: 19px;
}

h1:hover {
	background: url(didiem/h_bullet_hover.jpg) no-repeat 0 50%;
}

h2 {
	border: transparent 0 solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #f2f2f2;
	padding: .4em;
	font-size: 1.3em;
	background: url(didiem/h_bullet.jpg) no-repeat 0 50%;
	padding-left: 24px;
}

h2:hover {
	background: url(didiem/h_bullet_hover.jpg) no-repeat 0 50%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 120%;
}

h5 {
	font-size: 110%;
}

fieldset,
input,
.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a,
#tiki-top,
.box,
.cbox,
h3.box-title,
.simplebox,
.cbox-title,
.post .postbody,
body.tiki_admin .simplebox,
a.admbox,
a.admbox.off,
.forum_actions,
.admintoclevel,
.post .postbody-title,
.post .author_info {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.footerbgtrap,
.rbox-title,
.tabs,
.tabmark,
.postbody-title {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	margin: 0 4px 1px 0;
	cursor: pointer;
	padding: 4px .8em;
	text-transform: uppercase;
	width: auto;
	overflow: visible;
	border: none;
	font-weight: normal;
	color: #fff;
	outline: none;
	background: #a1bb87; /* Old browsers */
	background: -moz-linear-gradient(top,  #a1bb87 0%, #8fa872 50%, #a1bb87 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1bb87), color-stop(50%,#8fa872), color-stop(100%,#a1bb87)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a1bb87 0%,#8fa872 50%,#a1bb87 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a1bb87 0%,#8fa872 50%,#a1bb87 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a1bb87 0%,#8fa872 50%,#a1bb87 100%); /* IE10+ */
	background: linear-gradient(top,  #a1bb87 0%,#8fa872 50%,#a1bb87 100%); /* W3C */
}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	margin: 0 4px 1px 0;
	padding: 4px .8em;
	border: none;
	font-weight: normal;
	color: #fff;
	outline: none;
	text-decoration: none;
	background: #8ba06d; /* Old browsers */
	background: -moz-linear-gradient(top,  #8ba06d 0%, #a1bb87 50%, #a1bb87 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ba06d), color-stop(50%,#a1bb87), color-stop(100%,#a1bb87)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8ba06d 0%,#a1bb87 50%,#a1bb87 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8ba06d 0%,#a1bb87 50%,#a1bb87 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8ba06d 0%,#a1bb87 50%,#a1bb87 100%); /* IE10+ */
	background: linear-gradient(top,  #8ba06d 0%,#a1bb87 50%,#a1bb87 100%); /* W3C */
}

.highlight,
.highlight a,
.button.highlight a {
	border: none;
	background: #ddf0c1;
	color: #363636;
}

.button.highlight {
	border: none;
}

.highlight,
.highlight a,
.button.highlight a:hover {
	background: #c9f29a;
}

.navbar span.button,
.categbar span.button {
	margin-bottom: 1em;
	line-height: 2;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
select {
	margin: 1px 0;
}

form.filter {
	background: #f7f7f7;
	padding: 8px;
}

.filter {
	margin-bottom: 1em;
}

input[type="text"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
div.fancyfilter,
textarea {
	border: 1px solid #e0e0e0;
	background: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px;
}

.error {
	background: none;
}

label {
	font-weight: bolder;
}

/***** Site Header & Identity *****/

#topbar_modules {
	min-height: 35px;
}

#tiki-top {
	color: #3d3d3d;
	background: none;
	font-size: 1.1em;
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
}

#topbar_modules .box-search div {
	background: url(didiem/magnify.png) no-repeat;
	margin-top: 5px;
	width: 125px;
}

#topbar_modules .search_mod_magnifier {
	opacity: 0.01;
	cursor: pointer;
}

#topbar_modules .search_mod_buttons {
	display: none !important;
}

#topbar_modules .box-search input:first-of-type {
	border: none;
	padding-left: 2px;
	padding-top: 0;
	height: 20px;
	width: 95px;
	position: relative;
	right: -2px;
	top: -2px;
	background: transparent !important;
}

#topbar_modules .box-search .wikiaction {
	opacity: 0.01;
	font-size: 10px;
	width: 25px;
}

.box-search .button_default {
	display: inline;
}

#role_main .module {
	max-width: 250px;
}

#role_main {
	min-height: 500px;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

.cssmenu_horiz a,
.cssmenu_vert a {
	background: #fff;
	font-weight: normal;
	text-decoration: none;
	padding: .5em 1em;
}

.cssmenu_horiz ul li a,
.cssmenu_vert ul li a {
	background: #e2e2e2;
	border: none;
}

#tiki-top .cssmenu_horiz li ul li a:hover {
	background: #fff;
}

#tiki-top .cssmenu_horiz li a {
	padding: 10px 1em;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	background: none;
	border-right: 1px solid #d8d8d8;
	color: #000;
}

#tiki-top .cssmenu_horiz ul li a {
	border-right: none;
}

/* ul ul top compensation for padding */
#tiki-top .cssmenu_horiz li:hover ul,
#tiki-top .cssmenu_horiz li.sfHover ul {
	top: 36px;
}

#secondary_site_menu .cssmenu_horiz li:hover ul,
#secondary_site_menu .cssmenu_horiz li.sfHover ul {
	top: 22px;
}

#tiki-top .cssmenu_horiz li:hover ul ul,
#tiki-top .cssmenu_horiz li.sfHover ul ul,
#secondary_site_menu .cssmenu_horiz li:hover ul ul,
#secondary_site_menu .cssmenu_horiz li.sfHover ul ul {
	top: -1px;
}

#tiki-top .cssmenu_horiz li.menuSection a {
	padding-right: 24px;
}

#tiki-top .cssmenu_horiz li ul li:hover > a,
#tiki-top .cssmenu_horiz li:hover > a {
	background: #93c44f; /* Old browsers */
	background: -moz-linear-gradient(top,  #93c44f 0%, #6d9f26 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93c44f), color-stop(100%,#6d9f26)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #93c44f 0%,#6d9f26 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #93c44f 0%,#6d9f26 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #93c44f 0%,#6d9f26 100%); /* IE10+ */
	background: linear-gradient(top,  #93c44f 0%,#6d9f26 100%); /* W3C */
	color: #fff;
}

#tiki-top .cssmenu_horiz li:hover a {
	color: #fff;
	font-style: normal;
	text-decoration: none;
}

#tiki-top .cssmenu_horiz li.selected {
	background: #fff;
}

#tiki-top .cssmenu_horiz li.selected a,
#tiki-top .cssmenu_horiz li:hover ul a {
	color: #4c4c4c;
	font-style: normal;
}

.cssmenubox .box-data {
	padding: 0;
}

#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 100%;
}

.cssmenu_vert .menuLevel0 {
	border-top: solid 1px #d8d8d8 !important;
	border-width: 1px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 100%;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

a .sf-sub-indicator,
#tiki-top .cssmenu_horiz li ul li a .sf-sub-indicator {
	background: url(didiem/arrows-6d9f26.png) no-repeat -10px -100px;
	top: 14px;
}

#tiki-top .cssmenu_horiz li ul li a .sf-sub-indicator {
	background: url(didiem/arrows-6d9f26.png) no-repeat;
	top: 9px;
}

.cssmenu_vert li a .sf-sub-indicator {
	top: 9px;
}

#tiki-top .cssmenu_horiz li a .sf-sub-indicator {
	top: 16px;
}

.secondary_site_menu a .sf-sub-indicator {
	top: 8px;
}

/***** Boxes *****/
/** Modules **/
.box,
.cbox {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: .2em;
	margin: 0 .5em 10px;
	background: #f2f2f2;
	color: #363636;
	border: none;
}

#col2 .box,
#col3 .box {
	margin-bottom: 10px;
	background: #fff;
}

h3.box-title,
.cbox-title {
	padding: .5em;
	position: relative;
	border: none;
	background: #f2f2f2;
	color: #363636;
	font-weight: bold;
	margin: 0;
	font-size: 1.3em;
}

/* menu in a module, use module bg colour */
.box-menu .cssmenu_vert a {
	background-color: inherit;
}

.box-login_box .tabmark {
	background-image: none;
	background-color: transparent;
	border-width: 0;
}

.warning .rbox-title,
.error .rbox-title {
	margin-bottom: -.6em;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.warning .rbox-data,
.error .rbox-data {
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal {
	border: 1px solid #aaa;
}

.wikitable {
	border: thin solid #f2f2f2;
	border-spacing: 0;
	border-collapse: collapse;
	background: #fff;
}

.wikitable th {
	font-weight: bold;
}

.wikitable th,
.wikitable td {
	border: 1px solid #f2f2f2;
	padding: 1px;
	background: white;
}

td.heading {
	background: #f0f0f0;
}

.tabcontent {
	background: #f7f7f7;
	border-top: none;
}

.caltable td {
	border: 1px solid #f0f0f0;
	border-collapse: collapse;
}

.caltable .focus,
.calmodtable .focus{
	border: none;
}
/* End of File */
