/* $Id: excitebike.css 49087 2013-12-15 02:46:19Z chibaguy $
	Jqui theme (jqui.css), Excite Bike theme option (excitebike.css)
	for Tikiwiki CMS/Groupware.
	Visit http://themes.tiki.org for more information.
*/

html {
	background: #fff;
}

body   {
	font-family: Segoe UI, Helvetica, Arial, sans-serif;
	color: #222;
	font-size: 12px;
}

a,
a:visited {
	color: #e69700;
}

a:hover {
	text-decoration: underline;
}

.button a:link,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	border: 1px solid #2293f7;
	font-weight: bold;
	color: #fff;
	background: url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_26_2293f7_40x40.png) repeat scroll 50% 50%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.button a:hover,
.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	border: 1px solid #1484e6;
	font-weight: bold;
	color: #D1E7FA;
	background: url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png) repeat-x 50% 50%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px
}

input[type="text"],
input[type="password"],
select,
textarea,
body.cke_show_borders {
	background: #fff;
	color: #000;
}

#siteheader {
	background: #fff;
}
#tiki-top {
	border: 1px solid #E69700;
	font-weight: bold;
	color: #fff;
	outline: none;
	background: #E69700 url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png) repeat 50% 50%;
}

#tiki-top a {
	color: #fff;
}

.footerbgtrap {
	display: block;
	border: 1px solid #1484e6;
	color: #fff;
	background: #1484E6 url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png) repeat scroll 50% 50%;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
}

#footer a:link,
#footer a:visited  {
	color: #fff;
}

.cssmenu_horiz a,
.cssmenu_vert a,
#tiki-top .cssmenu_horiz li ul li a,
#tiki-top .cssmenu_horiz li:hover ul li a {
	background: none;
}

#tiki-top .cssmenu_horiz li:hover a,
#tiki-top .cssmenu_horiz li ul li a:hover,
#secondary_site_menu .cssmenu_horiz li:hover a,
#secondary_site_menu .cssmenu_horiz li:hover ul li a:hover {
	text-decoration: underline;
}

#secondary_site_menu .cssmenu_horiz li:hover ul li a {
	text-decoration: none;
}

.cssmenu_horiz li ul li,
.cssmenu_vert li ul li,
#secondary_site_menu .cssmenu_horiz li:hover ul li,
#secondary_site_menu .cssmenu_horiz li.sfHover ul li {
	background: #e8a119;
	border: none;
}

#secondary_site_menu .cssmenu_horiz li:hover ul li a,
#secondary_site_menu .cssmenu_horiz li.sfHover ul li a,
.cssmenu_vert li:hover ul li a,
.cssmenu_vert li.sfHover ul li a {
	color: #fff;
}

#tiki-top .cssmenu_horiz li:hover ul ul,
#tiki-top .cssmenu_horiz li.sfHover ul ul,
#secondary_site_menu .cssmenu_horiz li:hover ul ul,
#secondary_site_menu .cssmenu_horiz li.sfHover ul ul {
	top: 0;
}

.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: none;
}

.wikitext {
	padding: .2em;
	margin: 0 .5em 10px;
	border: 1px solid #aaa;
	color: #222;
	background: #eee url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png) 50% bottom repeat-x;
}

h1.pagetitle {
	display: block;
	border: 1px solid #1484e6;
	color: #fff;
	background: #1484E6 url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png) repeat scroll 50% 50%;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
}

h1.pagetitle a:link,
h1.pagetitle a:visited,
h1.pagetitle a:hover {
	color: #fff;
}

h1.pagetitle:hover,
h1.pagetitle a:hover {
	color: #D1E7FA;
	text-decoration: none;
}

.box,
.cbox {
	border: 1px solid #aaa;
	color: #222;
	background: #eee url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png) 50% bottom repeat-x;
}

.cbox a,
.box a {
	color: #fff;
}

.cbox-title,
h3.box-title {
	background:#F9F9F9 url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_highlight-soft_100_f9f9f9_1x100.png) repeat-x 50% 50%;
	border:1px solid #ccc;
	color:#E69700;
	font-weight:bold;
	text-align: center;
}

.box-data a,
.box-data a:visited,
.wikitext a,
.wikitext a:visited,
.normal a.link,
.normal a {
	color: #e69700;
}

.rbox-title,
.rbox-data {
	background: url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-small_25_c5ddfc_40x40.png) repeat scroll 50% 50%;
	border: 1px solid #E69700;
	color: #0086E4;
}

.rbox-title a,
.rbox-data a {
	color: #003564;
}

.rbox-title {
	border-bottom: none !important;
	color: #003564;
}

.errors .rbox-title,
.errors .rbox-data,
.warning .rbox-title,
.warning .rbox-data {
	border: 1px solid #E69700;
	font-weight: bold;
	color: #fff;
	outline: none;
	background: #E69700 url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png) repeat 50% 50%;
}

.errors a,
.errors a:visited,
.warning a,
.warning a:visited {
	color: #fff;
	text-decoration: underline;
}

.normal {
	border: 1px solid #aaaaaa;
}

th, td.heading, tr.diffheader {
	border: 1px solid #e69700;
	font-weight: bold;
	color: #fff;
	background: #E69700 url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png) repeat 50% 50%;
}

th a,
th a:link,
th a:visited,
td.heading a,
td.heading a:visited,
.caltable .days {
	color: #fff;
	font-weight: bold;
}

tr.odd td,
td.odd,
li.odd {
	background: #eeeeee;
}

tr.even td,
td.even,
li.even {
	background: #f8f8f8;
}

.tabs {
	border: 1px solid #d3d3d3;
	background:#F9F9F9 url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_highlight-soft_100_f9f9f9_1x100.png) scroll 50% 50%;
	border:1px solid #ccc;
	color:#E69700;
	font-weight:bold;
}


.tabmark {
	border: 1px solid #1484e6;
	font-weight: bold;
	color: #b8ec79;
	background: url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png) repeat-x 50% 50%;
}

.tabmark a {
	color: #fff;
	padding: 0.5em 1em;
	font-size: 10px;
	font-weight: bold;
}

.tabactive {
	border: 1px solid #e69700;
	font-weight: bold;
	color: #ffffff !important;
	outline: none;
	background: #E69700 url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png) repeat 50% 50%;
}

.tabactive a {
	color: #fff;
}

.tabcontent {
	border: 1px solid #aaa;
	color: #222;
	background: #eee url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png) 50% bottom repeat-x;
}

.post .postbody-title .title a.link {
	color: #fff;
}

.post .postbody {
	border: 1px solid #aaa;
	color: #222;
	background: #eee url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png) 50% bottom repeat-x;
}

.postbody-title {
	border: 1px solid #E69700;
	font-weight: bold;
	color: #fff;
	outline: none;
	background: #E69700 url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png) repeat 50% 50%;
}

.forum_actions {
	background: #C5DDFC url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-small_25_c5ddfc_40x40.png) 50% 50%;
	border:1px solid #FFFFFF;
	color:#333333;
}

.caltable .even,
.caltable .odd {
	background: #1484E6 url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png) 50% 50%;
	border:1px solid #fff;
	color:#fff;
	font-weight:bold;
}

.caltable .even:hover,
.caltable .odd:hover {
	background: url(../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_26_2293f7_40x40.png) repeat scroll 50% 50%;
	border: 1px solid #1484e6;
}

.caltable .even a:link,
.caltable .even a:visited,
.caltable .odd a:link,
.caltable .odd a:visited  {
	color: #B8EC79;
}

.caltable td.calhighlight,
.caltable td.calhighlight a:link,
.caltable td.calhighlight a:visited,
td.calheadhighlight {
	background:#fcefa1;
	color: darkgreen;
}

.caltable td.calhighlight:hover,
.caltable td.calhighlight a:hover,
td.calheadhighlight {
	background:#fcefa1;
	opacity: 50;
	color: darkgreen;
}

.caltable .calborder {
	border:1px solid #fff;
	color: darkgreen;
}

body.tiki_admin .simplebox,
a.admbox,
a.admbox.off {
	border: 1px solid #fff;
	background-color: #C5DDFC;
	color: #333;
}

.footerbgtrap,
.wikitext,
h1.pagetitle,
h1 a.pagetitle,
.box,
.cbox,
.tabcontent,
.post .postbody {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.siteloginbar_poppedup .tabcontent {
	background: lightyellow !important;
}
