/* $Id: horizons.css 49087 2013-12-15 02:46:19Z chibaguy $
	Jqui theme (jqui.css), Horizons theme option (horizons.css)
	for Tiki Wiki CMS/Groupware.
	Visit http://themes.tiki.org for more information.
*/

#col2 a, #col2 a:visited, #col3 a, #col3 a:visited {
	color: #000;
}
 
#col2 a:active, #col2 a:hover, #col3 a:active, #col3 a:hover {
	color: #888;
}

a, a:visited {
	color: #850934;
}
 
a:active, a:hover {
	color: #c1094c;
}

#top a, #top a:visited {
	color: #2A5385;
}
 
#top a:active, #top a:hover {
	color: #050576;
}

h1,h2,h3,h4,h5,h6, #top .pagetitle a {
	color: #050576;
}

#top .pagetitle a {
	color: #4678B4;
}

#tiki-top {
	padding: 0 .3em 0 1em;
	border: none;
	background: #477d8a;
	color: #fff;
	margin: 0 10px 10px;
	font-size: 1.1em;
}

#tiki-top > nav > ul > li > a {
	color: #fff;
}
.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
    border: 1px solid #477d8a;
    font-weight: bold;
    color: #2E4A52;
	background-color: #C8E3EA;
	background-image: none;
}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
    border: 1px solid #477d8a;
    font-weight: bold;
    color: #2E4A52;
	background-color: #C8E3EA;
	background-image: none;
}

h3.box-title, .cbox-title {
	padding: .4em .3em .4em 1em;
	border: 1px solid #2E4A52;
	background-color: #477d8a;
	background-image: none;
	color: #fff;
	font-weight: bold;
	margin: 0;
	font-size: 1.1em;
}

#top_modules .box-quickadmin {
	background-color: #fff;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #c8e3ea;
}