/* $Id: trontastic.css 48390 2013-11-11 13:26:37Z chibaguy $
	Jqui theme (jqui.css), Trontastic theme option (trontastic.css)
	for Tikiwiki CMS/Groupware.
	Visit http://themes.tiki.org for more information.
*/

html {
	background: #1e1e1e;
}
body   {
	background: #9fda58;
	font-family: Segoe UI, Helvetica, Arial, sans-serif;
	color: #454545;
}

a,
a:visited {
	color: #4a4a4a;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a {
	border: 1px solid #1b1613;
	color: #b8ec79;
	background: #0a0a0a url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_glass_40_0a0a0a_1x400.png) 50% 50% repeat-x;
}

.button a:hover,
.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.calbuttonBox:hover {
	border: 1px solid #000;
	background: #000000 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_glass_60_000000_1x400.png) 50% 50% repeat-x;
	color: #96f226;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
select,
textarea,
body.cke_show_borders {
	background: #c6e99c;
	color: #000;
}

.header {
	background: #c6e99c;
}
#tiki-top {
	border: 1px solid #aaaaaa;
	background: #000 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) 50% 50% repeat-x;
	color: #c6e99c;
	font-size: 1.1em;
}

#middle {
	background: #9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) repeat-x;
}

.footerbgtrap {
	background: #000 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) 50% 50% repeat-x;
	color: #c6e99c;
}

#footer a:link,
#footer a:visited  {
	color: #B8EC79;
}

.cssmenu_horiz a,
.cssmenu_vert a,
#tiki-top .cssmenu_horiz li ul li a,
#tiki-top .cssmenu_horiz li:hover ul li a {
	background: none;
}

.cssmenu_vert li ul li,
#secondary_site_menu .cssmenu_horiz li:hover ul li,
#secondary_site_menu .cssmenu_horiz li.sfHover ul li {
	background: #4a4a4a;
	border: none;
}

#secondary_site_menu .cssmenu_horiz li:hover ul li a,
#secondary_site_menu .cssmenu_horiz li.sfHover ul li a {
	color: #B8EC79;
}

#secondary_site_menu .cssmenu_horiz li:hover ul li:hover a,
#secondary_site_menu .cssmenu_horiz li.sfHover ul li:hover a {
	color: #9fda58;
}

#tiki-top .cssmenu_horiz li:hover ul ul,
#tiki-top .cssmenu_horiz li.sfHover ul ul,
#secondary_site_menu .cssmenu_horiz li:hover ul ul,
#secondary_site_menu .cssmenu_horiz li.sfHover ul ul {
	top: 0;
}

.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: none;
}

.sf-sub-indicator {
	background: url(trontastic/arrows-000000.png) no-repeat -10px -100px;
}

#tiki-top .cssmenu_horiz li a .sf-sub-indicator {top: 1.2em}

#tiki-top .cssmenu_horiz li ul li  a .sf-sub-indicator {
	background: url(trontastic/arrows-000000.png) no-repeat;
	top: 0.5em;
}

#secondary_site_menu .cssmenu_horiz li ul li a .sf-sub-indicator,
.cssmenu_vert .sf-sub-indicator {
	background: url(trontastic/arrows-b8ec79.png) no-repeat 10px 0;
}

.wikitext {
	padding: .2em;
	margin: 0 .5em 10px;
	border: 1px solid #4a4a4a;
	background: #000 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) 50% top repeat-x;
	color: #f3fce8;
}

.box,
.cbox {
	border: 1px solid #4a4a4a;
	background: #000 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) 50% top repeat-x;
	color: #f3fce8;
}

.box legend {
	color: #f3fce8;
}

.cbox a,
.box a {
	 color: #fff;
}

.cbox-title,
h3.box-title,
th,
td.heading,
tr.diffheader {
	border: 1px solid #000;
	background: #9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
	color: #222;
}

th,
td.heading,
tr.diffheader {
	border: none;
}

.box-data a:link,
.box-data a:visited,
.wikitext a:link,
.wikitext a:visited,
.postbody a:link,
.postbody a:visited,
.headers a.link  {
	color: #B8EC79;
}

.post .postbody-title .title a.link {
	color: #222;
}

.box-data a:hover,
.wikitext a:hover  {
	color: #9fda58;
}

.rbox-title,
.rbox-data {
	background: #FBF9EE url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_95_f6ecd5_500x100.png) repeat-x 50% 50%;
	border: 1px solid #FCEFA1;
	color: #363636;
}

.rbox-title {
	border-bottom: none !important;
}

.highlight, .highlight a,
.warning .rbox-title,
.warning .rbox-data {
	background: #F1FBE5 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_95_f6ecd5_500x100.png) 50% 50% repeat-x;
	border:1px solid #F1AC88;
	color:#74736D;
}

.normal {
	border: 1px solid #95da58;
}

tr.odd td,
td.odd,
li.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #c6e99c;
}

tr.even td,
td.even,
li.even,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background: #b0e077;
}

.tabs {
	border: 1px solid #d3d3d3;
	background:#9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) 50% 50% repeat-x;
}

.tabmark,
.statuson {
	border: 1px solid #1b1613;
	background: #0a0a0a url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_glass_40_0a0a0a_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #b8ec79;
	outline: none;
}

.tabmark a {
	color: #b8ec79;
}

.tabactive {
	border: 1px solid #696969;
	background: #4c4c4c url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_flat_0_4c4c4c_40x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #fff !important;
	outline: none;
}

.tabactive a {
	color: #fff;
}

#tiki-top .cssmenu_horiz li {
	background:#9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) 50% 50% repeat-x;
	margin-right: 5px;
}

.post .postbody {
	border: 1px solid #4a4a4a;
	background: #000000 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) 50% top repeat-x;
	color: #fff;
}

.postbody-title {
/* border: 1px solid #aaaaaa; */
	background:#9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) 50% 50% repeat-x;
	color: #222;
}

.caltable .even,
.caltable .odd {
	background: #0A0A0A url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) repeat-x scroll 50% 50%;
	border:1px solid #1B1613;
	color:#B8EC79;
}

.caltable .even a:link,
.caltable .even a:visited,
.caltable .odd a:link,
.caltable .odd a:visited  {
	color: #B8EC79;
}

.caltable td.calhighlight,
.caltable td.calhighlight a:link,
.caltable td.calhighlight a:visited,
td.calheadhighlight {
	background: #9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) 50% 50% repeat-x;
	color: #000;
}

td.calheadhighlight,
td.calheadhighlight a:link,
td.calheadhighlight a:visited {
	background: #0A0A0A url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) repeat-x scroll 50% 50%;
	font-weight: bold;
	color: #b8ec79;
}

.caltable .calborder {
	border: 1px solid #1B1613;
}

.caltable .calmodfocus {
	text-decoration: underline;
}

body.tiki_admin .simplebox,
a.admbox,
a.admbox.off {
	border: 1px solid #4a4a4a;
	background-color: #000;
	color: #fff;
}

.cssmenu_horiz li ul li,
.cssmenu_vert li ul li,
.wikitext,
#tiki-top .cssmenu_horiz li {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
