{* $Id: admin_profiles.tpl 49068 2013-12-12 19:36:35Z alain_desilets $ *}

<div class="adminWizardIconleft"><img src="img/icons/large/profiles48x48.png" alt="{tr}Initialize Tiki{/tr}" /></div>
{tr}Initialize Tiki as an application, e.g. a blog., by means of applying one of the 4 featured configuration profiles{/tr}. </br></br>
<div class="adminWizardContent">
<fieldset>
	<legend>{tr}Profiles{/tr}</legend>
	<table style="width:100%">
	<tr>
	<td style="width:48%">
	<b>{tr}Collaborative Community{/tr}</b> (<a href="tiki-admin.php?profile=Collaborative_Community&&show_details_for=Collaborative_Community_12x&categories%5B%5D=12.x&categories%5B%5D=Featured+profiles&repository=http%3a%2f%2fprofiles.tiki.org%2fprofiles&page=profiles&preloadlist=y&list=List#step2" target="_self">{tr}apply profile now{/tr}</a>)
	<br>
{tr}Setup to help subject experts and enthusiasts work together to build a Knowledge Base{/tr}
	<ul>
	<li>{tr}Wiki Editing{/tr}</li>
    <li>{tr}Personal Member Spaces{/tr}</li>
    <li>{tr}Forums{/tr}</li>
    <li>{tr}Blogs{/tr}</li> 
	</ul>
	</td>
	<td style="width:4%"> 
	&nbsp;
	</td>
	<td style="width:48%">
	<b>{tr}Company Intranet{/tr}</b> (<a href="tiki-admin.php?profile=Company_Intranet&show_details_for=Company_Intranet_12x&categories%5B%5D=12.x&categories%5B%5D=Featured+profiles&repository=http%3a%2f%2fprofiles.tiki.org%2fprofiles&page=profiles&preloadlist=y&list=List#step2" target="_self">{tr}apply profile now{/tr}</a>)
	<br>
{tr}Setup for a Corporate Intranet of a typical medium-sized business{/tr}. 
	<ul>
	<li>{tr}Company News Articles{/tr}</li>
    <li>{tr}Executive Blog{/tr}</li>
    <li>{tr}File Repository & Management{/tr}</li>
    <li>{tr}Collaborative Wiki{/tr} </li> 
	</ul>
	</td>
	</tr>
	<tr>
	<td style="width:48%">
	<b>{tr}Personal Blog and Profile{/tr}</b>  (<a href="tiki-admin.php?profile=Personal_Blog_and_Profile&show_details_for=Personal_Blog_and_Profile_12x&categories%5B%5D=12.x&categories%5B%5D=Featured+profiles&repository=http%3a%2f%2fprofiles.tiki.org%2fprofiles&page=profiles&preloadlist=y&list=List#step2" target="_self">{tr}apply profile now{/tr}</a>)
	<br>
{tr}Setup with many cool features to help you integrate the Social Web and establish a strong presence in the Blogosphere{/tr} 
	<ul>
	<li>{tr}Blog (Full set of blog related features){/tr}</li>
    <li>{tr}Image Gallery{/tr}</li>
    <li>{tr}RSS Integration{/tr}</li>
    <li>{tr}Video Log{/tr}</li> 
	</ul>
	</td>
	<td style="width:4%"> 
	&nbsp;
	</td>
	<td style="width:48%">
	<b>{tr}Small Organization Web Presence{/tr}</b> (<a href="tiki-admin.php?profile=Small_Organization_Web_Presence&show_details_for=Small_Organization_Web_Presence_12x&categories%5B%5D=12.x&categories%5B%5D=Featured+profiles&repository=http%3a%2f%2fprofiles.tiki.org%2fprofiles&page=profiles&preloadlist=y&list=List#step2" target="_self">{tr}apply profile now{/tr}</a>)
	<br>
{tr}Setup for a Web Presence of a typical small business or non-profit{/tr}. 
	<ul>
	<li>{tr}Company News & Updates{/tr}</li>
    <li>{tr}Highlight Company's Products and Services{/tr}</li>
    <li>{tr}File Gallery (great for Media Kit){/tr}</li>
    <li>{tr}Contact Form{/tr} </li> 
	</ul>
	</td>
	</tr>
	</table>
	<br>
	<em>{tr}See also{/tr} <a href="tiki-admin.php?page=profiles&alt=Profiles" target="_blank">{tr}Profiles admin panel{/tr}</a></em>
</fieldset>
<br>
</div>
