{* $Id: admin_category.tpl 49654 2014-01-30 22:10:58Z luciash $ *}

<div class="adminWizardIconleft"><img src="img/icons/large/wizard_admin48x48.png" alt="{tr}Admin Wizard{/tr}" title="{tr}Admin Wizard{/tr}" /></div><div class="adminWizardIconright"><img src="img/icons/large/categories48x48.png" alt="{tr}Set up Categories{/tr}" /></div>
{tr}Global content category system. Items of different types (wiki pages, articles, tracker items, etc) can be added to one or more categories. Permissions set for a category will apply to all items in that category, allowing access to be restricted to certain groups, users, etc{/tr}.
<div class="adminWizardContent">
<fieldset>
	<legend>{tr}Categories{/tr}</legend>
	<br>
	{tr}Categories are set up in the admin categories panel. Please see the Categories item in the Admin menu{/tr}.<br>
	<br>
	{tr}.. or ..{/tr} <a href="tiki-admin_categories.php" target="_blank">{tr}Set up categories here{/tr}</a><br>
	<br>
	<br>
	<em>{tr}See also{/tr} <a href="http://doc.tiki.org/category" target="_blank">{tr}Categories{/tr} @ doc.tiki.org</a></em>
</fieldset>
<br>
</div>
