{* $Id: admin_auto_toc.tpl 49654 2014-01-30 22:10:58Z luciash $ *}

<div class="adminWizardIconleft"><img src="img/icons/large/wizard_admin48x48.png" alt="{tr}Admin Wizard{/tr}" title="{tr}Admin Wizard{/tr}" /></div><div class="adminWizardIconright"><img src="img/icons/large/wikipages48x48.png" alt="{tr}Set up the language{/tr}" /></div>
<div class="adminWizardContent">
<fieldset>
	<legend>{tr}Auto TOC options{/tr}</legend>
		{preference name=wiki_inline_auto_toc}
		{preference name=wiki_inline_toc_pos}
		<br>
		<em>{tr}See also{/tr} <a href="http://doc.tiki.org/tiki-index.php?page=Auto+TOC" target="_blank">{tr}Auto TOC{/tr} @ doc.tiki.org</a></em>
</fieldset>
</div>
