/* $Id: cornflower.css 49087 2013-12-15 02:46:19Z chibaguy $
 * Cornflower (blue) option for Ohia
 * Ohia is an original theme for TikiWiki CMS/Groupware by
 * Gary Cunningham-Lee (chibaguy), released under the GNU LGPL license.
 * This theme uses the *litecss source-ordered layout solution (http://sourceforge.net/projects/litecss).
 * For more information, please visit http://themes.tiki.org or http://zukakakina.com.
*/


/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body {
	background: #7299A5;
	color: #004354;
	text-align: left;
}

#main {
	color: #004354}

#middle {background: #A3BFC9}

#c1c2 #wrapper #col1 > .content {
	color: #004354;
}

#footer {
	background: #2D1705 url(cornflower/header.png) 0 0;
	color: #fff;
}

#footer a:link,
#footer a:visited {
	color: #fff;
}

#footer a:hover {
	color: #A3BFC9;
}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {
	color: #0B7698;
}

a:hover {
	color: #004354}

.wikitext a:link.wiki,
.wikitext a.link:visited {
	color: #0B7698 !important;
}

.wikitext a.link:hover {
	color: #004354 !important;
}


hr {
	color: #004354;
}

fieldset {
	color: #004354;
}

legend {color: #004354}

button,
input,
textarea,
select,
body.cke_show_borders {
	background: #B1CFD6;
	color: #0C7E9B;
	border: 1px solid #0C7E9B;
}

body.cke_show_borders {
	border: none;
}


input[type="file"] {color: #004354}


.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	color: #F9FBCC;
	font-weight: bold;
	border: 1px solid #528D9C;
	border-right: 1px solid #004454;
	border-bottom: 1px solid #004454;
}


.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	color: #fff;
	background: #608C96;
}

button:active,
input[type=submit]:active,
.button input:active {background: #87B5BF}

/***** Site Header & Identity *****/

#top_modules {
	vertical-align: middle;
	padding: 0;
	margin: 0;
	background: #7996A4 url(cornflower/header.png) repeat-x 0 100%;
}

#siteloginbar a,
#siteloginbar a:visited {
	color: #fff;
	font-weight: bold;
}

.sitetitle,
.sitesubtitle {
	color: #fff;
}

.sitetitle a,
.sitetitle a:visited {color: #fff}

#tiki-top ul.cssmenu_horiz {
	background: #FF8C26;
	padding: 0;
	width: 100%;
}

#top_modules .box-search {
	color: #fff;
	background: transparent;
	border: none;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

.cssmenu_horiz li {
	background: #FF8C26;
}

/*.cssmenu_vert li:hover,*/
.cssmenu_horiz li:hover {
	background: #FF482A;
}

.cssmenu_vert li ul li {
	border: 1px solid #B1CFD6;
	background: #94BBC4;
}

.cssmenu_horiz li ul li {
	border: 1px solid #FF8C26;
	background: #FF8C26;
}

.cssmenu_vert li ul li:first-child {
	border-top: 1px solid #87B5BE;
}

.cssmenu_horiz a, .cssmenu_vert a {
	color: #fff;
	font-weight: bold;
}

.cssmenu_horiz a:hover, .cssmenu_vert a:hover {
	text-decoration: none;
}

#secondary_site_menu ul li ul a,
#secondary_site_menu ul li ul a:visited {
	color: #0B7698;
}

/** Links in other menus **/
.separator a:link,
.separator a:visited,
.separator a:hover {color: #004354}

.linkmenu:hover {color: #004354}
a.linkmodule:hover {color: #004354}

/***** Misc. Center Col. *****/
a.flip,
a.flip:visited,
.tellafriend a,
.tellafriend a:visited {color: #840000}

a.flip:hover,
.tellafriend a:hover {color: #004354}

/****** Misc. Global ****/

.inline_syntax {
	color: #0B7698;
}

/****** Jquery ******/
/**help**/
a.tikihelp:hover {
	color: #0B7698;
}


/***** Boxes *****/
/** Modules **/
.box {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

h3.box-title {
	color: #fff;
	background: #FF8C26;
	border: 1px solid #528D9C;
	padding: 8px;
	font-size: 1.1em;
}

.box-title a,
.box-title a:link {
	color: #fff;
}

.box:hover img.flipmodimage {
	background: #87B5BF}

img.flipmodimage:hover {
	border: 1px solid #528D9C !important;
}

.box-data {
	background: #B1CFD6;
	border: 1px solid #528D9C;
	border-top: none;
}

/** Other boxes **/
.cbox {
	color: #004354;
	background: #94BBC4;
	border: 1px solid #528D9C}

.cbox-title {
	border-color: #528D9C;
}

.rbox-title,
.rbox-data {
	background: #87B5BF;
	border-color: #528D9C;
	color: #fff;
}

.rbox-title {
	border-bottom: none;
}

.simplebox {
	background: #94BBC4;
	color: #004354}

.rbox-data a:hover {
	color: #0B7698;
}

/***** Tables, Tabs *****/
/** Tables **/

.admin {background:#94BBC4}

.normal,
.sortable {
	border: solid 1px #0C7E9B;
	border-bottom: solid 1px #0C7E9B;
	border-left: solid 1px #0C7E9B;
}

.normal tr,
.sortable tr { border: none }

.normal th,
.sortable th { border: none }

td {vertical-align: top}

.formcolor td,
.editblogform td {padding: 3px}

tr.odd,
td.odd,
tr.odd td,
li.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #94BBC4;
	color: #004354;
}

tr.even,
td.even,
tr.even td,
li.even,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background: #A3BFC9;
	color: #004354;
}

tr.odd td,
td.odd,
tr.even td,
td.even,
table.normal tr:nth-child(2n+1),
table.normal tr:nth-child(2n),
.tablesorter tr.odd td,
.tablesorter tr.even td {
	border-right: none;
}

/* headings */
th,
.normal td.heading,
td.heading,
.caltable .days {
	color: #fff;
	background: #87B5BF;
}


a.tablename,
a.galname,
a.imagename,
a.blogname,
a.fgalname,
a.artname,
a.forumname {color: #0B7698}

a.forumnameread {color: #0B7698}

/* links in table headings */
.tableheading,
.gallistheading,
.listgalheading,
.bloglistheading,
.llisfgalheading,
.llistfileslink,
.llistart,
.lforumheading {color: #004354}

/** Tabs **/

.tabmark {
	background: #87B5BF;
}

.tabmark a {
	color: #0B7698;
}

.tabmark a:active {
	background: #87B5BE;
}

.tabmark a:hover {
	color: #004354;
	background: #87B5BE
}

.tabactive a {
	background: #87B5BF; 
	color: #004354
}

.tabcontent {
	border-color: #528D9C;
	background: #94BBC4
}

/***** Wiki *****/

h1 a.pagetitle,
h1 a.pagetitle:visited {
	color: #004354}

.titlebar {
	border-top: 1px solid #0C7E9B;
	border-bottom: 1px solid #0C7E9B;
}

.wikitable {
	border: none;
}

.wikicell {
	border: none;
}

#wikihelp-tab table,
#wikihelp-tab table td {
	border: solid 1px #0C7E9B;
}

.TextArea-fullscreen .actions, .CodeMirror-fullscreen .actions {
	background-color: #94BBC4;
	color: #F9FBCC;
	border-top: #0C7E9B 1px solid;
}

/* Wiki plugins */


/** Wiki tocs **/
.tocnav {
	background: #B1CFD6;
}

li.toclevel a,
li.toclevel a:visited {
	color: #0B7698;
}

li.toclevel a:hover {
	color: #004354;
}

/***** Articles ****/

.articleheadingtext {
	color: #004354}

.articletrailer .wikitopline {
	color: #004354;
}

/***** Blogs *****/

a.blogt:hover {
	color: #004354;
	border-bottom: 1px dotted #004354}

.postinfo a {
	color: #0B7698;
}

/***** Forums *****/

.post .postbody {
	background: #87B5BE;
}

.post .postbody .content {
	color: #004354;
	background: #87B5BE !important;
}

.post .postbody-title {
	background: #87B5BF;
	border: 1px solid #528D9C;
}

.post .postbody-title .title a.link {color: #004354}

.post .author_post_info {
	background: #94BBC4;
}

.post .author_info {
	background: #94BBC4;
}

.post .avatar {
	background: #94BBC4;
}

.forum_actions .actions {
	background: #94BBC4;
}

.forum_actions .actions .action {margin-right: 10px}
.forum_actions .headers {vertical-align: bottom}
.forum_actions .headers .title {
	background: #A3BFC9;
}

/***** File Galleries *****/
.fgalexplorer {border: 1px solid #0C7E9B}

.thumbnailcontener {
	border: 1px solid #0C7E9B;
}

/***** Directory *****/
.dircategs {
	border: 1px solid #0C7E9B;
}

/***** Messages *****/
.prio1,
.prio2,
.prio3,
.prio4,
.prio5 {
	border: 1px solid #528D9C;
}

.messureadflag {
	background: #87B5BE;
}

.messureadhead {
	background: #87B5BE;
}

.messureadbody {
	background: #87B5BE;
}

/***** TikiSheets *****/
.default thead td,
.default tfoot td {
	color: #004354;
}

/***** Calendar *****/

.opaque {
	background: #528D9C;
	border: 1px solid #528D9C;
}

#caltable a,
#caltable a:visited {
	color: #0B7698;
}

#caltable a:hover {
	text-decoration: underline;
	color: #004354;
}

.box-data .fc a.today,
.box-data td a.today {
	background: #87B5BF;
	border: solid 1px #528D9C;
	font-weight: bold;
}

.caltable td.calhighlight,
.caltable td.calhighlight,
td#month_title.calheadhighlight,
td.calheadhighlight {
	background: #ff8c26;
}

.caltable td.calhighlight a:link,
.caltable td.calhighlight a:visited,
td.calheadhighlight a:link,
td.calheadhighlight a:visited {
	color: #fff;
}

.caltable .calborder {
	border: 1px solid #0B7698;
}

.calnavigation {
	border: 1px solid #528D9C;
	text-align: center;
}

#caltable .days {
	color: #004354;
	background: #87B5BF;
	border-right: 1px solid #528D9C}

#caltable .weeks {
	background: #87B5BF;
	color: #004354;
}

.caltable .odd, .caltable .even {border: 1px solid #0B7698}
.caltable .odd {background: #94BBC4}
.caltable .even {background: #87B5BE}

.daterow {
	background-color: #87B5BE;
	border: 1px outset #87B5BE;
}

.daterow:hover {
	background-color: #222;
}

/***** Admin *****/
a.admbox {
	background: #94BBC4 center no-repeat;
}

a.admbox:hover,
a.admbox:focus,
a.admbox:active {
	background: #87B5BE center no-repeat;
	border: 1px solid #0C7E9B;
	color: #fff;
}

/* Fixed-width rules */

body.fixed_width {
	background: #7299A5;
}

body.fixed_width #main[id] {
	border: none;
	margin-top: 0;
}

/* End of File */
