/* $Id: arcturus.css 49461 2014-01-20 11:21:34Z chibaguy $
	Arcturus theme (arcturus.css) for Tiki Wiki CMS Groupware.
	Visit http://themes.tiki.org for more information.
*/
 
/* Import foundation CSS files. */
@import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/ 
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000;
	background: #efefe7
}

#middle {
	background:#ded6c6;
}


#c1c2 #wrapper #col1 #tiki-center {
	background: #efefe7;
}

#c1c2 #col2 {
	background: #ded6c6;
}


#col3 {
	background: #ded6c6;
}

.footerbgtrap {
	background: #e7dece;
}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {
	color: #222;
	text-decoration: underline;
}

a:active {
	color: #000;
}

a:hover {
	background: #ccc;
}

h1,
h2,
h3,
h4,
h5 {
	color: #000;
	font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	line-height: 1.1;
}

h1 {
	font-size: 26px;
}
	
h2 {
	font-size: 22px;
}	

dt,
h3 {
	font-size: 18px;
}
	
h4 {
	font-size: 14px;
	font-weight: bold;
}

fieldset {
	border: 1px solid #d4d4d4;
}
	
legend {
	color: #000;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	font-size: 10px;
	color: #000;
	font-weight: bold;
	background: #fff;
	border: 1px solid;
	border-color:  #7c7c7c #c3c3c3 #ddd #c3c3c3;
}

.button a:hover,
.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	font-size: 10px;
	color : #000;
	background: #ddd;
	font-weight: bold;
	border: 1px solid;
	border-color: #c3c3c3 #7c7c7c #c3c3c3 #ddd;
}
	
.button a:active,
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button input:active,
.highlight a:link,
.highlight a:visited {
	font-size: 10px;
	color: #000;
	background: #fff;
	font-weight: bold;
}

.button.highlight a {
	border: 1px solid #fcefa1;
	background: #fbf9ee;
	color: #363636;
}

/* Needed for Opera (11) */
input[type="reset"],
input[type="submit"],
input[type="reset"]:hover,
input[type="submit"]:hover {
	padding: .1em .8em;
}


/***** Site Header & Identity *****/

.header {
	margin: 0;
}

#top_modules .module.secondary_site_menu {
	position: absolute;
	top: 0;
	right: 30px;
}

#top_modules #secondary_site_menu .cssmenu_horiz li ul {
	margin-top: -16px;
}

#top_modules #secondary_site_menu .cssmenu_horiz li ul ul {
	margin-top: 8px;
}

#top_modules .box-logo {
	float: left;
	height: 100%;
}

#top_modules .sitetitles {
	margin: 10% 20px;
	padding-left: 20px;
}

.sitetitles {
	font-weight: bold;
}

.sitetitle {
	font-size: 2.4em;
}

.sitetitle a,
.sitetitle a:hover {
	text-decoration: none;
}

.sitesubtitle {
	font-size: 1.2em;
	margin-top: 10px;
}

#top_modules .box-login_box {
	position: absolute;
	right: 30px;
	bottom: 0;
}

.box-login_box .siteloginbar_poppedup {
	margin-top: -14px;
}

#tiki-top {
	border: none;
	background: #5A4A39;
	color: #fff;
	font-size: 1.1em;
	position: relative;
}

#tiki-top a {
	color: #fff;
}

#tiki-top input#highlight1 {
	margin: -2px 0 !important;
	padding: 0;
	line-height: 1em;
}

#topbar_modules .box-search {
	float: none;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 1;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* default and topbar dropdown typography (colors) and padding */
.cssmenu_vert a {
	background: none;
	font-weight: normal;
	padding: .1em 1em;
	text-decoration: none;
	font-size: 11px;
}

.cssmenu_vert ul a,
.cssmenu_horiz ul li a,
.cssmenu_horiz li:hover ul li a {
	background: #ded6c6;
	text-decoration: none;
	padding: 3px 1em;
}

.cssmenu_horiz a:hover,
.cssmenu_vert a:hover,
.cssmenu_horiz li ul li a:hover {
	text-decoration: underline;
	color: #000;
	background: #ded6c6;
}

#col2 .box-data .cssmenu_vert ul {
	padding-left: 0;
}

/* next two, dropdown background and border */
.cssmenu_horiz li ul li,
.cssmenu_vert li ul li {
	border: 1px solid #000;
	border-top: 0;
	margin-bottom: -1px
}

.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: 1px solid #000;
}

.iconmenutext {
	color: #222;
}

/*
#tiki-top .cssmenu_horiz {
	position: absolute;
	bottom: 0;
}*/

#topbar_modules .cssmenu_horiz li a {
	padding: 3px 1em;
	font-size: 12px;
	text-decoration: none;
}

#topbar_modules .cssmenu_horiz ul {
	margin-top: -14px;
}

#topbar_modules .cssmenu_horiz ul ul {
	margin-top: -1px;
}
#topbar_modules .cssmenu_horiz ul li a {
	color: #222;
	text-decoration: none;
}

.cssmenu_horiz li.menuSection a {
	padding-right: 20px !important;
}

/* next 5, left column width */
#col2 ul.cssmenu_vert {
	padding-left: 0;
	margin-left: 0;
}

#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 150px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 150px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 9em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 9em;
}

/* special arrows and arrow top padding */
a .sf-sub-indicator {
	top: 2px;
}

.cssmenu_vert li a .sf-sub-indicator {
	background: url(arcturus/arrows-222222.png) no-repeat 0 0;
}

#tiki-top .cssmenu_horiz li a .sf-sub-indicator {top: 5px}

/** other menus **/
.separator {
	background: #dfdfdf;
	color: #003163;
	font-size: 10px;
	margin: 6px 2px 2px;
	width: 90%;
}

.separator,
.option {
	line-height: normal;
}

.option a,
.separator a {
	color: #000;
	font-size: 11px;
	text-decoration: none;
}
	
.option a:hover {
	text-decoration: underline;
	background: #ded6c6
}

/***** Boxes *****/
/** Modules **/
.box,
.cbox {
	margin: 8px 8px 0 8px; 
	border: thin solid black;
	background: #FFFFFF;
	padding-bottom: 10px;
}

#col2 .box,
#col3 .box {
	margin-bottom: 10px;
}

h3.box-title,
.cbox-title {
	background: #b5a58c;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1px;
	text-align: center;
}

.box-data {
	font-size: 11px;
}

.cbox-data,
.box-data {
	margin-left: 5px;
	margin-right: 5px;
}

/** Other boxes **/

.rbox-title, 
.rbox-data {
	background: #fbf9ee;
	border: 1px solid #fcefa1;
	color: #363636;
}

.rbox-title {
	border-bottom: none !important;
	margin-bottom: -.45em;
}
	
.errors .rbox-title,
.errors .rbox-data,
.panel .panel-alert {
	color: #cd0a0a;
	background: #fef1ec;
	border: 1px solid #cd0a0a;
}

.warning .rbox-title,
.warning .rbox-data {
	color: #cd0a0a;
	background: #fef1ec;
	border: 1px solid #cd0a0a;
}
	
.simplebox {
	background: #fff;
	border: 1px solid #000;
	color: #000;
	margin: 5px 1px;
	padding: 2px;
}

.errors {
	background: none;
	color: #cd0a0a;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal {
	border: 1px solid #5A4A39;
	border-collapse: separate;
}
	
  
th,
td.heading,
tr.diffheader {
	background: #b5a58c;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 5px;
}

th a,
th a.link,
td.heading a,
tr.diffheader a {
	color: #e7dece;
}
	 
tr.odd td,
td.odd,
li.odd,
.oddthumb,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	font-size: 12px;
	color: #000;
	background: #efefef;
}

tr.even td,
td.even,
li.even,
.eventhumb,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	font-size: 12px;
	background: #fff;
	color: #000;
}

/** Tabs **/

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding: .2em .2em 0;
	margin:0 0.2em 1px 0;
	border: 1px solid #aaaaaa;
	background: #b5a58c;
}

.tabs br {
	display: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabmark {
	list-style-image: none;
	float: left;
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	outline: none;
	border-bottom-width: 0 !important;
	margin: 0 .2em -1px 0;
}

.tabmark a,
.tabmark a:visited {
/*	padding: 0.5em 1em;*/
	display: block;
	color: #555555;
	font-weight: normal;
}

/*.tabinactive:hover,*/
.tabactive {
	border-bottom-width: 0;
	padding-bottom: 1px;
	border: 1px solid #aaa;
	background: #fff;
	font-weight: normal;
	color: #212121;
	outline: none;
}
/*
.tabactive a:hover,
.tabinactive a:hover {
	background: none;
}*/

.tabcontent {
	background: #fff;
	border-top: none !important;
}

.statuson {
	background: #e6e6e6;
}

/***** Wiki *****/
.article h2,
h1.pagetitle {
	font-size: 26px;
	font-weight: bold;
	color: #000;
}

h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover,
h1 a.pagetitle,
h1 a.pagetitle:visited,
h1 a.pagetitle:hover {
	color: #000;
	font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}
	
.wikitext {
	background: #fff;
	border: 1px solid;
	border-color: #7c7c7c #c3c3c3 #ddd #c3c3c3;
	padding: 0.5em  0.8em;
	margin: 0.5ex 0px;
}

.titlebar {
	background: #b5a58c;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	padding: 1px;
}
	
.wikitable {
	border: 1px solid #000;
}

.wikicell {
	background: #efefef;
}

tt,
.code,
.codelisting {
	background: #d2b48c;
	border: 1px dashed #adacaf;
	font-family: "Courier New", Courier, monospace;
	margin: 1ex;
	padding: 2ex;
}

/***** Articles ****/
body.tiki_cms h1 a.pagetitle,
body.tiki_cms h1 a.pagetitle:visited,
body.tiki_cms h1 a.pagetitle:hover {border-bottom: 0}

.articletrailer span {
	margin-left: 5px;
	padding-left: 20px;
}

.articletrailer .share {
	padding-left: 0;
}

/***** Blogs *****/

/***** Forums *****/
.post .postbody {
	border: 1px solid #aaaaaa;
}

.navbar {
	line-height: 220%;
	margin: 5px 0;
}
.postbody-title {
	padding: 3px;
	position: relative;
	border-bottom: 1px solid #aaa;
	color: #222;
	font-weight: bold;
	font-size: 1.1em;
}
	
.postbody .actions {
	text-align: right;
	margin-bottom: 4px;
}
	
.post .postbody .content {
	float: none
}

.post .author {
	float: none;
	text-align: left;
	margin: 6px 0;
}

.post .author_info .icons {
	text-align: left;
}

.forum_actions {
	background: #333;
	color: #fff;
/*	padding: 3px;*/
}
.forum_actions .title {
	font-weight: bold;
}

/***** File Galleries *****/

.thumbnailcontener {
	margin: 4px;;
}

/***** Tags (freetags) *****/
.freetagitemlist {
	margin-bottom: 30px;
	padding: 0 0 10px;
}

/***** Directory *****/
.dirsite {
	margin-bottom: 30px;
	padding: 0 0 10px}

/***** Calendar *****/
.caltable {
	border-bottom: none;
}

.caltable .days {
	border: none;
}

.caltable .odd,
.caltable .even {
	border-color: #aaa;
}

.caltable .odd {
	background: #e2e2e2;
}

.caltable .even {
	background: #d4d4d4;
}

.box-data .caltable {
	margin-left: -3px;
}

.caltable td.calhighlight,
td.calheadhighlight {
	font-size: 10px;
	color: #000;
	background: #fff;
	font-weight: bold;
}

/***** Admin *****/
a.admbox:hover,
a.admbox:focus,
a.admbox:active {
	background-position: center center;
	background-repeat: no-repeat;
	text-decoration: none;
}

/* corner radii - remove for CSS2.1 validation */
.tabs,
.tabmark {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

/* Quote plugin */
.quoteheader {
	background : url('../img/icons/quoteleft.gif') no-repeat;
	padding-left:50px;
	height:35px;
}

.quotebody {
	padding-left:46px;
}
/* End of File */
