/* $Id: darkshine.css 49231 2013-12-22 16:06:12Z chibaguy $
	Dark Shine theme for Tiki Wiki CMS Groupware. This is an adaptation
	of the original by Jack Qiao (http://www.pureweb.ca/blog/).
	This is released under the GNU/LGPL license.
	For more information, etc., visit http://zukakakina.com or
	http://themes.tiki.org.
*/

/* Import default layout properties: */
@import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body {
	background: #90140C url(darkshine/stripes.png) repeat-x 50% 0;
	font-family: arial, verdana, helvetica, sans-serif;
}

body.fullscreen {
	background: #90140C url(darkshine/stripes.png) repeat-x;
	background-position: 50% 20px;
	text-align: left}

body.fullscreen #tiki-center {
	background: #F3F3F3;
	padding: 1em;
	padding-top: 0;
	margin: 1em;
	margin-top: 0}

/* Enable header and footer content to widen when middle has wide content.
body.fixed_width .fixedwidth .fixedwidth {
	width: 100%;
	padding: 0;
}*/

#header {
	width: 100%;
}

.fixed_width .fixedwidth {
	width: 880px;
}

.fixed_width #main,
#fixedwidth {
    margin-top: 0;
}

.middle_outer {
	background: #600000;
	padding: 15px;
	padding-bottom: 0;
}

#middle {
	background: #F3F3F3;
	text-align: left;
}

.footerbgtrap {
	text-align: center;
	background: #000;
	font: normal 10px arial, verdana, helvetica, sans-serif;
	line-height: 2;
	color: #999;
	text-align: center;
	border-left: 15px solid #600000;
	border-right: 15px solid #600000}

#footer a {color: #999}

#footer a:hover {
	color: #999;
	text-decoration: underline}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited,
#siteloginbar_popup .tabmark .tabcontent a,
#siteloginbar_popup .tabmark .tabcontent a:visited {
	color: #600000;
	font-weight: bold;
	text-decoration: none}

a:hover,
#siteloginbar_popup .tabmark .tabcontent a:hover {color: #90140C}

dt {font-weight: bold}

h1 {
	font-size: 1.2em;
	color: #8A0700;
	font: normal 2em arial, verdana, helvetica, sans-serif;
	margin-bottom: 20px;
	text-decoration: none}

h2 {
	color: #333;
	font: bold 1.8em arial, verdana, helvetica, sans-serif}

h3 {font-size: 1.6em}
h4 {font-size: 1.5em}
h5 {font-size: 1.3em}
h6 {font-size: 1.1em}

hr {
	width: 90%;
	background: #7c7b7d;
	color: #7c7b7d;
}

fieldset {color: #000}
button:hover {cursor: pointer}

textarea,
body.cke_show_borders {
	background: #fff;
	color: #000}

input[type=checkbox],
input[type=radio] {border: 0}


.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input  {
	background:#FD9339 url(darkshine/hover_list.jpg) repeat-x scroll 0 0;
	color: #fff;
	border: 1px solid #783C1C;
	font-size: 94%;
	font-weight: bold}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	background: #FD9339 url(darkshine/hover_list.jpg) repeat-x scroll 0 100%;
	font-size: 94%;
	font-weight: bold;
}

/* Needed for Opera (11) */
input[type="reset"],
input[type="submit"],
input[type="reset"]:hover,
input[type="submit"]:hover {
	padding: .1em .8em;
}

/*span.button {
	margin: 2px;
}*/

input[type="checkbox"] {border: 0}
select[multiple] {height: 10em}
small {font-size: 1em}
ul {list-style: none}
tt {font-size: 110%}

/***** Site Header & Identity *****/

#top_modules .box-logo {
	text-align: center;
	width: 410px;
	min-height: 101px;
	margin: auto;
	margin-bottom: 10px;
	padding-top: 66px;
	background: url(darkshine/title_background.jpg) no-repeat 0 100%;
}

#top_modules .box-logo .floatleft {
	float: none !important;
}

#top_modules .sitetitle {
	display: block;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	font-family: 'trebuchet ms',georgia,'lucidia grande';
	font-size: 3.6em;
	color: #FE9B27;
	letter-spacing: 8px;
}

#top_modules .sitetitle a {
	color: #FE9B27;
}

#top_modules .sitesubtitle {
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #4f0000;
	margin: 10px auto auto;
	text-align: center}

/***** Dark Shine-specific page top *****/

#topbar_modules {
	width: 100% !important;
	background: url(darkshine/stripes_small.gif) repeat-x;
	color: #fff;
	min-height: 28px;
	font: normal 10px arial, verdana, helvetica, sans-serif;
	line-height: 2;
}

#contenttop strong {
	font: bold 11px arial;
	margin-left: 2px;
	margin-right: 6px}

#search a,
#sitesearchbar,
#topbar_modules .box-search {
	background: #199B2C url(darkshine/green.png) no-repeat;
	border-right: 2px solid #000;
	float: right;
	height: 28px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font: bold 12px arial, verdana, helvetica, sans-serif;
	display: block;
	padding-left: 8px;
}

#topbar_modules .box-search input[type="submit"]  {
	background: none;
	border: none;
}

#topbar_modules h3 {
	margin-top: 0;
}

#sitesearchbar {
	padding: 0 4px;
	line-height: 28px;
}

#topbar_modules .box-search form {
	margin-top: 4px;
}

.darkshine_adspace {
	background: #71201b url(darkshine/ad.gif) repeat-x;
	border-bottom: 0;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 28px;
}

.darkshine_adspace .wrapper {
	border-left: 1px solid #A5514B;
	border-right: 1px solid #5B1D1B;
	border-top: 1px solid #CA807C;
	border-bottom: 1px solid #3E1B19;
}

.darkshine_adspace img {margin: .7em auto}

.darkshine_sitead {
	border-left: 1px solid #A5514B;
	border-right: 1px solid #5B1D1B;
	border-top: 1px solid #CA807C;
	border-bottom: 1px solid #3E1B19}

#top_modules .box-menu {
	text-align: center;
	background: #000;
	height: 40px;
	width: 100%;
}

#topbar_modules .module.secondary_site_menu {
	position: absolute;
	top: 0;
	left: 0;
}

#topbar_modules .box-login_box {
	position: static;
	float: right;
	height: 28px !important;
	padding: 0 4px;
}

#topbar_modules .box-login_box
/*.siteloginbar_popup .tabmark a*/ {
	background: url(darkshine/orange.png) repeat-x;
	border: none;
	padding: 7px;
	line-height: normal;
	color: #fff;
}

#topbar_modules .box-search input {
	background: transparent;
	color: #fff;
	border: none;
}

.box-search .search_mod_magnifier {
	margin-bottom: -4px;
}

.sitesearchbar .findtable {
	margin: 0 !important;
}

.siteloginbar_popup .cssmenu_horiz ul li {
	background: #f3f3f3;
	color: #000;
	height: auto !important;
}

.siteloginbar_popup .tabcontent {
	border: none;
}

.siteloginbar_popup .cssmenu_horiz ul li a {
	color: #600000;
	font-weight: bold;
	text-decoration: none;
}

li#register_link {
	margin-right: 0;
}

.siteloginbar_popup .tabmark {
	border: 0;
	background: none;
}

input[id="fuser"],
select[name="where"],
#sitesearchbar input.wikiaction,
#topbar_modules .box-search .ac_input {
	background: #21C336;
	color: #fff;
	border: none;
}

#topbar_modules .box-login_box .tabmark {
	background: none;
	border: none;
	margin-top: -4px;
}

#topbar_modules .box-login_box .tabmark a.login_link {
	color: #fff;
}

#topbar_modules .box-login_box .siteloginbar_poppedup {
	margin-top: -12px;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/
.cssmenu ul li,
.cssmenu_vert li ul li,
.cssmenu_horiz li ul li {
	background: #f3f3f3}

/* left column width */
#col2 .box-data .cssmenu_vert ul {
	padding-left: 0;
}

#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 160px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 160px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

#tiki-top ul.cssmenu_horiz {
	display: inline-block;
	margin: auto;
	text-align: left;
}

#tiki-top ul.cssmenu_horiz li a {
	color: #fff;
	text-decoration: none;
	font: bold 11px verdana, arial, helvetica, sans-serif;
	padding: 12px 10px;
	margin: 0}

#tiki-top ul.cssmenu_horiz li a:hover {
	color: #fff;
	background: #101010 url(darkshine/nav.gif) repeat-x;
	background-position: 0 -40px}

#tiki-top ul.cssmenu_horiz li ul a,
#listcontainer ul.cssmenu_horiz li ul a {color: #000}

#tiki-top ul.cssmenu_horiz li ul a:hover,
#listcontainer ul.cssmenu_horiz li ul a:hover {color: #fff}

#tiki-top ul.cssmenu_horiz li.menuSection a {padding-right: 26px}
#tiki-top .cssmenu_horiz li.menuSection a .sf-sub-indicator {top: 14px}
#col2 .cssmenu_vert a .sf-sub-indicator {top: 0.6em}

/* special arrows and arrow top padding */
.cssmenu_vert li a .sf-sub-indicator,
.cssmenu_horiz ul li a .sf-sub-indicator {
	background: url(darkshine/arrows-000000.png) no-repeat 0 0;
}

/* ul ul top compensation for padding */
.cssmenu_horiz li:hover ul,
.cssmenu_horiz li.sfHover ul {
	top: 3.2em;
}

.secondary_site_menu .cssmenu_horiz li a,
.secondary_site_menu .cssmenu_horiz li a:visited {
	color: #fff;
	background: none;
	padding-top: 7px;
	padding-left: 1em;
	padding-bottom: 7px;
}

.secondary_site_menu .cssmenu_horiz ul li a,
.secondary_site_menu .cssmenu_horiz ul li a:visited {
	color: #000;
}

.secondary_site_menu .cssmenu_horiz li ul,
.siteloginbar_popup .cssmenu_horiz li ul {
	margin-top: -7px;
}

.secondary_site_menu .cssmenu_horiz li ul ul {
	margin-top: 0;
}

.secondary_site_menu .sf-sub-indicator {
	bottom: .5em;
}


/** Links in other menus **/
.separator,
.separatorline {
	color: #600000;
	display: block;
	line-height: 2em;
	border: 1px solid #783C1C;
	border-width: 0 0 1px 0;
	color: #600000;
	padding-left: .25em}

.separator a:link,
.separator a:visited {color: #600000}

.separator a:hover {color: #fff}

.separator:hover,
* html .separator a:hover {
	background: #FD9339 url(darkshine/hover_list.jpg) repeat-x;
	color: #fff}

.menuSection .option {padding-left: 22px}


/***** Misc. Center Col. *****/
#tiki-center {background: #F3F3F3;}
/*#role_main {
	margin: 0 30px 0 0;
}*/

/***** Boxes *****/
.box {
	margin-top: 0;
	margin-bottom: 1em;
	padding-bottom: .5em;
}

h3.box-title {
	color: #8A0700;
	font: normal 2em arial, verdana, helvetica, sans-serif;
	margin-bottom: 20px;
}

h3.box-title a,
h3.box-title a:visited {
	color: #8A0700;
	font-weight: normal;
}

h3.box-title a:hover {color: #000}

.box-data {
	margin-top: 0;
	padding-bottom: 0;
}

#col2 .box-data li a,
#col3 .box-data li a,
#tiki-center .box-data li a {
	color: #600000;
	display: block;
	line-height: 2em;
	border: 1px solid #783C1C;
	border-width: 0 0 1px 0;
	padding-left: .25em;
}

#col2 .box-data li a:hover,
#col3 .box-data li a:hover,
#tiki-center .box-data li a:hover {
	background: #FD9339 url(darkshine/hover_list.jpg) repeat-x;
	color: #fff;
}

.box-data ol,
.box-data ul {padding-right: .6em}

.wikitext .cbox {
	border: 2px solid #90140c;
	background: #fff;
}

.cbox-title {
	padding: 1px 3px;
	font-weight: bold;
}

.cbox-data {padding: 1px 3px}

.rbox {margin: 5px 10px 5px}

.rbox-title,
.rbox-data {
	padding: 1px 3px;
	background: #fff;
	color: #696969;
	background: #f3f3f3;
}

.rbox-title {
	border: 2px solid #90140c;
	border-bottom: none;
	font-weight: bold;
	margin-bottom: -.55em;
}

.rbox-data {
	display: block;
	border: 2px solid #90140c;
}

.warning  .rbox-title {color: red}

.simplebox {
	border: 2px solid #90140c;
	background: #fff;
	padding: 3px;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal {
	border: solid 1px #909090;
	width: 100%}

th, td.heading {
	background: #DCDCDC;
	text-align: center}

tr.odd td,
td.odd,
li.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #ececec;
	border-right: 1px solid #DDDDDD}

tr.even td,
td.even,
li.even,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background: #f5f5f5;
	border-right: 1px solid #DDDDDD}

td.odd,
td.even,
table.normal tr:nth-child(2n+1),
table.normal tr:nth-child(2n) {
	margin: 0;
	padding: 0.2em;
	vertical-align: top}

.form {padding: 0.2em}

/** Tabs **/

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding: .2em .2em 0;
	margin:0 0.2em 1px 0;
	border: solid 1px #8f8e91;
}

.tabs br {
	display: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabmark {
	list-style-image: none;
	float: left;
	background: #ececec;
	border: 1px solid #666;
	border-bottom-width: 0 !important;
	margin: 0 .2em -1px 0;
}

.tabmark a {
	display: block;
	padding: 0.5em 1em;
	color: #666;
	font-weight: bold}

.tabmark a:active {color: #636466}

.tabmark a:hover,
.tabactive a {
	color: #000;
}

.tabactive {
	padding-bottom: 1px;
	border: 1px solid #7c7b7d;
	border-bottom-width: 0;
}

.statuson {
	background: #dcdcdc;
}

.tabcontent {
	border: 1px solid #7c7b7d;
	background: #ececec;
	color: #000;
	margin-left: 0;
	top: 0;
}

.admin tr td #page-bar {
	margin-left: 5px;
	margin-bottom: 0;
	background: transparent}

.iconmenutext {white-space: nowrap;}

/***** Wiki *****/
a.pagetitle {
	color: #8A0700;
	font-family: arial, verdana, helvetica, sans-serif;
	font-weight: normal;
	margin-bottom: 20px;
	text-decoration: none}

#description {
	font-size: .9em;
	font-style: italic}

.wikitext {line-height: 1.5em}

.wikitext h1,
.wikitext h2,
.wikitext h3,
.wikitext h4 {
	margin: 0 0 15px;
	padding: 0}

.wikitext h2 {margin-bottom: 10px}

.titlebar {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin:10px 0 10px 0}


.wikitable {
	border: 1px solid #a9a9a9;
	border-collapse: collapse}

.wikicell {
	padding: 3px;
	border: 1px solid #999;
	border-collapse: collapse}

/* Wiki plugins */
/* Code plugin  */
.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #ccc;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto;
}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	font-weight: bold}

/* Quote plugin */
.quoteheader {margin-left: 20px}

/** Wiki tocs **/
.tocnav {
	background: #EBEBEB;
	padding: 3px;
	margin-bottom: 4px;
	clear: both}

#tocnavicons {float: left}
#tocnavaddpage{float: right}
#tocnavlinks {clear: both}

/* TOC */
.toc {
	padding-left: 2em;
	margin-bottom: 4px}

.toc * {border: 0}


/***** Articles ****/
.article {margin-bottom: 40px}

.articletopline {
	font-size: 90%;
	font-style: italic}

.articletitle {
	padding-top: 16px;
	margin-top: 6px;
	margin-bottom: 15px;
	text-align: left}

.articletitle h2 {
	font-size: 1.5em;
	font-weight: normal}

.titleb {font-size: 1.0em}
.articlesubtitle {font-size: 0.9em}
.articleheading {margin-top: 6px}

img.topicimage,
img.articleimagenofloat,
img.articleimage {
	padding:2px 0 2px 0;
	margin-bottom:10px}

img.articleimagefloat {
	margin-right: 4px;
	float: left;
	padding:2px 0 2px 0;
	margin-bottom:10px}

img.articleimage {
	margin-right: 4px;
	float: left;
	clear: right;
	padding:2px 0 2px 0;
	margin-bottom:10px}

.articletrailer {text-align: right}
.articletrailer .wikitopline {float: left}
.articlebody {margin-top: 1em}

.articlesource {
	margin-top: 5px;
	font-style: italic;
	font-size: 90%}

/***** Blogs *****/
.blogheading {
	display: block;
	width: 100%;
	clear: both}

.blogtitle {
	color: #8A0700;
	font: normal 2.1em arial, verdana, helvetica, sans-serif;
	line-height: 80%}

.blogdesc {
	display: block;
	width: 40%;
	padding: 8px;
	margin-top: 8px;
	margin-left: 6px}

.bloginfo {
	text-align: center;
	display: block;
	padding: 3px;
	line-height: 150%;
	text-transform: none;
}

.blogtools {
	padding: 3px;
	text-align: right}

.postinfo div {margin-top: 30%}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.2em}

.posthead {
	display: block;
	text-align: left;
	padding: 3px;
	font-weight: bold;
	letter-spacing: .4pt}

.postbody {
	margin-right: 8px;
	margin-bottom: 1em}

.postfooter {
	clear: both;
	float: right;
	margin-bottom: 2em}


/***** Forums *****/
body.tiki_forums .normal {margin: auto}
.post {width: 100%}

.post .postbody {
	border: solid 3px #600000;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	background: #F3F3F3;;
	font-size: 1.1em}

* html .post .postbody {font-size: 11px}

.post .postbody .content {
	height: 100%;
	padding: 0 3px 3px;
	text-align: left;
	color: #000;
	background: #f3f3f3 !important}

.post .postbody-title {
	display: block;
	background: url(darkshine/main.gif);
	border-bottom: 1px solid #600000;
	display: block;
	margin-top: 0;
	padding: 3px}

.post .postbody-title .checkbox {float: left}

.postbody-title .title h2 {
	font-size: 1.3em;
	color: #000;
	font-weight: normal;
	margin-left: 5px;
	margin-top: 3px;
	margin-bottom: 3px}

.post .postbody-title .title {font-weight: bold}

.postbody-title .title a,
.postbody-title .title a:visited {color: #000}

.postbody-title br.clear {display: none}

.post .author {
	float: left;
	text-align: left;
	vertical-align: top;
	width: 33%;
	margin-left: -3px;
	margin-right: 4px;
	padding: 4px;
	background: #f3f3f3;
	border-right: 3px solid #600000;
	border-bottom: 3px solid #600000}

.post .author_post_info {
	background: #f3f3f3;
	padding: 0 2px 2px 2px}

.post .author_info .icons {
	display: block;
	margin-bottom: 0}

.post .author_info .icons .actions {margin-right: 10px}
.post .author_post_info_on {font-style: italic}

.post .author_info {
	background: #f3f3f3;
	padding: 0 2px 2px 2px;
	margin-left: 5px;
	margin-bottom: 2px}

.commentStyle_headers .author_info {float: left}

.post .postbody-title .actions {
	float: right;
	font-size: 1em}

.postbody-content {padding: 6px}
.post .postbody .attachments {
	clear: both;
	border-top: 1px dotted #D9D9D9;
	margin-top: 5px}

.post .postbody .attachments img {vertical-align: text-bottom}

.post .postfooter .actions,
.post .postfooter .status {
	display: inline;
	margin-left: 5px;
	vertical-align: top}

.post .postfooter .status {font-size: 100%}

.post .postfooter {
	float: right;
	text-align: right}

.post .inner > .postfooter {clear: both}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #f3f3f3;
	padding: 0 2px}

.post .avatar {
	float: right;
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px;
	border: 1px solid #a9a9a9;
	background: #f3f3f3}

.sub_comment {padding-left: 20px}

.sub_comment_area {
	clear: both;
	background: url(../img/edge.gif) no-repeat top left}

.forum_actions .actions {
	clear: both;
	border: 1px solid #a9a9a9;
	background: #dcdcdc;
	padding: 3px;
	vertical-align: middle}

.forum_actions .actions .action {margin-right: 10px}
.forum_actions .headers {vertical-align: bottom}

.forum_actions .headers .title {
	float: left;
	background: #dcdcdc;
	border: 1px solid #a9a9a9;
	border-bottom: 0;
	padding: 1px}

.forum_actions .headers .infos {
	float: right;
	font-size: smaller;
	padding-top: 2px}

.thread_pagination {
	text-align: center;
	margin-bottom: 10px}

.nb_replies {white-space: nowrap}
.post_preview, .top_post {margin-bottom: 15px}

/* Find */
.subcomment {margin-left: 10px}

/* Help box*/
.commentsedithelp {
	background: #ffcfcf;
	color: black;
	border: 1px solid #ff0000;
	text-align: center;
	font-weight: bold;
}

/**** Image Galleries ****/
.oddthumb {border-collapse: collapse}
.eventhumb {border-collapse: collapse}

.eventhumb img {
	margin-left: 6px;
	margin-right: 6px}

img.athumb {
	border: 0;
	margin: auto}

.showimage {
	width: 100%;
	text-align: center;
	padding: 6px}

/***** Messages *****/

.prio1,
.prio2,
.prio3,
.prio4,
.prio5 {
	border: 1px solid #8cacbb;
	padding-left: 2px}

.prio1 {background: #F7F9CA}
.prio2 {background: #F7F9EA}
.prio3 {background: #F7F9FA}
.prio4 {background: #F7F9FD}
.prio5 {background: #F7F9FF}

.messureadflag {
	background: #ccc;
	padding-left: 5px}

.messureadhead {
	background: #DEDEDE;
	margin-top: 2px}

.messureadbody {
	margin-top: 5px;
	background: #DEDEDE}

.readlink {
	font-size: .95em;
	color: black}

/***** TikiSheets *****/
.default thead td,
.default tfoot td {
	font-weight: bold;
	text-align: center;
	background: black;
	color: #D8D8D8}

.default td {
	border: solid 1px #a9a9a9;
	background: black}


/***** Calendar *****/
.calcheckbox {background:#fff}

.calcontent a.linkmenu,
.calcontent a.linkmenu:hover {
	background-image: none;
	padding: 0}

.calfocus {
	border-bottom: 0;
	font-size:90%;
	background: transparent}

.calfocus a {
	text-decoration: none;
	font-weight: normal;
	color: #000}

.calfocuson a {
	text-decoration: none;
	font-weight: normal;
	color: #000}

#calprio {
	margin-left: 7px;
	padding: 0 5px;
	color: black}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #393e51}

.caltoggle {font-size: 90%}

.opaque {
   border: 1px solid #783C1C;
	background: white;
	padding: 0}

.opaque .box-title {
	border-bottom: 1px solid black;
	background: #FD9339 url(darkshine/hover_list.jpg) repeat-x;
	color: #fff;
	padding: 3px}

.opaque .box-data {
	background: white;
	padding: 3px;
}

.searchresults {display: inline}

#caltable .calfocuson,
.box-data .fc a.today,
.box-data td a.today {
	background: #FD9339 url(darkshine/hover_list.jpg) repeat-x;
	color: #fff;
	border-bottom: 1px solid #783C1C}

.box-data .fc a.today:hover,
.box-data td a.today:hover {
	background: #FD9339 url(darkshine/hover_list.jpg) repeat-x;
	color: #fff}

#caltable .calfocus a,
#caltable .calfocuson a {
	color: #000;
	text-decoration: none}

#caltable .calfocuson a:hover {text-decoration: underline }

.calinput {background: #82e641}
.calfocuson + .calcontent {background: #fff}

#caltable .days {
	color: #000;
	background: #dcdcdc}

#caltable .weeks {
	background: #dcdcdc;
	color: #000;
	padding: 1px;
	font-weight: bold}

.addevent {
	padding: 0 5px;
	float: right}

.calnavigation a:hover {
	background: #FD9339 url(darkshine/hover_list.jpg) repeat-x;
}

* html .addevent {
	padding: 0
}

.caltable .odd,
.caltable .even {
	border: 1px solid #999
}

.caltable .odd {
	background: #ececec
}

* html .caltable .odd {
	padding: 0
}

.caltable .even {
	background: #f5f5f5
}

* html .caltable .even {
	padding: 0
}

/*today focus*/
.caltable td.calhighlight,
td.calheadhighlight {
	background: #f3e498;
}

.caltable .calborder {
	border: 1px solid #999;
}

/***** Admin *****/

a.admbox {
	border: 1px solid #aaa;
	background-color: #90140c;
	color: #f3f3f3}

a.admbox:hover, a.admbox:focus, a.admbox:active  {
	background-color: #600000;
	color: #f3f3f3;
	border: 1px solid #292929}

a.admbox.off {border: 1px solid #9f9f9f}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {
	border: 1px solid #9f9f9f}
/***** Ajax, jquery. etc. *****/

/** tree **/
.ui-icon {
background-image:url('../vendor/jquery/jquery-ui-themes/themes/smoothness/images/ui-icons_888888_256x240.png');
}

/* End of File */
