/* $Id: eatlon.css 49278 2013-12-31 09:27:49Z chibaguy $
	This theme adapted by Gary Cunningham-Lee (chibaguy) for TikiWiki
	CMS/Groupware is an adaptation of the Eatlon theme by Olle Axelsson
	(http://eatlon.com). Please retain the link to eatlon.com in the
	page footer to be in compliance with the terms of use.
	For more information, please visit
	http://themes.tiki.org or http://zukakakina.com.
*/

/* Import the default layout properties files: */
@import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body {
	background: #9faec2 url(eatlon/body_bg.gif) repeat-x;
	font-family: arial, sans-serif;
	color: #8f8f8f;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

body.fullscreen {padding: 3em}


/* Enable header and footer content to widen when middle has wide content. */
body.fixed_width .fixedwidth .fixedwidth {
	width: 100%;
	padding: 0;
}

#middle {
	min-height: 450px;
	background: #fff;
	margin-bottom: 0;
}

#col1 #tiki-center {
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding: 0 30px}

#footer {
	min-height: 163px}

.footerbgtrap {
	background: #fff url(eatlon/bottom_bg.png) no-repeat 100% 100%;
	min-height: 163px;
}

#bottom_modules {
	background: url(eatlon/bottom_bg.png) no-repeat 0 100%;
	min-height: 163px;
	text-align: center;
	font-size: .9em;
	margin-right: 50px;
	padding-bottom: 136px;
}



/***** XHTML Elements (other than body tag) ******/
a,
a:link,
a:visited {
	text-decoration: none;
	color: #6d819d;
	border-bottom: 1px solid transparent}

* html a,
* html a:link,
* html a:visited {border-bottom: 1px solid #fff}

a:hover {
	text-decoration: none;
	color: #a42929;
	border-bottom: 1px solid #6d819d}

h1, h2, h3, h4, h5 {
	font-family: georgia, serif;
	font-weight: 100}

h1 {
	font-size: 2.2em;
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 6px;
	line-height: normal}

h2 {
	font-size: 180%;
	font-style: italic;
	padding: 0;
	margin: 4px 0}

h3 {
	font-size: 160%;
	line-height: 1em;
	border-bottom: 1px solid #e0e0e0;
	padding: 0;
	margin: 0 0 5px 0}

h4 {
	font-size: 130%;
	padding: 0;
	margin: 0}

h5 {
	font-size: 1em;
	color: #032936}

hr {
	background: #8cacbb;
	color: #8cacbb}

fieldset {
	border: solid 1px #a9a9a9;
}

legend {color: #a9a9a9}

textarea,
body.cke_show_borders {
	background: #d2d9e3;
	color: #000}

input[type=checkbox],
input[type=radio] {border: 0}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"] {
	background-color: #d2d9e3;
	color: #000
}

input[type="submit"],
input[type="file"],
input[type="reset"],
select {
	background: #d2d9e3;
	color: #000;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	border-top: 1px solid #f3f3f4;
	border-left: 1px solid #f3f3f4;
	border-right: 1px solid #878689;
	border-bottom: 1px solid #878689;
	background: #afafaf url(eatlon/menu_bg.png) 1000px -15px;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	padding: 2px 4px;
}

input:disabled {
	color:#DDDDDD !important;
}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	border-top: 1px solid #868f93;
	border-left: 1px solid #868f93;
	border-right: 1px solid #f3f3f4;
	border-bottom: 1px solid #f3f3f4;
	font-size: 11px;
	font-weight: normal;
	color: #ececec;
	padding: 2px 4px;
}

/* Needed for Opera (11)
input[type="reset"],
input[type="submit"],
input[type="reset"]:hover,
input[type="submit"]:hover,
button[type="submit"],
button[type="submit"]:hover {
	padding: 0 3px;
}

span.button {
	margin: 2px;
}*/

select[name="theme"] {width: 135px}
label {cursor: pointer}
ul, ol {text-align: left}
tt {font-size: 1.2em}

/***** Site Header & Identity *****/

.header_container .fixedwidth {
	text-align: left;
/*	min-height: 126px;*/
	background: #fff url(eatlon/head_bg.gif) repeat-x 0 0;
	margin-bottom: 0;
}

.header {
	background: url(eatlon/banner.gif) no-repeat 100% 100%;
}

/*#top_modules { */
/*	min-height: 126px; */
/*	background: url(eatlon/banner.gif) no-repeat 100% 0} */

#top_modules .module.secondary_site_menu {
	position: absolute;
	top: 0;
	right: 30px;
}

#top_modules .secondary_site_menu .cssmenu_horiz li ul {
	margin-top: -6px;
}

#top_modules .secondary_site_menu .cssmenu_horiz li ul ul {
	margin-top: 0;
}

#top_modules .box-logo {
	float: left;
	margin-left: 10px;
}

.sitelogo a,
.sitelogo a:visited,
.sitelogo a:hover {border-bottom: 0}

.floatright img {margin-right: 10px}

.sitetitles {
	margin: 10% 20px;
	padding-left: 15px;
}

.sitetitle {
	font-family: georgia, serif;
	font-size: 320%;
	font-weight: 100;
}

.sitetitle a,
.sitetitle a:visited {color: #8f8f8f}

.sitetitle a:hover {
	color: #8f8f8f;
	text-decoration: none;
}

.sitesubtitle {
	font-size: 1em;
	font-style: italic;
	font-weight: 100;
}

#top_modules .box-login_box {
	position: absolute;
	right: 20px;
	bottom: 0;
}

input[id="sl-login-user"],
input[id="sl-login-pass"] {background: #e1e1e2}

.siteloginbar input.wikiaction {cursor: pointer}

.siteloginbar_popup {
	bottom: 2px;
}

.siteloginbar_popup ul ul {
	margin-top: -6px;
}

.siteloginbar_popup .tabcontent a,
.siteloginbar_popup .tabcontent a:visited,
.siteloginbar_popup label {
	color: #fff;
}

#tiki-top {
	background: url(eatlon/menu_bg.png) no-repeat right;
	height: 78px;
	min-height: 78px !important}

#tiki-top .role_navigation {
	height: 78px;
	min-height: 78px;
	background: url(eatlon/menu_bg.png) no-repeat;
	padding-right: 10px;
	padding-top: 0;
	margin-top: 0;
	margin-right: 30px
}

#topbar_modules .box-search {
	position: absolute;
	right: 40px;
	top: 0;
	color: #fff;
	margin-top: 8px;
}

#topbar_modules input#fuser,
#topbar_modules #search_mod_input_1 {
	border: 1px solid;
	border-color: #878689 #f3f3f4 #f3f3f4 #878689;
	background: #afafaf;
	color: #fff}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

.cssmenu_horiz a,
.cssmenu_vert a {
	padding: 4px 9px;
	text-decoration: none;
}

/* left column width */
#col2 .box-data .cssmenu_vert ul {
	padding-left: 0;
}

#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 150px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 150px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

#tiki-top ul.cssmenu_horiz {margin-left: 30px}

#tiki-top .cssmenu_horiz a {
	padding: 12px 1em;
	font-weight: bold;
	color: #fff}

#tiki-top .cssmenu_horiz li.menuSection0 a {
	padding-right: 2.0em;
}

.cssmenu_horiz li a:hover,
.cssmenu_vert ul li a:link,
.cssmenu_vert ul li a:visited,
#tiki-top .cssmenu_horiz li ul li a {
	color: #fff;
	text-decoration: none}

#tiki-top .cssmenu_horiz li.menuLevel1 a {
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 3px}

.secondary_site_menu li.menuLevel0 a:hover {
	color: #506887;
}

.secondary_site_menu li.menuLevel0 ul li a {
	color: #fff;
}

.cssmenu_vert li ul li a:hover,
#tiki-top .cssmenu_horiz li a:hover,
.secondary_site_menu .cssmenu_horiz ul li a:hover {
	color: #d7e5f3
}

.cssmenu ul li,
.cssmenu_horiz ul li,
.cssmenu_vert ul li {background: #9faec2 url(eatlon/body_bg.gif) 0 -300px repeat-x}

.cssmenu_vert .sf-sub-indicator {
	background: url(eatlon/arrows-6d819d.png) no-repeat 10px 0;
}

.cssmenu_vert .sf-sub-indicator,
.secondary_site_menu .cssmenu_horiz .sf-sub-indicator {
	background: url(eatlon/arrows-6d819d.png) no-repeat 10px 0;
}

.cssmenu_vert li ul li a .sf-sub-indicator {
	background: url(../img/superfish/arrows-ffffff.png);
}

#tiki-top .cssmenu_horiz li a .sf-sub-indicator {top: 1.3em}

#tiki-top .cssmenu_horiz li ul li a .sf-sub-indicator,
.cssmenu_vert li a .sf-sub-indicator {
	top: 0.3em;
}

/* less padding so move ul ul up */
#tiki-top ul.cssmenu_horiz li:hover ul,
#tiki-top ul.cssmenu_horiz li.sfHover ul {
	top: 3.2em;
}

/* but not ul ul ul */
#tiki-top ul.cssmenu_horiz li li:hover ul,
#tiki-top ul.cssmenu_horiz li li.sfHover ul {
	top: 0;
}

/***** Misc. Center Col. *****/
a.flip,
a.flip:visited,
.tellafriend a,
.share a,
.tellafriend a:visited,
.share a:visited {color: #ADBAC3}

a.flip:hover,
.tellafriend a:hover,
.share a:hover {color: #505050}

#tiki-center {font-size: 1.1em}

/****** Misc. Global ****/

/***** Boxes *****/
/** Modules **/
.box {
	margin-bottom: 16px;
	display: block}

#leftcolumn .box,
#rightcolumn .box {width: 160px}

.wikitext .box {width: 96%}

h3.box-title {
	color:#8F8F8F;
	font-family: arial,sans-serif;
	font-size: 1.3em;
	font-weight: 100;
	border-bottom: 0}

.flipmodimage:hover {border: 1px solid #58A7D2 !important}

/** Other boxes **/
.cbox {
	border: 1px solid #e0e0e0;
	background: inherit;
	color: inherit;
	background: #fff}

.cbox-title {
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
	font-weight: bold;
	padding: 3px 3px 1px 3px}

.cbox-data {padding: 3px}

.rbox {margin: 5px 10px 5px}

.rbox-title,
.rbox-data {
	border-color: #506887;
	background: #cecece;
	color: #000}

.rbox-title {
	margin-bottom: -.45em;
}

.simplebox {
	border: 1px solid #e0e0e0;
	padding: 4px;
	background: white;
	color: inherit}

/***** Tables, Tabs *****/
/** Tables **/

.wikitable td {
	margin: 0;
	padding: 0.2em;
	vertical-align: top}

td.odd:hover,
td.even:hover,
.tablesorter tr.odd td:hover,
.tablesorter tr.even td:hover {
	border-right: 1px solid #e0e0e0
}

.normal td.heading {font-size: 1em}

.normal td.odd:hover,
.normal td.even:hover,
.tablesorter tr.odd td:hover,
.tablesorter tr.even td:hover,
.normal tr:hover {
	background: #f3f3f4
}

.normal td,
.wikitable td,
td.odd,
td.even,
.tablesorter tr.odd td,
.tablesorter tr.even td,
.form,
.formcolor td,
.editblogform td {
	border: 1px solid #8cacbb;
	background: #DEE7EC}

* body th {font-size: 12px}

/** Tabs **/

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	padding: .2em .2em 0;
	margin:0 0.2em 1px 0;
	border-bottom: 1px solid #ccc}

.tabs br {
	display: none;
}

/*.tabs span {
	display: block;
	float: left;
}*/

.tabmark {
	float: left;
	background: #afafaf url(eatlon/menu_bg.png) 1000px -15px;
	color: #fff;
	border-top: 1px solid #f3f3f4;
	border-left: 1px solid #f3f3f4;
	border-right: 1px solid #878689;
	border-bottom-width: 0 !important;
	margin: 0 .2em -1px 0;}

.tabmark a {
	color: #fff;
}

.tabmark a:hover {
	background: url(eatlon/menu_bg.png) 1000px 0;
	color: #9cf}

.tabactive a {
	color: #9cf;
}

.statuson {
	border: 1px solid #8cacbb;
}

.tabcontent {
	border-left: 1px solid #a9a9a9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969;
	background: #ECECEC;
	color: #8f8f8f;
	padding: 2px;
}

form fieldset.tabcontent {
	border: 1px solid #225566;
	border-top: 0 !important}

.admin .tabcontent .cbox {background: transparent}

/***** Wiki *****/
a.pagetitle,
a.pagetitle:visited,
a.pagetitle:hover {
	color: #8f8f8f;
	text-decoration: none;
	border-bottom: 0}

#description {
	font-size: .9em;
	font-style: italic}

.wikitext {line-height: 1.5em}

.wikitext h1,
.wikitext h2,
.wikitext h3,
.wikitext h4 {
	margin: 0 0 15px;
	padding: 0}

.wikitext h2 {margin-bottom: 10px}

.titlebar {
	padding: 0.1em;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 10px 0 10px 0}

.wikitable {
	border: 1px solid #a9a9a9;
	border-collapse: collapse}

.wikicell {
	padding: 3px;
	border: 1px solid #999;
	border-collapse: collapse}

#wikihelp-tab table,
#wikihelp-tab table td {
	border: solid 1px #909090;
	border-collapse: collapse}

textarea.wikiedit {font-size: 1.1em}

/** Wiki plugins **/
/* Code plugin  */
.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #ccc;
	background: #F5F5F5;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #F5F5F5;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto;
}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	color: #666;
	background: #F5F5F5;
	font-weight: bold}

/* Quote plugin */
.quoteheader {margin-left: 20px}
.quotebody {font-style: italic}

/** Wiki tocs **/
.tocnav {
	background: #EBEBEB;
	padding: 3px}

/* TOC */
.toc {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999}

.diff td {border: 1px solid #A9B8C2}
.diff div {border-top: 1px solid #A9B8C2}
.diffheader {background: #A9B8C2}

/***** Articles ****/
.wikitext .article {font-size: 1em}

.articletopline {
	font-size: 90%;
	font-style: italic}

.articletitle {
	margin-top: 6px;
	margin-bottom: 15px;
	text-align: left}

.articletitle h2 {
	font-size: 1.5em;
	font-weight: normal}

.titleb {font-size: 1.0em}
.articlesubtitle {font-size: 0.9em}
.articleheading {margin: 6px 0}
.articlebody {margin-top: 1em}

/***** Blogs *****/
.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%}

.bloginfo {
	text-align: center;
	padding: 3px;
	line-height: 150%;
	text-transform: none;
}

.postinfo a {
	color: #9CF;
	text-decoration: none;
	border-bottom: 1px dotted #9CF}

a.blogt:hover {
	color: #FFF;
	border-bottom: 1px dotted #FFF}

.postinfo {font-size: 1.2em}

.posthead {
	font-weight: bold;
	letter-spacing: .4pt}

.posthead h3 {font-size:1.2em}

.postbody {
	margin-right: 8px;
	line-height: inherit;
	margin-bottom: 1em}

/***** Forums *****/
.post .postbody {
	background: white;
	font-size: 1em}

* html .post .postbody {font-size: 11px}

.post .postbody .content {
	float: none;
	height: 100%;
	padding: 0 3px 3px;
	color: #8f8f8f}

.post .postbody-title {
	display: block;
	margin-top: 0;
	padding: 3px;
	border-bottom: 1px solid #aaa}

.post .postbody-title .title {
	color: #29677B;
	font-weight: bold}

.postbody-title br.clear {display: none}

.title a.link {
	color: #29677B;
	text-decoration: none}

.post .author {
	float: left;
	text-align: left;
	width: 33%;
	margin-left: -3px;
	margin-right: 4px;
	background: url(eatlon/head_bg.gif) repeat-x}

.post .author_post_info {padding: 2px}
.post .author_post_info:first-letter {text-transform: uppercase}

.post .author_post_info_on {font-style: italic}

.post .author_info {
	padding: 0 2px 2px 2px;
	margin-left: 5px}

.post .postbody-title .actions {font-size: 1em}
.postbody-content {padding: 4px}
.post .postbody .attachments {border-top: 1px dotted #8f8f8f}
.post .postfooter .status {font-size: 1em}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px 0 2px}

.post .avatar {
	float: left;
	width: 33%;
	border: 1px solid #ACCCDD;
	background: inherit}

.forum_actions .actions {
	background: #E1EBF5;
	padding: 3px 3px 3px 3px}

.forum_actions .headers .title {
	background: #e1ebf5;
	padding: 1px;
	font-weight: bold}

.forum_actions .headers .infos {font-size: smaller}

.commentsedithelp {
	background: #ffcfcf;
	color: black;
	border: 1px solid #ff0000;
	text-align: center;
	font-weight: bold}

/**** Image Galleries ****/
.galtable {
	border-collapse: collapse;
	border: 1px solid #8cacbb}

.caption {color: black}

textarea.tshoutbox{
	font-size: 1.3em;
	width: 90%}

/***** Directory *****/
.dircategs {
	border: 1px solid #8cacbb;
	padding: 5px}

.dirlistsites {
	padding: 5px 0 10px 5px;
	margin-top: 10px}

.dirsite {
	margin: 5px;
	margin-bottom: 10px}

.dirrelated {
	margin-top: 10px;
	padding: 5px}

td.dirfooter {font-size: .95em}
div.dirfooter {margin-top: 10px}

/***** Messages *****/
.prio1,
.prio2,
.prio3,
.prio4,
.prio5 {border: 1px solid #8cacbb}

.messureadflag {background: #ccc}
.messureadhead {background: #DEDEDE}
.messureadbody {background: #DEDEDE}

/***** TikiSheets *****/
.default thead td,
.default tfoot td {
	font-weight: bold;
	text-align: center}

.default td {border: solid 1px #a9a9a9}

/***** Calendar *****/
.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #393e51}

.caltoggle {font-size: 90%}

.opaque {
	border-left: 1px solid #a9a9a9;
	border-top: 1px solid #a9a9a9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969}

.opaque .box-title {border-bottom: 1px solid black}
.searchresults {display: inline}

.box-data .fc a.today,
.box-data td a.today {
	background: #d2d9e3;
	border: 0}

.calinput {background: #9faec2}

#caltable td {padding: 0}

#caltable .weeks,
.days {
	background: #9faec2;
	color: white}

#caltable .weeks {
	font-weight: bold;
	padding: 2px;
	font-size: 1em}

.event {background: #f5f5f5}

.addevent {
	padding: 0 5px;
	float: right;
}

* html .addevent {
	padding: 0;
}

.caltable .odd, .caltable .even {
	border: 1px solid #a9a9a9;
}

.caltable .odd {
	background: #ececec;
}

* html .caltable .odd {
	padding: 0;
}

.caltable .even {
	background: #f5f5f5;
}

* html .caltable .even {
	padding: 0;
}

/*today focus*/
.caltable td.calhighlight,
td.calheadhighlight {
	background: #fad4e0;
}

.caltable .calborder {
	border: 1px solid #a9a9a9;
}

.daterow {
	display: block;
	border: 1px solid #ccc !important;
	background: #fff;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 3px}

.daterow:hover {
	color: #fff;
	background: #9faec2}

.calnavigation a:hover {
	color: #fff;
	background: #9faec2}

/***** Admin *****/
a.admbox,
a.admbox:visited {
	border: 1px solid #aaa;
	background: #506887 center no-repeat}

a.admbox:hover,
a.admbox:focus,
a.admbox:active  {
	background: #B2B2B2 center no-repeat;
	border: 1px solid #9f9f9f}

a.admbox.off {border: 1px solid #9f9f9f}
a.admbox span {color: #fff}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/

/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */
