/* Feb12 theme for Tiki Wiki CMS Groupware, released under LGPL license.
 * See http://themes.tikwiki.org for more information. -- */

/* import default layout and styles: */
@import url("layout/design.css");

/* XHTML Elements */
body {
	font-family: 'Trebuchet MS', sans-serif;
	line-height: 1.5;
	color: #333;
	background: #fff;
}

body#fullscreen {
	background: #fff url(feb12/page.jpg) repeat-x;
}

a,
a:visited {
	color: #4A6493;
	text-decoration: none;
}

a:hover {
	color: #006699;
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
	font: bold 1em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #93554a;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
	text-transform: uppercase;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

h5 {
	font-size: 1em;
	color: #032936;
}

h6 {
	font-size: 1em;
	color: #032936;
}

hr {
	background: #8CACBB;
	color: #8CACBB;
}

fieldset {
	border: solid 1px #A9A9A9;
}

legend {
	color: #333;
}

button:hover {
	cursor: pointer;
}

textarea,
body.cke_show_borders {
	color: #333;
	background: #fff;
	font-size: 1em;
}
/*
input[type=text],
input[type=password] {
	font-size: 0.9em;
}

input[type=submit],
input[type=file],
input[type=reset],
select {
	font-size: 1.0em;
	vertical-align: middle;
}
*/
.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	font: bold 1em Arial, sans-serif;
	background: url(feb12/header.jpg) repeat-x 0 -2px;
	border: 1px solid #5aa5cf;
	color: #F5F5F5;
	font-size: 80%;
	line-height: 200%;
	padding: 2px 4px;
}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
#highlight,
.button a.highlight {
	font: bold 1em Arial, sans-serif;
	background: url(feb12/header.jpg) repeat-x 0 100%;
	border: 1px solid #5aa5cf;
	color: #F5F5F5;
	font-size: 80%;
	text-decoration: none;
	line-height: 200%;
	padding: 2px 4px;		
}

.button a:active,
button:active,
input[type=reset]:active,
input[type=submit]:active,
.button input:active,
.highlight a:link,
.highlight a:visited {
	background: url(feb12/columnbg.jpg) 0 100%;
	color: #000;
}

a.highlight {
	color: #F5F5F5;
	border-color: #fa8072;	
}

/* Needed for Opera (11) 
input[type="reset"],
input[type="submit"],
input[type="reset"]:hover,
input[type="submit"]:hover,
button[type="submit"],
button[type="submit"]:hover {
	padding: 0 3px;
}

.button {
    margin: 2px;
}*/

form.admin input[name="features"] {
	margin-bottom: 3px !important;
}

select {
	font: 95% Arial, Helvetica, sans-serif;
}

select#general-timezone {
	width: 380px;
}

#col1 select[type=file] {
	font-size: .95em;
}

small {
	font-size: 0.8em;
}

label {
	margin: 0 2px;
}
/*
ul span, ol span {
	color: #333;
}*/

/***** Page Layout *****/
#tiki-clean {
	font-size: 12pt !important;
}


/*** *litecss-based layout
	(overrides lite.css) ***/
#main {
	font-size: 1.24em;
}

.header {
	text-align: left;
}

#middle {
	background: #fff url(feb12/page.jpg) repeat-x;
}

#c1c2 {
	text-align: left;
	font-size: 1em;
}

.fullscreen #col1 {
	margin-left: 30px !important;
	margin-right: 30px !important;
}

#c1c2 #wrapper .marginleft {
	margin-left: 240px;
}

#c1c2 #wrapper .marginright {
	margin-right: 240px;
}

#tiki-center {
	padding: 1em;
}

#col2 {
	overflow: visible;
	background: #A8CCE2 url(feb12/columnbg.jpg) repeat-x;
}

#c1c2 #col2 .content {
	padding: 1em;
}

#footer {
	text-align: center;
	font-size: .9em;
}

/* Site Header & Identity */
/*.header_fixedwidth {
	margin: 0;
}*/

/* Enable header and footer content to widen when middle has wide content. */ 
body.fixed_width .fixedwidth .fixedwidth {
	width: 100%;
	padding: 0;
}

header.page-header {
	margin: 0 auto;
	background: url(feb12/header.jpg) repeat-x bottom;
}

#top_modules {
	min-height: 98px;	
}

#top_modules .module.secondary_site_menu {
	position: absolute;
	top: 0;
	right: 30px;
}

#top_modules .secondary_site_menu .cssmenu_horiz li ul {
	margin-top: -20px;
}

#top_modules .secondary_site_menu .cssmenu_horiz li ul ul {
	margin-top: 0;
}


.sitelogo {
	margin-top: 0;
}
.sitelogo img {
	padding: 0 10px;
}


.floatright img {
	margin-right: 40px;
}

/*
.box-login_box {
	float: right;
	margin-right: 20px;
	margin-top: 40px;
	color: #f5f5f5;
}
*/

#top_modules .box-login_box {
	position: absolute;
	right: 20px;
	bottom: 0;
}

.siteloginbar_popup .tabmark {
	padding: 0;
	background-position: 0 -2px;
}

.siteloginbar_popup .login_link {
    padding: 4px 8px;
}

.siteloginbar a:link,
.siteloginbar a:visited {
	color: #fff;
	text-decoration: none;
}

.siteloginbar div {
	text-align: right;
}

.siteloginbar_poppedup {
	margin-top: -18px;
}

/* Site title and subtitle */
#top_modules .box-logo {
	margin-left: 20px;
	height: 100%;
}

#top_modules .sitetitles {
	margin: 3% 20px 2% 20px;
}

.sitetitle {
	font-size: 2.2em;
	text-shadow: 0 0 10px #fff;/* text-shadow; CSS3 valid property, values are <offset x> <offset y> <blur> and <color>; ex: 0 0 10px #fff */
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.sitetitle a,
.sitetitle a:link,
.sitetitle a:visited {
	color: #052653;
	text-decoration: none;
}

#customcodewith_ad .sitetitle,
#customcodewith_ad .sitesubtitle {
	max-width: 300px;
}

.sitesubtitle {
	color: #fff;
	font-size: 1.3em;
	line-height: 1.5;
}

/* tiki-top_bar.tpl - menu and search */
#topbar_modules .navbar-default/*,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form*/ {
	background: url(feb12/header.jpg) repeat-x;
	color: #F5F5F5;
/*	height: 34px;
	padding-top: 3px;
	font-size: 14px;*/
}

#topbar_modules a {
	color: #F5F5F5;
}

.navbar-collapse {
	border: none;
	padding-left: 0;
	padding-right: 0;
}

#topbar_modules .box-search {
	position: absolute;
	top: 4px;
	right: 20px;
	height: 34px;
	line-height: 34px;
}

/* centercolumn */
a.flip,
a.flip:visited,
.tellafriend a,
.share a,
.tellafriend a:visited,
.share a:visited {
	color: #ADBAC3;
}

a.flip:hover,
.tellafriend a:hover,
.share a:hover {
	color: #505050;
	text-decoration: none;
}
	
/****** Menus ******/
/** CSS (suckerfish) menus **/
.cssmenu_horiz li,
.cssmenu_vert li {
	background: inherit;
}

.csmenu ul li,
.cssmenu_horiz ul li,
.cssmenu_vert ul li {
	border-top: 1px solid #57A5D0;
}

.cssmenu_vert li ul li,
.cssmenu_horiz li ul li{
	background: #a8cce2;
}

.cssmenu ul a,
.cssmenu_horiz ul a,
.cssmenu_vert ul a {
	padding: 6px;
	color: #487384;
}

cssmenu_horiz a,
.cssmenu_vert a {
	border-left: 0;
	border-top: 0;
	text-decoration: none;
}

.cssmenu_vert a {
	padding: .2em 1em;
}

#tiki-top > .cssmenu_horiz {
	margin-left: 20px;
}

#tiki-top .cssmenu_horiz li.menuLevel0 a {
	padding: 8px 1em;
	text-decoration: none;
	font: 14px Verdana, Helvetica, Arial, Sans-Serif;
	color: white;
	margin: 0;
}

#tiki-top .cssmenu_horiz li.menuSection0 a {
	padding-right: 2.6em;
}

#tiki-top .cssmenu_horiz li.menuLevel0:hover {
	background: url(feb12/header.jpg) repeat-x 0 100%;
	color: #eee !important;
	text-decoration: none;
}

#tiki-top .cssmenu_horiz li.menuLevel1 a {
	color: #000;
	padding: 4px 1em;
}

#tiki-top .cssmenu_horiz li ul a {
	color: #000;
}

#tiki-top .cssmenu_horiz ul li a:hover,
.cssmenu_vert ul li a:hover {
	color: #993300;
	text-decoration: none;
}

/* compensate for 1px border */
.cssmenu_horiz li ul li ul,
.cssmenu_vert li ul li ul {
	top: -1px !important;
}

#col2 .box-data .cssmenu_vert ul {
	padding-left: 0;
}

/* Special to match #col2 width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 192px;
	padding: 0 !important;
}

/* offset to match width of #col2 */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 192px;
}

/* return to default offset */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

#col2 .cssmenu_vert ul li {
	width: 10em;
}

#col2 .cssmenu_vert > li:hover {
	background: #97c0da;
}

#col2 .cssmenu_vert li {
	padding: 0;
}
/*
.cssmenu_horiz.sf-shadow ul li,
.cssmenu_vert.sf-shadow ul li {
	background-color: #CCDCEB !important;
}*/

#tiki-top .cssmenu_horiz li a .sf-sub-indicator {
	top: 0.7em;
}

#tiki-top .cssmenu_horiz li ul li a .sf-sub-indicator,
.cssmenu_horiz li a .sf-sub-indicator,
.cssmenu_vert li a .sf-sub-indicator {
	top: .4em;
}

/** Links in other menus **/
.separator, .separatorline {
	color: #794a93;
}

.separator a:link,
.separator a:visited,
.separator a:hover {
	color: #794a93;
}

.option a.linkmenu:hover {
	color: #794a93;
}

.option a:link,
.option a:visited,
a.linkmenu,
.rsslink,
.linkmenu:visited,
.rsslink:visited {
	color: #794a93;
}

.linkmenu:hover {
	color: #794a93;
}

a.linkmodule {
	color: #794a93;
}

/****** Misc. Global Classes (layout and style) ****/

.link,
.gallink,
.bloglink,
.fgallink,
.trailer,
.opencomlink,
.commentslink,
.admlink,
.forumbutlink {
	font-weight: normal;
	padding: 0;
}

.mini {
	color: #000;
}

.adminanchors {
	background: #4179AA !important;
}

/**** Boxes *****/
/** Modules **/
.box {
	margin-bottom: 1.5em;
}

h3.box-title {
	border-bottom: 1px solid #57A5D0;
}

.flipmodimage:hover {
	border: 1px solid #58A7D2 !important;
}

/** Other boxes **/
.cbox {
	color: #333;
	background: #fff;
}

.rbox {
	margin: 4px 0;
}

.rbox-title {
	background: #794a93;
	color: #f5f5f5;
	padding: 3px;
	margin-bottom: -.45em;
}

.rbox-data {
	background: #794a93;
	color: #f5f5f5;
}

.rbox a,
.rbox a:visited {
	text-decoration: none;
	color: #a8cce2;
}

.rbox a:hover {
	text-decoration: underline;
	color: #a8cce2;
}

.tip .rbox-title,
.tip .rbox-data,
.rbox-data.tip {
	background: #794a93;
	color: #f5f5f5;
}

.simplebox {
	color: #333;
	background: #fff;
	border: solid 1px #909090;
	padding: 4px;
}

/***** Tables, Tabs and Lists ****/
/** Tables **/
table {
	font-size: 1em;
}

.normal {
	border: solid 1px #909090;
}

td {
	font-size: inherit;
}

.normal td,
.wikitable td,
.odd,
.even,
.form,
.formcolor td,
.editblogform td
{
	padding: 0.2em;
	border-right: solid 1px #909090;
	border-collapse: collapse;
}

tr.odd td,
.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	border-right: 1px solid #909090;
	background: #F5F5F5;
}

tr.even td,
.even,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background: #ECECEC;
	border-right: 1px solid #909090;
}

th,
.heading,
tr.diffheader {
	font-size: 1em;
	font-weight: bold;
	color: #93554a;
	background: #a8cce2;
	min-height: 32px;
}

/* Cells in forms using a background color */
.formcolor td,
.editblogform td {
	border: 1px solid #a5acb2;
	background: #a8cce2;
}

/** Tabs **/

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding: .2em .2em 0;
	margin:0 0.2em 0 0;
}

.tabs br {
	display: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabmark,
#siteloginbar_popup .tabmark {
	list-style-image: none;
	float: left;
	margin: 0 .2em -1px 0;
	font-size: 85%;
	background: url(feb12/header.jpg) repeat-x;
	color: #F5F5F5;
	border: 1px solid #abcdef;
	border-bottom-width: 0 !important;
}

.tabmark > a {
	color: #a8cce2;
	border: none;
}

.tabmark > a:hover {
	background: url(feb12/header.jpg) repeat-x 0 100%;
	color: #eee !important;
	text-decoration: none;
}

.tabactive {
	border-bottom-width: 0;
	padding-bottom: 1px;
	background: #f0f9ff;
	outline: none;
}

.tabactive a {
	font-weight: normal;
	color: #212121;	
}

.tabcontent {
	padding: 6px 2px 2px 2px;
	background: #f0f9ff;
	border: 1px solid #225566;
}

.admin #content1 .tabcontent .cbox {
	background: transparent;
}

.statuson {
	border: 1px solid #225566;
}

/*** Feature-specific selectors ***/
/***** Wiki *****/
h1 a.pagetitle,
h1 a.pagetitle:visited {
	font-size: 1.2em;
	color: #93554a;
}

h1 a.pagetitle:hover {
	text-decoration: none;
}

#description,
.description {
	font-size: .95em;
	font-style: italic;
}

.wikitext {
	line-height: 1.4em;
}

.wikitext h1,
.wikitext h2,
.wikitext h3,
.wikitext h4 {
	margin: 0 0 15px;
	padding: 0;
}

.wikitext h2 {
	margin-bottom: 10px;
}

.titlebar {
	padding: 0.1em;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 10px 0 10px 0;
}

.wikitext .box {
	width: auto;
}

.wikitable {
	border: 1px solid #A9A9A9;
	border-collapse: collapse;
}

.wikicell {
	padding: 3px;
	border: 1px solid #999999;
	border-collapse: collapse;
}

#wikihelp-tab table,
#wikihelp-tab table td {
	border: solid 1px #909090;
	border-collapse: collapse;
}

textarea.wikiedit {
	font-size: 1.0em;
}

/* Wiki plugins */
/* Code plugin  */
.code,
.codelisting {
	background: #F5F5F5;
	font: 90% "Courier New", Courier, monospace;
}

.code {
	padding: 3px;
	border: 1px dashed #CCCCCC;
}

.codelisting {
	padding: 10px;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto;
	width: 90%;
}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	color: #666;
	background: #F5F5F5;
	font-weight: bold;
}

/* Quote plugin */
.quoteheader {
	margin-left: 20px;
}

.quotebody {
	font-style: italic;
}

/* Versions plugin */
#tiki-center .versioncontent {
	border: 1px solid #aaa;
	background: #fff;
	padding: 1em;
}

/** Wiki tocs **/
.tocnav {
	background: #EBEBEB;
	padding: 3px;
}

/** toc **/
.toc {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
}

/* Wiki diff styles */
.diff td {
	border: 1px solid #A9B8C2;
}

.diff div {
	border-top: 1px solid #A9B8C2;
}

.diffheader {
	background: #A9B8C2;
	font-weight: bold;
}

/* Articles */
/*.article {
	padding-bottom: 40px;
}*/

.articletopline {
	font-size: 90%;
	font-style: italic;
}

.articletitle {
	margin-top: 6px;
	margin-bottom: 15px;
	text-align: left;
}

.articletitle h2 {
	font-size: 1.5em;
	font-weight: normal;
}

.wikitext .articletitle h2 {
	font-size: 1.3em;
}

.titleb {
	font-size: 1.0em;
}

.articlesubtitle {
	font-size: 0.9em;
}

.articleheading {
	margin-top: 6px;
}

.articletrailer {
	margin-top: 0.8em;
}

/***** Blogs *****/
.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%;
}

.bloginfo {
	text-align: center;
	padding: 3px;
	line-height: 150%;
	text-transform: none;
}

.postinfo a {
	color: #9CF;
	text-decoration: none;
	border-bottom: 1px dotted #9CF;
}

a.blogt:hover {
	color: #FFF;
	border-bottom: 1px dotted #FFF;
}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.2em;
}

span.posthead {
	font-weight: bold;
	letter-spacing: .4pt;
}

body.tiki_blogs .post .title h2 {
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 0;
}

body.tiki_blogs .post .postbody {
	margin-right: 8px;
	line-height: 1.2em;
	margin-bottom: 1em;
	border: 0;
	background: none;
}

body.tiki_blogs .actions {
	background: none;
}

body.tiki_blogs .author_info {
	width: 100%;
	float: none;
	text-align: left;
	background: none;
	border: 0;
}

.postbody-title {
	background: none;
	border: 0;
}

body.tiki_blogs .postbody-title {
	float: none;
	width: 100%;
	background: none;
	border: 0;
}

body.tiki_blogs .postfooter {
	width: 100%;
	margin-bottom: 2em;
}

body.tiki_blogs .postfooter .actions {
	float: left;
}

/***** Forums *****/
.post .postbody {
	border: solid 1px #E7EAED;
	border-top: solid 1px #57a5d0;
	background: #F9FCFF;
	font-size: 1em;
	font-weight: normal;
}

.postbody-content {
	padding: 8px;
}

.post .postbody-title {
	display: block;
	border-bottom: 1px solid #57a5d0;
	margin-bottom: 0;
	height: 100%;
	padding-top: 2px;
	background: #a8cce2;
}

.post .postbody-title .title {
	color: #29677B;
	font-size: 1.2em;
	padding: 3px;
}

.post .author {
	text-align: right;
	vertical-align: top;
	float: none;
}

.post .author_post_info {
	display: block;
	padding: 0 2px 2px 2px;
	background: #E0EAF4;
}

.post .author_post_info_on {
	font-style: italic;
	float: none;
}

.post .author_info {
	float: right;
	padding: 0 2px 2px 2px;
	margin-left: 5px;
	border-left: 1px solid #D7E5F3;
	border-bottom: 1px solid #D7E5F3;
	background: #F0F8FF;
}

.post .postbody-title .actions {
	font-size: .9em;
}

.post .postbody .content {
	width: 100%;
/* height: 100%;*/
	color: #000000;
}

.post .postbody .attachments {
	border-top: 1px dotted #D9D9D9;
}

.post .postfooter .status {
	font-size: .9em;
}

.post .contribution {
	border: 1px solid #D7E5F3;
	padding: 0 2px 0 2px;
	background: #F0F8FF;
}

.post .avatar {
	border: 1px solid #ACCCDD;
	background: #E0EAF4;
	margin-right: 3px;
	margin-left: 0;
}

.forum_actions .actions {
	margin-top: -1px;
	border: 1px solid #999999;
	background: #ececec;
}

.forum_actions .headers .title {
	border: 1px solid #999999;
	background: #C7D0D9;
}

.forum_actions .headers .infos {
	font-size: smaller;
}

.commentsedithelp {
	background: #ffcfcf;
	color: black;
	border: 1px solid #ff0000;
	text-align: center;
	font-weight: bold;
}

textarea#editpost2 {
	font-size: 1em;
}

/***** Categories *****/
ul.catitems li {
	margin-right: 10px;
}

/***** Tags (freetags) *****/

/***** Image Galleries *****/
.galtable {
	border-collapse: collapse;
	border: 1px solid #8CACBB;
}

html>body .galtable {
	width: 100%;
}

.caption {
	color: black;
}

/***** File Galleries *****/

.fgalexplorer {
	border: 1px solid #8CACBB;
}

.fgallisting table td {
	padding-left: 2px;
	padding-right: 2px;
}

/***** Trackers *****/

/***** Calendar *****/
/* Overrides calendar.css, etc. */
.calcheckbox {
	background: #FFFFFF;
}

/*today focus*/
.caltable td.calhighlight,
td.calheadhighlight {
	background: #f3e498;
}

.caltable .calborder {
	border-right: 1px solid #909090;
}
/*end today focus*/

.calprio1 {
	background: #DAE0E0;
}

.calprio2 {
	background: #DADCDC;
}

.calprio3 {
	background: #DAD0D0;
}

.calprio4 {
	background: #DACACA;
}

.calprio5 {
	background: #DAC0D0;
}

.calprio6 {
	background: #DABABA;
}

.calprio7 {
	background: #DAB0B0;
}

.calprio8 {
	background: #DAAAAA;
}

.calprio9 {
	background: #DA9A9A;
}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {
	color: #393E51;
}

.caltoggle {
	font-size: 90%;
}

.opaque {
	background: #fff;
	border-left: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969;
}

.opaque .box-title {
	border-bottom: 1px solid black;
}

.searchresults li .objecttype,
.searchresults li .parentname,
.searchresults li .objectname  {
	font-size: 120%;
	font-weight: bold;
}

.searchresults .itemhits,
.searchresults .itemrelevance,
.searchresults .searchdate {
	color: gray;
	font-size: .95em;
}

.box-data .fc a.today,
.box-data td a.today {
	background: #F3E498;
}

.calheadingon a {
	color: #794A93 !important;
	text-decoration: none;
}

.calHeadingOn, .calHeadingOn a {
	background: #f3e498;
}


/*****  Polls  *****/
.pollresults {
	margin-top: 5px;
	font-size: 1.2em;
	padding: 0 5px;
}

.pollr {
	color: black;
}

/** FAQs **/

/** Quizzes **/
.questionblock {
	padding: 4px;
}

.quizquestion {
	margin-bottom: 5px;
}

/** Shoutbox **/

/***** Directory *****/
.dircategs {
	border: 1px solid #8CACBB;
	padding: 5px;
}

.dirlistsites {
	padding: 5px 0 10px 5px;
	margin-top: 10px;
}

.dirrelated {
	margin-top: 10px;
	padding: 5px;
}

td.dirfooter {
	font-size: .95em;
}

div.dirfooter {
	margin-top: 10px;
}

/***** Messages *****/
.prio1,
.prio2,
.prio3,
.prio4,
.prio5 {
	border: 1px solid #8CACBB;
}

.messureadflag {
	background: #CCCCCC;
}

.messureadhead {
	background: #DEDEDE;
}

.messureadbody {
	background: #DEDEDE;
}

/**********   Ajax   **********/

/***** TikiSheet Default Style *****/
.default thead td,
.default tfoot td {
	font-weight: bold;
	text-align: center;
	background: #4179AA;
	color: #D8D8D8;
}

.default td {
	border: solid 1px #909090;
	background: #F5F5F5;
}

.highlight_word_0 {
	color: #ffff66;
	background: black;
}

.highlight_word_1 {
	color: #ff9999;
	background: black;
}

.highlight_word_2 {
	color: #A0FFFF;
	background: black;
}

.highlight_word_3 {
	color: #ff66ff;
	background: black;
}

.highlight_word_4 {
	color: #99ff99;
	background: black;
}


/* css/admin.css overrides */
a.admbox {
	border: 1px solid #AAAAAA;
	background-color: #a8cce2;
}

a.admbox:hover,
a.admbox:focus,
a.admbox:active {
	background-color: #B2B2B2;
	border: 1px solid #292929;
}

a.admbox.off {
	border: 1px solid #9f9f9f;
}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {
	border: 1px solid #9f9f9f;
}

.button .iconmenu {
	display: inline;
}

/* fixed-width rules */
body.fixed_width {
	background: #e6f3f6;
}

body.fixed_width #main {
	background: #fff;
}

body.fixed_width #main[id] {
	border: 1px solid #006669;
	margin-top: 18px;
	margin-bottom: 5px;
}

/* end of css file */
