/* $Id: fivealive.css 50485 2014-03-25 12:15:47Z jonnybradley $
	FiveAlive theme (fivealive.css) for Tiki Wiki CMS Groupware.
	Visit http://themes.tiki.org for more information.
	*
*/

/* Import foundation CSS file */
@import url("layout/design.css");

/* Import matching jQuery-UI theme */
@import url("fivealive/jquery-ui/jquery-ui.min.css");

/* make sure whole browser viewport background is always set to white */
html {
	background-color: #fff;
}

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	color: #000;
}

body.filegal_popup {
	background-image: none;
	padding: 0 2em;
}

 /***** Layout *****/
.header_outer {		/* whole width div containing the header strip */
	background: url(fivealive/options/blueberry/headertile.png) 0 0 no-repeat;
}

.header_container {	/* 2nd whole width div for background image tricks */
	background: url(fivealive/header_left.png) 0 100% no-repeat;
}

.header_container > .header {	/* inner <header> element that gets .fixedwidth class applied */
	background: url(fivealive/options/blueberry/siteheader.jpg) 0 0 no-repeat;
}

#header #top_modules .module.secondary_site_menu {
	background: none;
}

#topbar_modules {
	background: url("fivealive/topbar.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 1);
	border-radius: 0.4rem;
	color: #fff;
	min-height: 50px;
}

/* bootstrap override */
#topbar_modules .navbar-default {
	background: transparent;
	border: none;
	width: 100%;
	margin-bottom: 0;
}

#topbar_modules .box-search {
	position: absolute;
	bottom: 13px;
	right: 10px;
}

.middle_outer {
		background: url("fivealive/topbar.jpg") repeat-x;
}

#footer {
	background: black;
	color: #696969;
	padding: 1px 0 2px 0;
	text-align: center;
	width: 100%;
}

.footer_liner {
	border-top: 1px solid #28aae1;
	border-bottom: 1px solid #28aae1;
	margin-bottom: 2px;
	padding-bottom: 2px;
}

#custom_site_footer,
#power,
#rss,
#credits_svnrev,
#loadstats small {
	text-align: left !important;
	margin: auto;
	width: 90%;
	display: block;
}

#footer .container {
	margin-bottom: 2px;
}

#footer a,
#footer a:visited {
	color: #a9a9a9;
}

#footer a:hover,
#footer a.wiki:hover {
	color: #fbfbfb;
}

/* for wiki/html mix tiki.org footer - pre-Tiki 11 and/or non wiki paragraph mode */

#footer .box {
	float:left;
	text-align: left;
}

#footer h3,
#footer h3 a,
#footer h3 a:visited {
	color: #fff;
}

#footer h3 {
	border-bottom: 1px dotted #28aae1;
	font-size: 1.2em;
	margin: 0;
	margin-bottom: 6px;
	padding-bottom: 6px;
}

#footer h3#keepintouch {
	border-bottom: none;
	width: 11em;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 0;
	padding: 0;
}

/* *.tiki.org footer for Tiki 11+ (when using wiki paragraph formatting */

#twfooter ul {
	list-style: none;
	width: 100%;
	text-align: left;
	padding: 0;
	margin: 0 2em 0 0;
}

#twfooter ul ul li {
	float: left;
	clear: left;
}

#twfooter li {
	float: left;
}

#twfooter > ul > li {
	width: 12%;
}

#twfooter > ul > li > a,
#twfooter > ul > li > a:visited {
	border-bottom: 1px dotted #28aae1;
	font-size: 1.2em;
	margin: 0 0 .5em;
	padding-bottom: .5em;
	color: #fff;
	font-weight: bold;
	display: inline-block;
}

#twfooter > p {
	clear: both;
	text-align: left;
}

/* end t.o footers */

#rss {
	text-align: left !important;
	margin-bottom: 24px;
	padding-top: 8px;
}

#footer .box:first-child {
	margin-left: 0;
}

#custom_site_footer h3 {
	margin: 0 0 5px 0;
	font-size: 14px;
}

#power {
	font-size: 12px;
	text-align: left;
	padding: 0 8px 1px;
	margin-top: 30px;
	margin-bottom: 17px;
}

#poweredby {
	font-weight: bold;
	color: #fff;
}

#power a {
	color: #28aae1;
}

#loadstats {
	background: #28aae1;
	color: #004b78;
	padding: 2px 8px 0;
}

.cvsup {
	float: right;
	margin-right: 10px;
}

#credits_svnrev {
	margin-bottom: 13px;
}

#show-errors-button {
	text-align: right;
	margin-top: -26px;
	display: inline-block;
	float: right;
}

#show-errors-button a {
	background: #fff;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	margin-right: 10px;
	padding: 6px;
	font-weight: bold;
	font-size: 10px;
	color: #004b78;
}

.highlight,
.button.highlight a {
	background: #fad5e0;
}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {
	color: #1174a5;
	text-decoration: none;
}

a:active, a:hover {
	color: #26a6dd;
	text-decoration: none;
}

h1,
h2 {
	line-height: 110%;
}

pre,
tt {
	font-size: 1.2em;
}

hr {
	border-top: 2px solid #74c0e2;
}

.btn-default,
.btn-default:visited,
button,
.button input,
#genPass .btn-default,
#genPass .btn-default:visited,
.daterow {
	color: #fff;
	background: #2098cd;
	border: 1px solid #11597e;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.btn-default:hover,
button:hover,
.button input:hover
#genPass .btn-default:hover,
.daterow:hover {
	background: #1173a5;
	border: 1px solid #11597e;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#genPass .button:hover {
	border-width: 1px !important;
}

.highlight,
.highlight a {
	border: 1px solid #9ae8fa;
	color: #000;
}

.button.highlight a {
	background: #d6f3fa;
	color: #0c0c0c;
}

.button.highlight {
	border: none;
}

.button.highlight a:hover {
	border: 1px solid #000;
}

.btn .btn-default,
textarea,
.adminoptionbox option {
	background-color: #d6f3fa;
	color: #000;
	border: 1px solid;
	border-color: #9ae8fa #e3f7fb #e3f7fb #9ae8fa;
}

/* Needed for Opera (11) 
.btn-default,
input[type="reset"],
input[type="submit"],
input[type="reset"]:hover,
input[type="submit"]:hover,
button[type="submit"],
button[type="submit"]:hover {
	padding: .2em .8em;
}*/

select[multiple="multiple"] {
	height: 120px;
}

input[type="text"],
input[type="password"],
select {
	margin: 2px;
}

.wikiplugin_tracker, #editItemForm .formcolor {width: 100%;}
#editItemForm .formcontent {width: 70%;}
#editItemForm .formlabel {width: 30%;}

/***** Site Header & Identity *****/

#top_modules .box-menu {
	float: right;
}

#top_modules .box-quickadmin {
	position: absolute;
	right: 10px;
	top: 30px;
	background: #fff;
	border: 1px solid #696969;
	border-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	padding: 0 6px 2px 0;
}

#top_modules #secondary_site_menu {
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 0;
	right: 30px;
	background: none;
}

#top_modules #secondary_site_menu a,
#top_modules #secondary_site_menu a:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}

#top_modules #secondary_site_menu ul ul a,
#top_modules #secondary_site_menu ul ul a:visited {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	font-size: 12px;
}

#sitesearchbar {
	color: #fff;
	height: 45px;
	line-height: 45px;
	width: 200px;
	margin-right: 10px;
}

#sitesearchbar form {
	background: url(fivealive/searchform.png) no-repeat 100% 12px;
}

#sitesearchbar label.findtitle {
	font-size: 0;
}

#sitesearchbar form input {
	background: none;
	border: none;
	height: 1em;
	line-height: 1em;
}

#sitesearchbar form input[type="text"] {
	width: 150px;
	font-size: 18px;
	height: 22px;
}

#sitesearchbar form input[type="submit"] {
	color: #d1d2d4;
	text-indent: -2000px;
	height: 24px;
	width: 30px;
	margin-left: 8px;
	margin-top: 12px;
}
/* search form filter dropdown */
#sitesearchbar form .cssmenu_horiz li a {
	background: none;
	width: 138px;
	padding-top: 11px;
	padding-left: 4px;
}

#sitesearchbar form .cssmenu_horiz li a input[type="text"] {
	font: bolder 12px Verdana, Geneva, Arial, Helvetica, sans-serif !important;
}

#sitesearchbar form .cssmenu_horiz li ul {
	width: 9em !important;
}

#sitesearchbar form .cssmenu_horiz li ul li {
	background: #e3f7fb;
	height: 210px !important;
	color: #000;
} /* end search form filter dropdown */

#top_modules .box-logo {
	float: left;
	margin-left: 10px;
	margin-bottom: 18px;
}

#top_modules .sitelogo {
	width: 235px;
}

#top_modules .sitelogo img {
	margin-top: 16px;
}

#top_modules .sitetitles {
	margin-top: 55px;
	margin-left: 135px;
	font-family: Paneuropa, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
}

#top_modules .sitetitle,
#top_modules .sitesubtitle {
	color: #fff;
	text-shadow: #143c64 3px 2px 0;
}

#top_modules .sitetitle {
	font-size: 52px;
	/*margin-top: 2%;
	line-height: 1;*/
}

#top_modules .sitetitle a,
#top_modules .sitetitle a:visited {
	color: #fff;
	text-decoration: none;
}

#top_modules .sitesubtitle {
	font-size: 30px;
}

/* Sitelogin Popup */

#top_modules .siteloginbar_popup {
	position: absolute;
	right: 10px;
	bottom: -1px;
	width: 10em;
	line-height: 1;
}

.siteloginbar_popup fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.siteloginbar_popup .tabmark {
	border: 1px solid #696969;
	border-bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

.siteloginbar_popup ul.clearfix #register_link {
	background-color: #969696;
}

.siteloginbar_popup ul.clearfix .tabmark {
	background-color: #070707;
}

.siteloginbar_poppedup a {
	color: #2098CD !important;
}

#sl-login-user, #sl-login-pass {
	background: #fff;
}

#sl-openid {
	background-color: #fff;
}

.siteloginbar_poppedup input.button {
	margin: 6px 0;
}

/* new modules revamp login */

.siteloginbar {
	background-color: #D6F3FA;
	padding: 0 1em;
}

.siteloginbar input[type="text"],
.siteloginbar input[type="password"] {
	background: #fff;
}

.siteloginbar_poppedup + .cluetip-close {
	background: #a9d6eb;
	border-radius: 5px;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.506);
}

.siteloginbar_poppedup + .cluetip-close a {
	color: #2098CD
}

/*** CSS menus shadows for all but IE6 ***/
ul.sf-shadow ul {
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-topright: 16px;
	-webkit-border-top-right-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
}

a.register_link,
a.login_link {
	color: #fff !important;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
/*	margin-bottom: -1px !important;*/
}
.siteloginbar_popup ul.clearfix ul {
	margin-top: -2px;
}

.siteloginbar_popup .cssmenu_horiz #register_link ul {
	margin-left: -4em;
}

.siteloginbar_popup .cssmenu_horiz #login_link ul {
	margin-left: -10.5em;
	width: 18em !important; /* to override the hardcoded in-line style width 17.5em */
}

.siteloginbar_popup .cssmenu_horiz #logout_link ul {
	margin-left: -10.7em;
	width: 20em !important; /* to override the hardcoded in-line style width */
}

.siteloginbar_popup .tabmark .tabcontent {
	color: #000;
}

.siteloginbar_popup .tabmark ul li a,
li.login_link ul li a {
	background: none !important;
	color: #1174a5;
}
/* end Sitelogin Popup */

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* default and topbar dropdown typography (colors) and padding */
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.box-menu .cssmenu_horiz li ul a,
.box-menu .cssmenu_horiz li:hover ul a,
#main #topbar_modules .cssmenu_horiz li ul a,
#main #topbar_modules .cssmenu_horiz li:hover ul a {
	background: #153c64;
	font-weight: normal;
	text-decoration: none;
	padding: 8px 1em;
}

.dropdown-menu, /* bootstrap */
.cssmenu_horiz li a:hover,
.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.box-menu .cssmenu_horiz li ul a:hover,
#main #topbar_modules .cssmenu_horiz li ul a:hover {
	background: #128bc9;
	text-decoration: none;
	border-right: none;
}

.cssmenu_horiz a,
.cssmenu_vert ul li a {
	color: #fff;
	padding: .75em 1em;
}

.box-menu .cssmenu_horiz li a,
#topbar_modules .cssmenu_horiz li a {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

.box-quickadmin .cssmenu_horiz a {
	color: #128bc9;
	padding: .75em 1em;
}

.box-quickadmin .cssmenu_horiz  .sf-sub-indicator {
	background: url(fivealive/options/blueberry/arrows-1174a5.png) no-repeat 10px 0;
}

.box-quickadmin .cssmenu_horiz li a  .sf-sub-indicator {
	top: 10px;
	background-position: -10px -100px;
}

.box-quickadmin .cssmenu_horiz li ul a {
	background-color: #fff;
}

.header #secondary_site_menu .cssmenu_horiz li a {
	font-weight: 400;
	padding: 8px .7em;
}

#secondary_site_menu .cssmenu_horiz li.menuSection a {
	padding-right: 25px;
}

#secondary_site_menu .cssmenu_horiz li.menuSection:last-child ul {
	margin-left: -.5em;
}

#topbar_modules .cssmenu_horiz li a {
	font-size: 13px;
	padding: 17px 1em 15px;
	background: url(fivealive/menu_divider.png) 100% 50% no-repeat;
}

#topbar_modules .navbar-default .navbar-nav{
    margin-top: 0px;
}

#topbar_modules .navbar-default .navbar-nav > li > a {
    background: url("fivealive/topbar.jpg") repeat-x;
    color: #fff;
    text-transform: uppercase;
}

#main #tiki-top .cssmenu_horiz li a:hover {
	background: #1d1d1d;
}

/* bootstrap */
#topbar_modules .dropdown-menu {
	background: #153c64;
	color: #fff;
	padding: 0;
}

#topbar_modules .dropdown-menu li a {
	color: #fff;
}

#topbar_modules .dropdown-menu > li > a:hover,
#topbar_modules .dropdown-menu > li > a:focus {
	background: #128bc9;
}

/* ul ul top compensation for padding */
#topbar_modules .cssmenu_horiz li:hover ul,
#topbar_modules .cssmenu_horiz li.sfHover ul {
	top: 48px;
}

/* ul ul ul top compensation for padding */
#topbar_modules .cssmenu_horiz li:hover ul ul,
#topbar_modules .cssmenu_horiz li.sfHover ul ul {
	top: 0;
}

#topbar_modules .cssmenu_horiz li.menuSection a {
	padding-right: 30px;
}

#topbar_modules .cssmenu_horiz ul li a {
	text-transform: none;
}

#topbar_modules .cssmenu_horiz ul li:hover a,
#secondary_site_menu .cssmenu_horiz ul li:hover a {
	text-decoration: none;
}

#secondary_site_menu .cssmenu_horiz li a > .sf-sub-indicator {top: 13px}
#topbar_modules .cssmenu_horiz li a > .sf-sub-indicator {top: 24px}
#topbar_modules .cssmenu_horiz li li a > .sf-sub-indicator {top: 9px}
#col2 .cssmenu_vert li a > .sf-sub-indicator {top: 5px}

.header .cssmenu_horiz > li.selected > a,
#topbar_modules .cssmenu_horiz > li.selected > a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #c2eef8;
}

.cssmenu_horiz li.selected > a,
.cssmenu_vert li.selected > a {
	color: #26A6DD;
}

.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert a {
	font-weight: bold;
}

.cssmenu_vert a:hover {
	text-decoration: underline;
}

.cssmenu_vert ul a {
	color: #fff;
}
.cssmenu_vert li:hover {
	background: none;
}

.cssmenu_vert ul a:hover {
	text-decoration: none;
}

#col2 .box-data .cssmenu_vert ul {
	padding-left: 0;
}

/* left column width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

#col2 .cssmenu_vert li a {
	padding-top: 3px;
	padding-bottom: 3px;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(fivealive/options/blueberry/arrows-1174a5.png) no-repeat 10px 0;
}

.cssmenu_vert li ul li a .sf-sub-indicator {
	background: url(../img/superfish/arrows-ffffff.png);
}

/***** Icons *****/
img.icon {
	margin: 1px 2px 2px 1px;
}

/***** Boxes *****/
.panel-default > .panel-heading {
	background: #9ae8fa;
}

.module.panel { 
	background-color: transparent;
	border: none;
	box-shadow: none;
	margin-bottom: 20px;
}

.module.panel-default { 
	border-color: transparent;
}

.module.panel-default > .panel-heading { 
	background-color: transparent;
	border: none;
	color: inherit;
}

.module .panel-heading { 
	border-bottom: none;
	border-radius: 0;
	padding: 10px 0 5px;
}

.module h3.panel-title { 
	font-size: 1.55em;
	font-weight: 700;
}

.module .panel-body { 
	padding: 5px;
}

#middle > .row {
	margin-top: 1em;
}

#main h3.box-title {
	background: none;
}

.cbox {
	border: none;
	background: #d6f3fa;
	color: #2098cd;
	padding: 10px;
}

.cbox-title {
	border-bottom: 3px solid #74c0e2;
	font-weight: bold;
}

.simplebox {
	border: 2px solid #74c0e2;
}

.adminanchors {
	background: #74c0e2;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal,
.wikitable {
	border: 2px solid #1d90c5;
	border-collapse: collapse;
}

form .normal,
.tabcontent .normal {
	border: none;
}

.wikicell {
	border: 2px solid #c2eef8;
}

.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #e3f7fb;
}

.even,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background: #d6f3fa;
}


th,
td.heading,
tr.diffheader,
.weeks,
th.header {
	background-color: #1d90c5;
	color: #d6f3fa;
}

th a,
th a:visited,
td.heading a,
td.heading a:visited,
.normal th a.link,
.normal th a,
th.header {
	color: #fff
}

.admin a.link,
.admin a,
.admin label,
fieldset.admin label,
.cbox fieldset.admin a {
	color: #1174a5;
}

.admin .btn-default,
.tabstoggle .btn-default,
.tabstoggle .btn-default:visited {
	color: #fff;
}

/** Tabs **/

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	padding: .2em .2em 0;
	margin:0 0.2em 0 0;
	border: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabcontent .tabmark {
	border: 1px solid #11597e;
}

.tabmark {
	float: left;
	border: 1px solid #11597e;
	background: #2098cd;
	border-bottom-width: 0 !important;
	margin: 0 .2em 0 0;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}

a.register_link {
	background-color: #969696;
}

.tabmark a,
.tabmark a:visited {
	padding: 0.5em 1em;
	color: #fff;
	font-weight: normal;
}

.tabinactive:hover,
.tabactive {
	padding-bottom: 1px;
	border: 1px solid #a9d6eb;
	background: #a9d6eb;
}

.tabinactive:hover {
	background: #126692;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #12365a;
}

.tabcontent {
	background: #a9d6eb;
	border: none;
	border-top: none !important;
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	padding: 4px;
}

.statuson {
	background: white;
}

legend.heading {
	background: transparent;
}

fieldset.admin .adminoptionbox label,
fieldset.admin .adminoptionlabel {
	color: #000;
}

/***** Wiki *****/
.titlebar {
	border: #2098cd;
	background: #c2eef8;
	color: #143c64;
	font-weight: bold;
	padding: 1px 8px;
}

.code {
	padding: 3px;
	border: 1px dashed #a9a9a9;
	background: #f5f5f5;
	font: 90% "Courier New", Courier, monospace;
}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #f5f5f5;
	margin: 4px 0;
	border: 1px dashed #696969;
	overflow: auto;
}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #696969;
	border-bottom: 0;
	margin: 0;
	color: #696969;
	background: #f5f5f5;
	font-weight: bold;
}

/* Quote plugin */
.quoteheader {
	margin-left: 30px;
	border-bottom: 2px solid #c2eef8;
}

.quotebody {
	margin: 0 15px 10px 30px;
	font-style: italic;
	border-left: 8px solid #c2eef8;
	padding-left: 6px;
}

/***** Articles ****/
body.tiki_cms h1 a.pagetitle,
body.tiki_cms h1 a.pagetitle:visited,
body.tiki_cms h1 a.pagetitle:hover {border-bottom: 0}

/***** Blogs *****/
/***** Forums *****/

.post .postbody {
	padding: 6px;
}

.postbody-title {
	padding: .5em .3em .3em 1em;
	position: relative;
	background: #28A7DE url(fivealive/options/blueberry/siteheader.jpg) -300px -90px no-repeat;
	color: #222;
	font-weight: bold;
	font-size: 1.1em;
}

.postbody-title,
.postbody-title a.link,
.postbody-title a.link:visited {
	color: #fff;
}

.post .postbody .content {
	float: none;
	width: auto;
	padding: 0;
}

.post .author,
.dirsite {
	background: #c2eef8;
	float: none;
	margin: 0 0 6px;
	text-align: left;
	border: none;
}

.postbody .postbody-content {
	margin: 0;
	border: none;
}

.post .postfooter {
	padding: 1px;
	background: none repeat scroll 0 0 #E6EDF5;
}

/**** Image Galleries ****/
/***** File Galleries *****/
/***** Trackers *****/
/***** Categories, Tags *****/

.cattitle {
	background: #ededed;
}

/***** Directory *****/
a.dirsitelink,
a.dirsublink {
	font-weight: bold;
}

/***** Calendar *****/
.caltable .days {
	color: #fff;
}

.caltable .odd,
.caltable .even,
.calborder {
	border: 2px solid #c2eef8;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #f9f0f0;
	text-align: center;
}

/***** Admin *****/

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/
/***** New (unsorted) *****/

/* cluetip tooltips */

.cluetip-default {
	background: #CBF4FA;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #CBF4FA;
}
.cluetip-default h3#cluetip-title {
	background: #006891;
	color: #fff;
	font-weight: bold;
}

.cluetip-default #cluetip-title a {
	color: #CBF4FA;
}

/* fake 'transparent' theme (for ClueTip login box popup) */
/*.cluetip-transparent {
	top: 168px !important;
}*/


/* S5 slideshow matching theme */
.s5-background {
    box-shadow: 0 10vmin 10vmin -1rem rgba(0, 0, 0, .5) inset;
    height: 100%;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}
.s5-slide {
    background-color: #239FD5 !important;
    box-shadow: 0 8vmin 0 #000000 inset;
    height: 100%; width: 100% !important;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 5;
}
.s5-slide.transparent {
    background-color: transparent !important;
    box-shadow: none;
}
.s5-slide:after {
    background-color: #FFFFFF;
    border-radius: 15rem;
    border: 0.2rem solid #FFFFFF;
    box-shadow: -5rem -2rem 0 0 #143C64 inset, 0 0 2rem rgba(0, 0, 0, 0.5);
    content: "";
    height: 2000px;
    position: absolute;
    right: 10%;
    top: -250px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    width: 2000px;
    z-index: -2;
}
.s5-slide.transparent:after {
    display: none;
}
.s5-slide:hover {
    overflow-y: auto;
}
.s5-first td {
    padding-top: 15vmin;
}
.s5-first td {
    display: block;
    margin: auto;
}
.s5-slide-left {
    width: 90%;
}
.s5-slide-right > * {
    display: flex !important;
    margin: 1rem auto;
}
.s5-image {
    float: none !important;
}
.s5-slide img[src^="img/smiles"] {
    border-radius: 9rem;
    box-shadow: 0 0 0.1rem 0.2rem inset, 0 0 0 0.2rem #FFCC00;
    width: 3vmin;
}
.s5-slide img[src^="img/icons"] {
    color: #000 !important;
    border-radius: 9rem;
    box-shadow: 0 0 0.1em 2em inset, 0 0.1em 0.2em rgba(0, 0, 0, 0.75), 0 0 0 0.1em rgba(0, 0, 0, 0.25);
    height: 0.5em;
    margin: auto 0.25em;
    opacity: 0.75 !important;
    width: 0.5em;
}
.s5-slide img[src^="img/icons"]:hover,
.s5-slide img[src^="img/icons"]:focus
{
    opacity: 1 !important;
}
.s5-slide-li-highlighted {
    color: #2098CD;
}

.s5-footer {
    font-family: sans-serif;
    font-size: 100%;
}
#s5-slide-num {
    margin-right: 2rem;
}


/***** End New (unsorted) *****/

/* End of File */
