/* $Id: fivealive-lite.css 50188 2014-03-03 15:05:34Z luciash $
Fivealive-lite.css theme for Tiki Wiki CMS Groupware. This theme also uses
the Fivealive theme options (styles/fivealive/options/).
*/

/* make sure whole browser viewport background is always set to white */
html {
	background-color: #fff;
}

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body {
	font-family: Verdana,Arial,sans-serif;
	line-height: 1.5;
	color: #000;
	background: #fff;
}

body.filegal_popup {
	background-image: none;
	padding: 0 2em;
}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {
	color: #1174a5;
	text-decoration: none;
}

a:active, a:hover {
	color: #26a6dd;
	text-decoration: none;
}

fieldset {
	border: 1px solid #1174a5;
}


h1, h2, h3, h4, h5 {
	line-height: 1.1;
}

h1 {
	font-size: 180%;
}

h2 {
	font-size: 160%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 120%;
}

h5 {
	font-size: 110%;
}

pre,
tt {
	font-size: 1.2em;
}

hr {
	border-top-color: #74c0e2;
}

.highlight,
.highlight a {
	border-color: #9ae8fa;
	color: #000;
}

.button.highlight a {
	background: #d6f3fa;
	color: #000;
}

.button.highlight a:hover {
	border: 1px solid #000;
}

select,
textarea,
.adminoptionbox option {
	background-color: #d6f3fa;
	color: #000;
	border: 1px solid;
	border-color: #9ae8fa #e3f7fb #e3f7fb #9ae8fa;
}


select[multiple="multiple"] {
	height: 120px;
}


/***** Site Header & Identity *****/

.header_outer {
	background: url(fivealive/options/blueberry/headertile.png) no-repeat;
	background-position: 0 -395px !important;
}

.header {
	min-height: 100%;
	height: 100% !important;
}

#top_modules .module.secondary_site_menu {
	position: absolute;
	top: 5px;
	right: 30px;
	padding: 0 .5em;
	border: 1px solid transparent;
	font-weight: normal;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	color: #fff;
	background: url(fivealive/options/blueberry/siteheader.jpg) no-repeat -260px -200px;
}

#top_modules .box-logo {
	height: 100%;
}

#top_modules .sitetitles {
	font-weight: bold;
	margin-left: 20px;
	margin-top: 3%;
	margin-bottom: 2%;
}

#main #top_modules .sitetitle {
	font-size: 2.4em;
	text-shadow: none;
}

#main #top_modules .sitesubtitle {
	font-size: 1.2em;
	padding-top: 5px;
	text-shadow: none;
}

#top_modules .siteloginbar_popup {
	position: absolute;
	bottom: 0;
	right: 20px;
}

#topbar_modules {
	margin-bottom: 1em;
}

#topbar_modules .box-search {
	float: right;
}

/* Footer */
#footer {
	background: black;
	color: #696969;
	padding: 1px 0 2px 0;
	text-align: center;
	width: 100%;
}

.footer_liner {
	border-top: 1px solid #28aae1;
	border-bottom: 1px solid #28aae1;
	margin-bottom: 2px;
	padding-bottom: 2px;
}

#custom_site_footer,
#power,
#rss,
#credits_svnrev,
#loadstats small {
	text-align: left !important;
	margin: auto;
	width: 90%;
	display: block;
}

#footer .container {
	border-top: 1px solid #28aae1;
	border-bottom: 1px solid #28aae1;
	margin-bottom: 2px;
}

#footer a,
#footer a:visited {
	color: #a9a9a9;
}

#footer a:hover,
#footer a.wiki:hover {
	color: #fbfbfb;
}

#footer .box {
	float:left;
	text-align: left;
}

#footer h3,
#footer h3 a,
#footer h3 a:visited {
	color: #fff;
}

#footer h3 {
	border-bottom: 1px dotted #28aae1;
	font-size: 1.2em;
	margin: 0;
	margin-bottom: 6px;
	padding-bottom: 6px;
}

#footer h3#keepintouch {
	border-bottom: none;
	width: 11em;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 0;
	padding: 0;
}

#rss {
	text-align: left !important;
	margin-bottom: 24px;
	padding-top: 8px;
}

#footer .box:first-child {
	margin-left: 0;
}

#custom_site_footer h3 {
	margin: 0 0 5px 0;
	font-size: 14px;
}

#power {
	font-size: 12px;
	text-align: left;
	padding: 0 8px 1px;
	margin-top: 30px;
	margin-bottom: 17px;
}

#poweredby {
	font-weight: bold;
	color: #fff;
}

#power a {
	color: #28aae1;
}

#loadstats {
	background: #28aae1;
	color: #004b78;
	padding: 2px 8px 0;
}

.cvsup {
	float: right;
	margin-right: 10px;
}

#credits_svnrev {
	margin-bottom: 13px;
}

#show-errors-button {
	text-align: right;
	margin-top: -26px;
	display: block;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* default and topbar dropdown typography (colors) and padding */
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.cssmenu_horiz li ul a,
.box-menu .cssmenu_horiz li ul a,
.box-menu .cssmenu_horiz li:hover ul a,
#topbar_modules .cssmenu_horiz li ul a/*,
#topbar_modules .cssmenu_horiz li:hover ul a*/ {
	background: #153c64;
	font-weight: normal;
	text-decoration: none;
	padding: 5px 1em;
}

#tiki-top .cssmenu_horiz li a:hover,
.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.box-menu .cssmenu_horiz li ul a:hover,
#main #topbar_modules .cssmenu_horiz li ul a:hover {
	background: #128bc9;
	text-decoration: none;
	border-right: none;
}

.cssmenu_horiz a,
.cssmenu_vert ul li a {
	color: #fff;
	padding: .5em 1em;
}

.box-menu .cssmenu_horiz li a,
#topbar_modules .cssmenu_horiz li a {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

#secondary_site_menu .cssmenu_horiz li a {
	font-weight: normal;
	padding: 4px .7em;
}

#secondary_site_menu .cssmenu_horiz li.menuSection a {
	padding-right: 25px;
}

#secondary_site_menu .cssmenu_horiz li.menuSection:last-child ul {
	margin-left: -.5em;
}

#header #secondary_site_menu .cssmenu_horiz ul li a {
	text-transform: none;
}

/*#tiki-top .cssmenu_horiz li a:hover {
	background: #1d1d1d;
}*/

/* ul ul top compensation for padding */
#secondary_site_menu .cssmenu_horiz li:hover ul,
#secondary_site_menu .cssmenu_horiz li.sfHover ul {
	top: 25px;
}

/* ul ul top compensation for padding */
#tiki-top .cssmenu_horiz li:hover ul,
#tiki-top .cssmenu_horiz li.sfHover ul {
	top: 24px;
}

/* ul ul ul top compensation for padding */
#tiki-top .cssmenu_horiz li:hover ul ul,
#tiki-top .cssmenu_horiz li.sfHover ul ul {
	top: 0;
}

#tiki-top .cssmenu_horiz li.menuSection a {
	padding-right: 30px;
}

#tiki-top .cssmenu_horiz ul li:hover a,
#secondary_site_menu .cssmenu_horiz ul li:hover a {
	text-decoration: none;
}

#secondary_site_menu .cssmenu_horiz li a > .sf-sub-indicator {top: 8px}
#tiki-top .cssmenu_horiz li a > .sf-sub-indicator {top: 8px}
#tiki-top .cssmenu_horiz li li a > .sf-sub-indicator {top: 9px}
#col2 .cssmenu_vert li a > .sf-sub-indicator {top: 5px}

.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #c2eef8;
}
.cssmenu_horiz>li.selected a,
.cssmenu_vert>li.selected a {
        color: #153C64;
}
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert a {
	font-weight: bold;
}

.cssmenu_vert a:hover {
	text-decoration: underline;
}

.cssmenu_vert ul a {
	color: #fff;
}
.cssmenu_vert li:hover {
	background: none;
}

.cssmenu_vert ul a:hover {
	text-decoration: none;
}

/* left column width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

#col2 .cssmenu_vert li a {
	padding-top: 3px;
	padding-bottom: 3px;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(fivealiveg/options/blueberry/arrows-1174a5.png) no-repeat 10px 0;
}

.cssmenu_vert li ul li a .sf-sub-indicator {
	background: url(../img/superfish/arrows-ffffff.png);
}

.panel-title,
.postbody-title {
	padding: .2em .5em;
	border: 1px solid transparent;
	font-weight: 500;
	border-radius: 6px;
	color: #fff;
	background: url(fivealive/options/blueberry/siteheader.jpg) no-repeat -260px -200px;
	border-radius: 6px;
	min-height: 20px;
}

.title h2 {
	margin: 0;
	font-size: 130%;
	font-weight: 500;
}

.title h2 a,
.title h2 a:visited {
	color: #fff;
}

.post .author,
.dirsite {
	background: none !important;
	float: none;
}

.postbody-content {
	border: 1px solid #18a4bc;
	border-top: none;
}

.post .author {
	border: 1px solid #18a4bc;
	border-top: none;
	border-bottom: none;
	text-align: left;
}

.author_info {
	float: left;
}

.post .author_info .icons .actions {
margin-left: 10px;
}

.sub_comment_area {
	margin-left: 20px;
}

.sub_comment {
	padding-left: 10px;
}

.post .postfooter {
	margin-top: 0;
}

.postfooter {
	margin: 0;
	padding-top: 6px;
}

.tiki_blogs .postbody-content,
.tiki_blogs .author_info {
	margin-left: 8px;
	margin-right: 8px;
	padding: 0 6px 6px 6px;
}

.post .postfooter .actions,
.post .postfooter .author_actions {
	margin-left: 13px;
}

.post .postfooter .status {
	margin-right: 13px;
}

/***** Tables, Tabs *****/
/** Tables **/

.table,
.wikitable {
	border: 2px solid #1d90c5;
	border-collapse: collapse;
}

form .table,
.tabcontent .table {
	border: none;
}

/***Calendar****/

.caltable .odd,
.caltable .even,
.caltable .calborder,
.wikicell {
	border: 2px solid #c2eef8;
}

/*today focus*/
.caltable td.calhighlight,
td.calheadhighlight {
	background: #f9f0f0;
	text-align: center;
}

/****Tables***/
.odd,
table.table tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #e3f7fb;
}

.even,
table.table tr:nth-child(2n),
.tablesorter tr.even td {
	background: #d6f3fa;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks,
th.header {
	background-color: #1d90c5;
	color: #d6f3fa;
}

th a,
th a:visited,
td.heading a,
td.heading a:visited,
.normal th a.link,
.normal th a,
th.header {
	color: #fff
}

.admin a.link,
.admin a,
.admin label,
fieldset.admin label,
.cbox fieldset.admin a {
	color: #1174a5;
}

.admin .button a,
.tabstoggle .button a,
.tabstoggle .button a:visited {
	color: #fff;
}

/** Tabs **/

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	padding: .2em .2em 0;
	margin:0 0.2em 0 0;
	border: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabcontent .tabmark {
	border: 1px solid #11597e;
}

a.register_link {
	background-color: #969696;
}

.tabmark a,
.tabmark a:visited {
	padding: 0.5em 1em;
	color: #fff;
	font-weight: normal;
}

.tabinactive:hover,
.tabactive {
	padding-bottom: 1px;
	border: 1px solid #a9d6eb;
	background: #a9d6eb;
}

.tabinactive:hover {
	background: #126692;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #12365a;
}

.tabcontent {
	background: #a9d6eb;
	border: none;
	border-top: none !important;
	padding: 4px;
}

.statuson {
	background: white;
}

legend.heading {
	background: transparent;
}

fieldset.admin .adminoptionbox label,
fieldset.admin .adminoptionlabel {
	color: #000;
}

/***** Wiki *****/
.titlebar {
	border: #2098cd;
	background: #c2eef8;
	color: #143c64;
	font-weight: bold;
	padding: 1px 8px;
}

.code {
	padding: 3px;
	border: 1px dashed #a9a9a9;
	background: #f5f5f5;
	font: 90% "Courier New", Courier, monospace;
}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #f5f5f5;
	margin: 4px 0;
	border: 1px dashed #696969;
	overflow: auto;
}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #696969;
	border-bottom: 0;
	margin: 0;
	color: #696969;
	background: #f5f5f5;
	font-weight: bold;
}

/* Quote plugin */
.quoteheader {
	margin-left: 30px;
	border-bottom: 2px solid #c2eef8;
}

.quotebody {
	margin: 0 15px 10px 30px;
	font-style: italic;
	border-left: 8px solid #c2eef8;
	padding-left: 6px;
}

/* Border radii */

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,

#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #2098cd;
	border: 1px solid #11597e;
	font-weight: bold;
}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover
#genPass .button a:hover,
.daterow:hover {
	background: #1173a5;
	border: 1px solid #11597e;
	text-decoration: none;
	font-weight: bold;
}

#show-errors-button a {
	background: #fff;
	border: none;
	margin-right: 10px;
	padding: 6px;
	font-weight: bold;
	font-size: 10px;
	color: #004b78;
}

#tiki-top .cssmenu_horiz li a {
	font-size: 13px;
	padding: 4px 1em 4px;
	margin-right: 1em;
	background: url(fivealive/options/blueberry/siteheader.jpg) no-repeat -260px -200px;
}

#tiki-top .cssmenu_horiz ul li a {
	text-transform: none;
	margin-right: 0;
}

.tabcontent,
.postbody-content {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
}

.tabmark {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	float: left;
	border: 1px solid #11597e;
	background: #2098cd;
	border-bottom-width: 0 !important;
	margin: 0 .2em 0 0;
	color: #fff;
}

.box-login_box .tabmark {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

/* End of file */
