/* $Id: ohia.css 49240 2013-12-24 14:35:33Z chibaguy $
 * Ohia is an original theme for Tiki Wiki CMS Groupware by
 * Gary Cunningham-Lee (chibaguy), released under the GNU LGPL license.
 * This theme uses the *litecss source-ordered layout solution (http://sourceforge.net/projects/litecss).
 * For more information, please visit http://themes.tiki.org or http://zukakakina.com.
*/

/* Import layout foundation CSS files. */
 @import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #242424;
	color: #F4F4F4;
}

body.cke_show_borders {
	text-align: left !important;
}

/* bs override */
header.page-header {
	margin: 0 auto;
	border-bottom: none;
	padding-bottom: 0;
}

/* Enable header and footer content to widen when middle has wide content. */
body.fixed_width .fixedwidth .fixedwidth {
	width: 100%;
	padding: 0;
}

#main {
	background: transparent;
	color: #f4f4f4}

#middle {background: #222}

#c1c2 #wrapper #col1 > .content {
	background: transparent;
	color: #f4f4f4;
}

#footer {
	text-align: center;
	font-size: .9em;
	background: #7d0000 url(ohia/header.png) 0 100px;
	min-height: 90px;
	color: #f4f4f4;
	position: relative}

#footer a:link,
#footer a:visited {
	color: #f4f4f4;
	text-decoration: none}

#footer a:hover {
	color: #f4f4f4;
	text-decoration: underline}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {
	color: #fd0006;
	text-decoration: none}

a:hover {
	text-decoration: underline;
	color: #f4f4f4}

.wikitext a:link.wiki,
.wikitext a.link:visited {
	color: #fd0006 !important;
	text-decoration: none !important}

.wikitext a.link:hover {
	color: #f4f4f4 !important;
	text-decoration: none !important}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

h1 {
	font-weight: bold;
	font-size: 1.8em}

h2 {font-size: 1.6em}
h3 {font-size: 1.5em}
h4 {font-size: 1.3em}
h5 {font-size: 1.2em}
h6 {font-size: 1.1em}

hr {
	width: 100%;
	height: 1px;
	background: #aaa;
	border-width: 0;
	padding: 0;
	color: #f4f4f4}

fieldset {
	color: #cfcfcf;
	border: 1px solid #4c4c4c;
}

legend {color: #cfcfcf}

.btn.btn-default,
.btn.btn-primary,

button,
input,
textarea,
.form-control,
select,
body.cke_show_borders {
	background: #242424;
	color: #cfcfcf;
	border: 1px solid #4c4c4c}

input[type="file"] {color: #cfcfcf}


.button a,
.button a:visited,
button,
button[type="submit"],
input[type="reset"],
input[type="submit"],
.button input {
	color: #fd0006;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif !important;
	border: 1px solid #5f5f5f;
	border-right: 1px solid #474747;
	border-bottom: 1px solid #474747}

.btn.btn-default:hover,
.btn.btn-primary:hover,

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	color: #f4f4f4;
	background: #2f2f2f;
	text-decoration: none;
}

button:active,
input[type=submit]:active,
.button input:active {background: #5e0000}

form.admin input[name="features"] {margin-bottom: 3px !important}
small {font-size: .9em}
label {margin: 0 2px}

/***** Site Header & Identity *****/

#top_modules {
	text-align: left;
	background: transparent;
	position: relative;
	background: #7d0000 url(ohia/header.png) repeat-x 0 100%;
}

#top_modules .module.secondary_site_menu {
	position: absolute;
	bottom: 5px;
	right: 30px;
}

#top_modules .box-login_box {
	position: absolute;
	bottom: 0;
	right: 10px;
}

#top_modules .box-login_box .tabmark {
	float: left;
	display: inline-block;
}

#top_modules .box-login_box .cssmenu_horiz li {
	padding-bottom: 0;

}

#top_modules .siteloginbar_popup a.login_link {
	display: block;
	padding: 4px 6px;
}

.siteloginbar_poppedup {
	margin-top: 10px;
}

.siteloginbar {padding: 6px 3px}

.siteloginbar a,
.siteloginbar a:visited {color: #f4f4f4}

#top_modules .box-logo {
	padding-top: 30px;
	padding-left: 30px;
}

.sitetitle,
.sitesubtitle {
	color: #f4f4f4;
	font-weight: bold;
	padding-left: 50px}

.sitetitle a,
.sitetitle a:visited {color: #f4f4f4}

.sitetitle {
	display: block;
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 2px}

.sitesubtitle {
	display: block;
	margin-top: 3px;
	padding-top: 6px}
	
/* bs override */
.navbar {
/*	margin-bottom: 0; */
	background: #030511;
	border: #313131;

}

/* bs override */
.navbar-default {
/*	background: #030511;
	border: #313131; */
}

#tiki-top {
/*	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
	background: #030511;*/
	width: 100%;
}

#tiki-top ul.cssmenu_horiz {
	float: left;
	background: #030511;
	padding: 3px}

#tiki-top table {width: auto}

#top_modules .box-search,
#topbar_modules .box-search {
	position: absolute;
	top: 0;
	right: 0;
	padding: .6em;
	text-decoration: none;
	font: 1.1em Verdana, Helvetica, Arial, Sans-Serif;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

.cssmenu_vert li,
.cssmenu_horiz li {
	padding: .5em 1em;
}

.cssmenu_vert li ul li,
.cssmenu_horiz li ul li {
	border: 1px solid #313131;
	background: #000;
	margin-bottom: -1px;
}

.cssmenu_vert li ul li:first-child {
	border-top: 1px solid #313131;
}

.secondary_site_menu a,
.secondary_site_menu a:visited {
	color: #fff;
	font-size: 95%
}

.secondary_site_menu ul li ul a,
.secondary_site_menu ul li ul a:visited {
	color: #fd0006;
}

/* for wider menu in left col */
#col2 .box-data .cssmenu_vert,
#col2 .box-data .cssmenu_vert ul {
	padding-left: 0;
}

#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 175px;
}

#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 175px;
}

#col2 .cssmenu_vert ul,
#col2 .cssmenu_vert ul li {
	width: 11em;
}

/* back to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 11em;
}

/* ul ul top compensation for padding */
.header .cssmenu_horiz li:hover ul,
.header .cssmenu_horiz li.sfHover ul {
	top: 2.25em;
}

.header .cssmenu_horiz li li:hover ul,
.header .cssmenu_horiz li li.sfHover ul {
	top: 0;
}

a .sf-sub-indicator {
	top: .2em;
}

/** Links in other menus **/
.separator a:link,
.separator a:visited,
.separator a:hover {color: #f4f4f4}

.linkmenu:hover {color: #f4f4f4}
a.linkmodule:hover {color: #f4f4f4}

/***** Misc. Center Col. *****/
a.flip,
a.flip:visited,
.tellafriend a,
.tellafriend a:visited {color: #840000}

a.flip:hover,
.tellafriend a:hover {color: #f4f4f4}

/****** Misc. Global ****/

.inline_syntax {
	color: orange;
}

/****** Jquery ******/
/**help**/
a.tikihelp:hover {
	color: #fd0006;
}

/** tree **/
.ui-icon {
background-image:url('../vendor/jquery/jquery-ui-themes/themes/smoothness/images/ui-icons_888888_256x240.png');
}


/***** Boxes *****/

.jumbotron {
	background-color: #030511;
  border: 1px solid #5e0000;
}

.well {
  background-color: #030511;
  border: 1px solid #5e0000;	
}



/** Modules **/
.panel {
	border-radius: 0; 
}
.panel-heading {
	border-top-left-radius: 0;
border-top-right-radius: 0;
}

h3.box-title,
.panel-default > .panel-heading {
	background: #5e0000;
	border: 1px solid #990000;
}


.box-title a,
.panel-title,
.panel-title a {
	color: #f4f4f4;
	text-decoration: none;
	font-weight: bold;}

.box-title a:hover {text-decoration: underline}

.box:hover img.flipmodimage {
	border: 1px solid transparent;
	right: 3px;
	top: 3px;
	background: #5e0000}

img.flipmodimage:hover {
	border: 1px solid #990000 !important
}

.box-data,
.panel-body,
.panel {
	background: #030511;
	border: 1px solid #333;
}

/** Other boxes **/
.cbox {
	color: #f4f4f4;
	background: #030511;
	border: 1px solid #333}

.cbox-title {
	border-color: #333;
	text-align: center;
	font-weight: bold}

.rbox-title,
.rbox-data {
	background: #5e0000;
	border-color: #990000;
	color: #fff}

.rbox-title {
	border-bottom: none;
	margin-bottom: -.35em;
}

.simplebox {
	background: #030511;
	border: 1px dotted #a9a9a9;
	color: #f4f4f4}

.rbox-data a:hover {
	color: #fd0006;
	text-decoration: underline;
}

/***** Tables, Tabs *****/
/** Tables **/

.admin {background:#030511}

.table,
.normal,
.sortable {
	border: 0;
	border-bottom: solid 1px #696969;
	border-left: solid 1px #696969;
	border-collapse: collapse}

.table tr,
.normal tr,
.sortable tr {border-right: solid 1px #696969}

.table th,
.normal th,
.sortable th {border-left: 1px solid #5e0000}

tr.odd,
td.odd,
tr.odd td,
li.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #030511;
	color: #f4f4f4;
}

tr.even,
td.even,
tr.even td,
li.even,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background: #313131;
	color: #f4f4f4;
}

tr.odd td,
td.odd,
tr.even td,
td.even,
table.normal tr:nth-child(2n+1),
table.normal tr:nth-child(2n) {
	border-right: 1px solid #696969;
}

.normal td,
.sortable td,
.wikitable td,
td.odd,
td.even {
	margin: 0;
	padding: 0.2em;
	vertical-align: top;
	border-collapse: collapse}

 /* headings */
th,
.normal td.heading,
td.heading,
.caltable .days {
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #5e0000;
	min-height: 32px;
	text-align: center}


a.tablename,
a.galname,
a.imagename,
a.blogname,
a.fgalname,
a.artname,
a.forumname {color: #fd0006}

a.forumnameread {color: #fd0006}

/* links in table headings */
.tableheading,
.gallistheading,
.listgalheading,
.bloglistheading,
.llisfgalheading,
.llistfileslink,
.llistart,
.lforumheading {color: #f4f4f4}

/** Tabs **/
/*.tabs {
	padding: .2em .2em 0;
	margin: 0 0.2em 0 0;}

.tabmark {
	background: #5e0000;
	border: 1px solid #4c4c4c;
	border-bottom: none;
}

.tabmark a {
	border-bottom: 0;
	color: #fd0006;
	padding: 1px 5px 1px 5px;
	text-decoration: none}

.tabmark a:active {
	background: #313131;
	color: red}

.tabmark a:hover {
	color: #f4f4f4;
	background: #313131}

.tabactive {
	border: solid 1px #666 !important;
	border-bottom: 0 !important;
	border-top-width: 2px !important;
	position: relative;
	top: -2px;
}

[class].tabactive {top: -1px}
.tabactive a {
	background: #5e0000;
	color: #f4f4f4;
}

.tabinactive {
	border: solid 1px #666 !important;
}

.tabcontent {
	border-color: #990000;
	padding-top: 22px;
	margin-bottom: 25px;
	background: #030511}

.tabcontent table {
	margin: 1% auto 2% auto;
	text-align: left;
	width: 95%;
	background: transparent}

.tabcontent table td {padding: 5px}
*/

/***** Wiki *****/

h1 a.pagetitle,
h1 a.pagetitle:visited {
	font-size: 1.2em;
	color: #f4f4f4}

h1 a.pagetitle:hover {
	text-decoration: none}

#description,
.description {
	font-size: .95em;
	font-style: italic}

#pageid {
	float: left;
	clear: both}

#cachedpage {
	float: right;
	font-size: small}

.titlebar {
	padding: 0.1em;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
	margin: 10px 0}

.wikitable {
	border: 1px solid #a9a9a9;
	border-collapse: collapse}

.wikicell {
	padding: 3px;
	border: 1px solid #777777;
	border-collapse: collapse}

#wikihelp-tab table,
#wikihelp-tab table td {
	border: solid 1px #696969;
	border-collapse: collapse}

#wikihelp-tab table td {padding: 2px}
#textarea-toolbar {background: white}

.TextArea-fullscreen .actions, .CodeMirror-fullscreen .actions {
	background-color: #000;
	color: #F4F4F4;
	border-top: #777 1px solid;
}

/* Wiki plugins */

/* Code plugin  */
.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #a9a9a9;
	background: #000;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	color: #fff;
	background: #000;
	margin: 4px;
	border: 1px dashed #696969;
	overflow: auto;
   width: 600px} /*Using % here makes Firefox 3 act like IE7. */

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #696969;
	border-bottom: 0;
	margin: 0;
	color: #696969;
	background: #000;
	font-weight: bold}

/* Quote plugin */
.quoteheader {margin-left: 20px}
.quotebody {font-style: italic}
.wikiplugin-split {border: 0}

/** Wiki tocs **/
.tocnav {
	background: #242424;
	padding: 3px;
	margin-bottom: 4px;
	clear: both}

#tocnavicons {float: left}
#tocnavaddpage {float: right}
#tocnavlinks {clear: both}

li.toclevel a,
li.toclevel a:visited {
	color: #fd0006;
	text-decoration: none}

li.toclevel a:hover {
	text-decoration: underline;
	color: #f4f4f4}

/* TOC */
.toc {
	padding-left: 2em;
	border-top: 1px dotted #a9a9a9;
	border-bottom: 1px dotted #a9a9a9;
	margin-bottom: 4px}

.toc * {border: 0}

/***** Articles ****/

.articletitle {
	margin-top: 6px;
	margin-bottom: 15px;
	text-align: left}

.articletitle h2 {
	display: block;
	font-size: 1.8em;
	font-weight: normal;
	height: auto;
	margin-bottom: 3px}

.titleb {font-size: 95%}
.articlesubtitle {font-size: 0.9em}
.articleheading {margin-top: 6px}

.articleheadingtext {
	color: #f4f4f4}

.articletrailer {
	text-align: right}

.articletrailer .wikitopline {
	float: right;
	color: #f4f4f4}

.articlebody {margin-top: .5em}

.articlesource {
	margin-top: 5px;
	font-style: italic;
	font-size: 90%}


/***** Blogs *****/
.blogheading {
	display: block;
	width: 100%;
	clear: both}

.blogtitle {
	font-size: 1.8em;
	font-weight: normal;
	padding: 3px;
	margin-top: 10px}

.blogdesc {
	display: block;
	width: 40%;
	padding: 8px;
	margin-top: 8px;
	margin-left: 6px}

.bloginfo {
	text-align: center;
	display: block;
	padding: 3px;
	line-height: 150%;
	text-transform: none;
	font-size: 90%}

* html .bloginfo table {font-size: 11px}

.blogtools {
	padding: 3px;
	text-align: center}

.blogtools table {width: 100%}
#middle .blogtools input[type=text] {width: 160px}

a.blogt,
a.blog:visited {
	border: 0;
	text-decoration: none}

a.blogt:hover {
	color: #f4f4f4;
	border-bottom: 1px dotted #f4f4f4}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.2em}

.postinfo a {
	color: #fd0006;
	text-decoration: none;
	border-bottom: 0}

.postinfo div {margin-top: 30%}

.posthead {
	display: block;
	text-align: left;
	padding: 3px;
}

.posthead small {font-size: 95%}

.posthead h3 {
	font-size: 1.5em;
	font-weight: normal}

.postbody {
	margin-right: 8px;
	line-height: 1.2em;
	margin-bottom: 1em}

.postfooter {
	clear: both;
	float: right;
	margin-bottom: 2em}

/***** Forums *****/
body.tiki_forums .normal {margin: auto}

.post .postbody {
	clear: both;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	background: #313131;
	font-size: 1.1em}

* html .post .postbody {font-size: 11px}

.post .postbody .content {
	float: left;
	padding: 0;
	text-align: left;
	width: 100%;
	color: #f4f4f4;
	border: 1px solid #4c4c4c;
	border-top: 0;
	background: #313131 !important}

.post .postbody-title {
	display: block;
	padding-bottom: .8em;
	background: #5e0000;
	border: 1px solid #990000}

.post .postbody-title .checkbox {float: left}

.post .postbody-title .title {
	float: left;
	font-weight: bold;
	font-size: 1em;
	margin-left: 5px;
	margin-top: 3px}

.post .postbody-title .title h2 {
	padding: 0}

.post .postbody-title .title a.link {color: #f4f4f4}

.post .author {
	text-align: right;
	vertical-align: top}

.post .author_post_info {
	display: block;
	background: #030511;
	padding: 0 2px 2px 2px}

.post .author_info .icons {display: block}
.post .author_info .icons .actions {margin-right: 10px}
.post .author_post_info_on {font-style: italic}

.post .author_info {
	float: right;
	background: #030511;
	padding: 0 2px 2px 2px;
	margin-left: 5px;
	margin-bottom: 6px;
	margin-right: 0;
	border-left: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c}

.commentStyle_headers .author_info {float: left}

.post .postbody-title .actions {
	float: right;
	font-size: 1em}

.postbody-content {padding: 6px}
.post .postbody .attachments {
	clear: both;
	border-top: 1px dotted #D9D9D9;
	margin-top: 5px}

.post .postbody .attachments img {vertical-align: text-bottom}

.post .postfooter .actions,
.post .postfooter .status {
	display: inline;
	margin-left: 5px;
	vertical-align: top}

.post .postfooter .status {font-size: 10px}

.post .postfooter {
	float: right;
	text-align: right}

.post .inner > .postfooter {clear: both}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #777777;
	padding: 0 2px}

.post .avatar {
	float: right;
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px;
	border: 1px solid #777777;
	background: #030511}

.sub_comment {padding-left: 20px}

.sub_comment_area {
	clear: both;
	background: url("../img/edge.gif") no-repeat top left}

.forum_actions .actions {
	clear: both;
	border: 1px solid #4c4c4c;
	background: #030511;
	padding: 3px;
	vertical-align: middle}

.forum_actions .actions .action {margin-right: 10px}
.forum_actions .headers {vertical-align: bottom}
.forum_actions .headers .title {
	float: left;
	background: #f4f4f4;
	border: 1px solid #4c4c4c;
	border-bottom: 0;
	padding: 1px}

.forum_actions .headers .infos {
	float: right;
	font-size: smaller;
	padding-top: 2px}

.thread_pagination {
	text-align: center;
	margin-bottom: 10px}

.nb_replies {white-space: nowrap}
.post_preview, .top_post {margin-bottom: 15px}


/* Help box*/
.commentsedithelp {
	background: #ffcfcf;
	color: black;
	border: 1px solid #ff0000;
	text-align: center;
	font-weight: bold}

/**** Image Galleries ****/
.galtable {
	border-collapse: collapse;
	border: 1px solid #696969;
	width: 100%}

body.tiki_galleries .findtable {display: inline}

.browsegallery {
	text-align: center;
	width: 100%}

.oddthumb {border-collapse: collapse}
.eventhumb {border-collapse: collapse}

.eventhumb img {
	margin-left: 6px;
	margin-right: 6px}

img.athumb {
	border: 0;
	margin: auto}

.caption {color: #f4f4f4}
p.norecords {font-weight: bold}

.imagetitle {
	font-weight: bold;
	font-size: 200%}

.showimage {
	text-align: center;
	margin: 5px 0;
	width: 100%;
	text-align: center;
	padding: 6px}

.imgaldescr {margin: 10px}
.sorttitle {margin-left: 10px}

/***** File Galleries *****/
.fgalexplorer {border: 1px solid #696969}

.fgallisting table td {
	padding-left: 2px;
	padding-right: 2px}

.thumbnailcontener {
	border: 1px solid #696969;
}

/***** Trackers *****/
.statuson {
	border: 1px inset #990000;
	background: #5e0000;
	padding: 1px;
	margin: 1px;
	vertical-align: middle}

.statusoff {
	padding: 1px;
	margin: 2px;
	vertical-align: middle}

/***** Categories, Tags *****/

/***** Tags (freetags) *****/

/*****  Polls  *****/

/***** FAQs *****/

/***** Quizzes *****/

/***** Shoutbox *****/
.shoutboxmsg {
	margin-bottom: 0;
	padding: 4px;
	padding-bottom: 1px}

.shoutboxmodmsg {
	font-size: .95em;
	margin: 0 5px 4px 5px;
	padding-top: 5px;
	padding-bottom: 1px}

/***** Directory *****/
.dircategs {
	border: 1px solid #696969;
	padding: 5px}

.dirsublink {font-size: .95em}

.dirlistsites {
	padding: 5px 0 10px 5px;
	margin-top: 10px}

.dirsite {
	margin-bottom: 10px;
	padding: 4px}

.dirsitetrail {font-size: 95%}
.dirsitecats {font-size: 95%}


.dirrelated {
	margin-top: 10px;
	padding: 5px}

td.dirfooter {font-size: .95em}
.dirfooter {margin-top: 10px}

/***** Messages *****/
.prio1,
.prio2,
.prio3,
.prio4,
.prio5 {
	border: 1px solid #990000;
	padding-left: 2px}

.prio1 {background: #780101}
.prio2 {background: #8d0101}
.prio3 {background: #a20202}
.prio4 {background: #b70202}
.prio5 {background: #cc0202}

.messureadflag {
	background: #313131;
	padding-left: 5px}

.messureadhead {
	background: #313131;
	margin-top: 2px}

.messureadbody {
	margin-top: 5px;
	background: #313131}

.readlink {
	font-size: .95em;
	color: #fff}

/***** TikiSheets *****/
.default thead td,
.default tfoot td {
	font-weight: bold;
	text-align: center;
	background: #4c4c4c;
	color: #f4f4f4}

.default td {
	border: solid 1px #a9a9a9;
	background: black}

/***** Calendar *****/
.caltoggle {font-size: 90%}

.opaque {
	background: #990000;
    border: 1px solid #990000;
    color: #fff;
}

.opaque .box-title {border-bottom: 1px solid black}
.searchresults {display: inline}
#caltable td {padding: 0}
#caltable a,
#caltable a:visited {
	color: #fd0006;
	text-decoration: none}

#caltable a:hover {
	text-decoration: underline;
	color: #f4f4f4}

.box-data .fc a.today,
.box-data td a.today {
	background: #5e0000;
	border: solid 1px #990000}

.caltable td.calhighlight,
.caltable td.calhighlight,
td#month_title.calheadhighlight {
	background: #5e0000;
}

.caltable td.calhighlight a:link,
.caltable td.calhighlight a:visited,
td.calheadhighlight {
	color: #ffffff;
}

.caltable .calborder {
	border: 1px solid #000;
}

.calnavigation {border: 1px solid #4c4c4c}
.calinput {background: #000}

#caltable .days {
	color: #f4f4f4;
	background: #5e0000;
	border: 0;
	border-right: 1px solid #990000}

#caltable .weeks {
	background: #5e0000;
	color: #f4f4f4;
	border: 0}

.addevent {
	padding: 0 5px;
	float: right}

.caltable .odd, .caltable .even {border: 1px solid #000}
.caltable .odd {background: #030511}
.caltable .even {background: #313131}

.daterow {
	background-color: #313131;
	border: 1px outset #313131;
}

.daterow:hover {
	background-color: #222222;
}

/***** Admin *****/
a.admbox {
	color: #a9a9a9;
	border: 1px solid #a9a9a9;
	background: #030511 center no-repeat}

a.admbox:hover,
a.admbox:focus,
a.admbox:active {
	background: #313131 center no-repeat;
	border: 1px solid #696969;
	color: #fff}

a.admbox.off {border: 1px solid #a9a9a9}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {border: 1px solid #a9a9a9}

/* Fixed-width rules */

body.fixed_width {
	background: #242424;
}

body.fixed_width #main[id] {
	border: 1px solid #4c4c4c;
}

/* End of File */
