/* $Id: snow.css 49469 2014-01-21 06:41:14Z chibaguy $ The Snow theme for Tiki Wiki CMS Groupware is an original
	theme released under the LGPL license by author and maintainer
	Gary Cunningham-Lee (http://zukakakina.com). Visit zukakakina.com or themes.tiki.org for
	updates and other information about this theme.
*/
 
/* Import layout foundation CSS files. */
@import url("layout/design.css");
 
/***** XHTML Elements (body tag here,
			others follow Layout) *****/ 
body {
	background: #b1c1db url(snow/flakesptn.jpg) repeat;
	color: #000;
	font-family: arial, helvetica, verdana, sans-serif;
}

#col1 {background: url(snow/flakesptn3.jpg)}

#footer {
 	text-align: center;
 	font-size: .9em;
	min-height: 40px}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {
	color: #393e51;
	font-weight: bold;
	text-decoration: none}

a:hover {
	color: #6c7b8c;
	text-decoration: underline}

dd {margin-left: 2.5em}
dt {font-weight: bold}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	color: #6c7b8c;
	line-height: 1.1;
}

h1 {
	font-size: 1.8em;
	min-height: 35px;
	margin-top: 0;
	margin-bottom: 0}
	
h2 {font-size: 1.6em}
h3 {font-size: 1.5em}
h4 {font-size: 1.3em}
h5 {font-size: 1em}
h6 {font-size: 1em}

hr {
	background: #aaa;
	color: #6c7b8c;
}

fieldset {
	border: solid 1px #a9a9a9;
}

form {color: black}
legend {color: #000}


.btn.btn-default,
.button a,
.button a:visited,
button,
.button input,
.submitbutton,
.calbuttonBox a,
input[type="file"],
input[type="reset"],
input[type="submit"] {
	background: url(snow/pagetitle-bg.jpg) repeat-x;
	font-weight: normal;
	border: 1px solid #3f3f3f;
	border-top: 1px solid #818181;
	margin: 2px;
	padding: 2px 4px;
}

.btn.btn-default:hover,
.button a:hover,
button a:hover,
button:hover,
.button input:hover,
.submitbutton:hover
input[type="file"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.submitbutton:hover {
	border-top: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969;
	background: url(snow/pagetitle-bg.jpg) repeat-x bottom;
	margin: 2px;
	padding: 2px 4px;
	text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"] {
	font-size: 0.9em;
	border: solid 1px #aaa;
	background-color: #ECEEF2;
	color: #000;
	width: 120px;
	cursor: text}

input[type=wikiaction] {margin-bottom: 2px}

select {
	font-weight: normal;
	border: 1px solid #6c7b8c;
	color: #000; 
	background: #ECEEF2;
	text-decoration: none}
	

textarea {
	border: 1px solid #788596;
	background: #ECEEF2;
	color: #000}

p {color: #000}
small {font-size: 0.8em}

ul {
	list-style-type: square;
	margin-top: 2px;
	margin-bottom: 6px}


/***** Site Header & Identity *****/
/* Enable header and footer content to widen when middle has wide content. */ 
body.fixed_width .fixedwidth .fixedwidth {
	width: 100%;
	padding: 0;
}

#top_modules {min-height: 45px}

#top_modules .box-login_box {
	position: absolute;
	right: 20px;
	bottom: 0;
	color: #f5f5f5;
}
	
#siteloginbar_popup .cssmenu_horiz li ul {
	margin-top: -8px;	
}

#top_modules .module.secondary_site_menu {
	position: absolute;
	top: 0;
	right: 30px;
}

#top_modules .secondary_site_menu .cssmenu_horiz li ul {
	margin-top: -10px;
}

#top_modules .secondary_site_menu .cssmenu_horiz li ul ul {
	margin-top: 0;
}

#top_modules .box-logo {
	float: left;
	margin: 10px;
}

#top_modules .sitetitles {
	margin: 10% 20px;
	padding-left: 15px;
}

.sitetitle,
.sitesubtitle {
	display: block;
	color: #714952;
	font-weight: 400;
	letter-spacing: -.5px;
}

.sitetitle {
	font-size: 2.4em;
}

.sitesubtitle {
	font-size: 1.6em;
}

.header_fixedwidth .header a,
.header_fixedwidth .header a:visited {
	color: #714952;
	text-decoration: none}

#tiki-top {
	background:  url(snow/pagetitle-bg.jpg) repeat-x;
	height: 35px;
	margin-bottom: 5px}

#topbar_modules .box-search {
	position: absolute;
	top: 0;
	right: 20px;
	height: 34px;
	line-height: 34px;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

.cssmenu_horiz a,
.cssmenu_vert a {
	padding: .3em 1em;
	font-size: 12px;
}

.cssmenu_horiz a,
.cssmenu_horiz a:visited,
.cssmenu_vert a,
.cssmenu_vert a:visited {
	color: #393e51;
	font-weight: bold;
	text-decoration: none}

.cssmenu_horiz a:hover,
.cssmenu_vert a:hover {
	color: #6c7b8c;
	text-decoration: none;
}

.cssmenu_vert li ul li,
.cssmenu_horiz li ul li {
	border: 1px solid #6a6a6a;
	background: url(snow/flakesptn2.jpg);
	border-top: 0;
	margin-bottom: -1px;
}

.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: 1px solid #6a6a6a;
}
	
.cssmenu_horiz li:hover,
.cssmenu_vert li:hover {
	color: black;
	background: url(snow/flakesptn.jpg)}
	
#tiki-top .cssmenu_horiz > li > a {
	font-size: 12px;
	font-weight: bold;
	color: #393e51;
	margin-top: 1px;
	padding-top: 11px;
	padding-bottom: 10px;
	background:  url(snow/pagetitle-bg.jpg) repeat-x;
	border-right: 1px solid #6A6A6A}

#tiki-top .cssmenu_horiz > li > a:hover {
	color: #6c7b8c;
	text-decoration: none;
} 	

#tiki-top .cssmenu_horiz li ul {
	margin-top: 5px;
}

#tiki-top .cssmenu_horiz li ul li ul {
	margin-top: -1px;
}
	
/* left column width */
#col2 .box-data .cssmenu_vert,
#col2 .box-data .cssmenu_vert ul {
	padding-left: 0;
}

#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

.cssmenu_vert li a .sf-sub-indicator,
.cssmenu_horiz li ul li a .sf-sub-indicator {
	top: .3em;
}

.secondary_site_menu .cssmenu_horiz li a .sf-sub-indicator {
	bottom: .5em;
}

/** Links in other menus **/

/***** Misc. Center Col. *****/
#showhide_columns {
	background: url(snow/flakesptn.jpg);
	padding-bottom: 5px}

a.flip,
a.flip:visited,
.tellafriend a,
.share a,
.tellafriend a:visited,
.share a:visited {
	font-size: 87%;
	color: #999;
	text-decoration: none}

a.flip:hover,
.tellafriend a:hover,
.share a:hover {
	color: #393e51;
	text-decoration: none}

/****** Misc. Global ****/

/***** Boxes *****/
/** Modules **/
.box {
	background: url(snow/flakesptn2.jpg);
	margin: 5px 10px;
}

#col2 .panel,
#col3 .panel,
#col2 .box,
#col3 .box {
	background: url(snow/boxmid.jpg) repeat-y;
	background-size: 100% auto;}

h3.box-title {
	text-align: center;
	width: 100%;
	min-width: 100%;
	font-weight: bold;
	color: #393e51;
	font-size: 120%;
	overflow: hidden;
	border-bottom: 1px solid #6c7b8c;
	line-height: normal;	
}	

#col2 .panel-heading,
#col3 .panel-heading,
#col2 h3.box-title,
#col3 h3.box-title {
	background: url(snow/boxtop.jpg) no-repeat;
	border-bottom: none;
}

.wikitext h3.box-title {font-size: 107%}

.moduleflip {
	right: 6px;
	top: 6px}

* html img.flipmodimage {
	border: 0;
	margin-top: 6px;
	margin-right: 6px}

.flipmodimage:hover {border: 1px solid #abcdef !important}

.box-title a,
.box-title a:link {color: #9D9D9D}

#col2 .box-title a,
#col2 .box-title a:link,
#col3 .box-title a,
#col3 .box-title a:link {
	font-weight: bold;
	color: #393e51}
	
.box-data {
	padding: 0 20px 0 15px;	
	font-size: 1.1em;
}

#col2 .box-data,
#col3 .box-data {
	color: #393e51;
	font-family: arial, helvetica, verdana, sans-serif;
	margin-right: 10px;
	margin-left: 10px}

.wikitext .box-data {font-size: 1em}
* html .box-data ul {margin-left: 1em}
*:first-child+html .box-data ul {margin-left: 1em}

#col2 .box-footer,
#col3 .box-footer {
	background: url(snow/boxbtm.jpg) no-repeat;
	height: 54px}

.halffloat .box,
.wikitext .halffloat .box {
	width: 48%;
 }

/** Other boxes **/
.wikitext .cbox {
	overflow: hidden;
	border: 2px solid #a1adc7;
	padding: 2px}
	
.rbox {margin: 3px}

.rbox-title,
.rbox-data {background: #e7f2f4}

.rbox-title {
	margin-bottom: -.45em;
}

.simplebox {
	overflow: hidden;
	border: 2px solid #a1adc7;
	padding: 2px}
	
.quarterfloat .box,
.wikitext .quarterfloat .box {
	width: 21.5%;	
}

.thirdfloat .box,
.wikitext .thirdfloat .box {
	width: 30%;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal, 
.admin {border: solid 1px #909090}

#tiki-center > .normal {
	width: 98%;
	margin-left: 6px}

.formcolor td,
.editblogform td {padding: 3px}

td.odd,
tr.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #F7F9FA;
	border-collapse: collapse;
	color: #393e51}

td.even,
tr.even,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background: #E7E9EA;
	border-collapse: collapse;
	color: #393e51}
	
.wikitable td,
td.odd,
td.even,
table.normal tr:nth-child(2n+1),
table.normal tr:nth-child(2n),
.tablesorter tr.odd td,
.tablesorter tr.even td {
	margin: 0;
	padding: 0.2em;
	vertical-align: top}
	

th,
td.heading,
.normal td.heading,
tr.diffheader,
.caltable .days {
	font-size: 1em;
	background:url(snow/pagetitle-bg.jpg) repeat-x;
	color: #393e51;
	font-weight: 600;
	height: 28px;
	padding-top: 6px;
	vertical-align: top}

td.heading,
.bloglistheading {text-align: center}

.form {
	padding: 0.2em;
	background: inherit;
	color: #000}
 
/** Tabs **/
.tabs {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding: .2em .2em 0;
	margin:0 0.2em 1px 0;
}

.tabs br {
	display: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabmark {
	list-style-image: none;
	float: left;
	background: url(snow/flakesptn.jpg);
	border: 1px solid #6c7b8c;
	margin-right: 5px;
	border-bottom-width: 0 !important;
	margin: 0 .2em -1px 0;
}

.tabmark a:hover {
	color: black;
	background: #b1c1db url(snow/flakesptn3.jpg);
	text-decoration: none;
}
	
.tabactive {
	border: solid 1px #6c7b8c;
	border-bottom-width: 0;
	padding-bottom: 1px;
	background: #b1c1db url(snow/flakesptn3.jpg);
}

.admin #content1 .tabcontent .cbox {background: transparent}

.statuson {
	background: url(snow/flakesptn.jpg);
	border: 1px inset #6c7b8c;	
}

/***** Wiki *****/
body.tiki_wiki #c1c2 #wrapper #col1 > .content {
	background: none;
	border-top: 0}

h1.pagetitle {
	background: url(snow/pagetitle-bg.jpg) repeat-x;
	min-height: 35px}

h1.pagetitle a,	
h1.pagetitle a:visited,
h1.pagetitle a:hover,
a.pagetitle,
a.pagetitle:visited,
a.pagetitle:hover {
	display: block;
	background: url(snow/pagetitle-bullet.gif) no-repeat;
	background-position: 4px 4px;
	color: #714952;
	font-size: .7em;
	text-decoration: none;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 35px;
	min-height: 35px;
	letter-spacing: normal}
	
* html h1 a.pagetitle,
* html h1 a {margin-top: 6px}

.wikitopline {
	display: block;
	position: relative;
	}
	
.wikitopline .content {
	background: transparent !important;
	padding: 6px 6px 0 0}

#description {
	font-size: .9em;
	font-style: italic}

#pageid {
	float: left;
	clear: both}

#cachedpage {
	float: right;
	font-size: small}

.wikitext {
	line-height: 1.5em;
	padding: .5em}

.wikitext h2, h3, h4, h5 {
	margin: 0 0 15px;
	padding: 0}

.wikitext h2 {margin-bottom: 10px}

.titlebar {
	padding: 0.1em;
	margin: 10px 0;
	height: 18px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 1px;
	background: url(snow/flakesptn.jpg) repeat-x}

.wikitable {
	border: 1px solid #a9a9a9;
	border-collapse: collapse}
 
.wikicell {
	padding: 3px;
	border: 1px solid #999;
	border-collapse: collapse}

ul.floatleft {
	display: block;
	list-style: none;
	padding: 0;
	text-align: left;
	height: 20px;
	margin-top: 0}

ul.floatleft li {
	float: left;
	padding: 4px 2px}

.wiki-edithelp {
	display: none;
}

#wikihelp-tab table td {
padding: 2px;
}

/* Wiki plugins */

/* Code plugin  */
.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #ccc;
	background: #F5F5F5;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #F5F5F5;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto; 
}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	color: #666;
	background: #F5F5F5;
	font-weight: bold}

/* Quote plugin */
.quoteheader {
	margin-left: 20px}

.quotebody {
	font-style: italic}

.wikiplugin-split {
	border: 0}

/** Wiki tocs **/
.tocnav {
	background: #EBEBEB;
	padding: 3px;
	margin-bottom: 4px;
	clear: both}
 
#tocnavicons {float: left}
#tocnavaddpage {float: right}
#tocnavlinks {clear: both}

.toc {
	padding-left: 2em;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	margin-bottom: 4px}

.toc * {border: 0}


/***** Articles ****/
body.tiki_cms #tiki-center > h1 {
	background: none;
	padding-left: 6px;
	font-size: 1.4em;
	color: black}

.article {
	background: url(snow/pagetitle-bg.jpg) repeat-x;
	margin-bottom: 40px;	}

.articletopline {
	font-size: 90%;
	font-style: italic}

.articletitle {
	background: url(snow/pagetitle-bg.jpg) repeat-x;
	color: #393e51;
	margin-left: -3px;
	padding-top: 4px;
	text-indent: 18px;
	min-height: 48px}
 
.articletitle h2 {
	display: block;
	background: url(snow/pagetitle-bullet.gif) no-repeat;
	background-position: 4px 0;
	font-size: 1.4em;
	font-weight: bold;
	height: 28px;
	text-indent: 34px;
	padding-top: 4px}
	
.titleb {
	float: right;
	font-size: 1.0em;
	font-style: italic}

.articlesubtitle {
	font-size: 0.9em}

.articleheading {
	margin-top: 6px;
	padding: 20px 5px 6px}

/* From han.css - Check ?? */
.articleheading table {
	width: auto}

img.topicimage,
img.articleimagenofloat,
img.articleimage {
	padding: 2px 0;
	margin-bottom:10px}

img.articleimagefloat {
	margin-right: 4px;
	float: left;
	padding: 2px 0;
	margin-bottom:10px}

img.articleimage {
	margin-right: 4px;
	float: left;
	clear: right;
	padding: 2px 0;
	margin-bottom: 10px}

.articletrailer .wikitopline {float: right} 
 
.articlebody {
	margin-top: 6px;
	padding: 20px 5px 6px
}
 
.articlesource {
	margin-top: 5px;
	font-style: italic;
	font-size: 90%}


/***** Blogs *****/
.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%}

.bloginfo {
	text-align: center;
	padding: 3px;
	line-height: 150%;
	text-transform: none;
}

a.blogt:hover {
	color: #FFF;
	border-bottom: 1px dotted #FFF}

.posthead {background: url(snow/pagetitle-bg.jpg) repeat-x;
	min-height: 35px;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #A8ADCA}

.postinfo {font-size: 1.2em}

.postinfo a {
	color: #9CF;
	text-decoration: none;
	border-bottom: 1px dotted #9CF}

.posthead small {
	color: #625975;
	font-size: 95%;
	font-style: italic;
	font-weight: bolder;
	padding-left: 6px}

.posthead h3 {
	background: url(snow/pagetitle-bullet-sm.gif) no-repeat;
	background-position: 4px 8px;
	color: #393e51;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 8px;
	text-indent: 29px}

.postbody {
	margin-right: 8px;
	margin-bottom: 1em}

/***** Forums *****/

.commentinfo {background: #fff}

.post .postbody {border: solid 1px #6a6a6a}

.post .postbody-title {
	display: block;
	padding: 0;
	border-bottom: 0;
	min-height: 36px;
	background: url(snow/pagetitle-bg.jpg) repeat-x}
	
* html .post .postbody-title {height: 36px}

.post .postbody-title .title {
	color: #000;
	margin: 0;
	padding: 4px}
	
.title h2 {
	display: block;
	padding: 5px !important;
	margin: 0 !important;
	font-size: 120%;
	color: #000}

.title a.link {color: #000}

#c1c2 #wrapper #col1 .content .post .postbody .content {
	color: #000;
	height: 100%;
	padding: 0;
	font-size: 1em !important}
	
.postbody-content {background: url(snow/flakesptn3.jpg)}

.post .author {	
	float: left;
	text-align: left;
	background: #E0EAF4;
	width: 30%;
	margin-left: 0;
	margin-top: 0}

.post .author_post_info {
	display: block;
	padding: 0 2px 2px 2px}

.post .author_post_info_on {font-style: italic}

.post .author_info {
	float: right;
	background: transparent;
	padding: 0 2px 2px 2px;
	margin-right: 5px;
	border-right: 1px solid #D7E5F3;
	border-bottom: 1px solid #D7E5F3}

.post .postbody-title .actions {font-size: 1em}
.postbody .quoteheader {margin-top: 0}

.post .postbody .attachments {border-top: 1px dotted #D9D9D9}

.post .postfooter .status {font-size: 10px}
.post .postfooter {text-align: right}
.post .inner > .postfooter {clear: both}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px}

.post .avatar {
	padding: 3px;
	border: 1px solid #ACCCDD;
	background: #E0EAF4}

.forum_actions .actions {
	border: 1px solid #A9B8C2;
	background: url(snow/flakesptn2.jpg);
	color: #fff}


.forum_actions .headers .title {
	background: #C7D0D9;
	border: 1px solid #999}

.forum_actions .headers .infos {
	font-size: smaller;
}

input#comments-title {
	font-size: 1.1em;
	width: 300px;
}

.subcomment {
	margin-left: 10px;
}

.commentsedithelp {
	background: #ffcfcf;
	color: black;
	border: 1px solid #ff0000;
	text-align: center;
	font-weight: bold}

/**** Image Galleries ****/
/***** File Galleries *****/
/***** Trackers *****/
/***** Categories, Tags *****/
/***** Tags (freetags) *****/
/*****  Polls  *****/
/***** FAQs *****/
/***** Quizzes *****/

/***** Shoutbox *****/
.shoutboxmsg {
	margin-bottom: 0;
	padding: 4px;
	padding-bottom: 1px}

.shoutboxmodmsg {
	font-size: .95em;
	margin: 0 5px 4px 5px;
	padding-top: 5px;
	padding-bottom: 1px}

textarea.tshoutbox{
	font-size: .95em;
	width: 90%;
}

.wiki-tr-a td {border: 0}
.wiki-tr-b td {border: 0}

/***** Directory *****/
/***** Messages *****/
/***** TikiSheets *****/
/***** Calendar *****/
.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #393e51}

.caltoggle {font-size: 90%}

.opaque {
   border-left: 1px solid #a9a9a9;
  	border-top: 1px solid #a9a9a9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969}

.opaque .box-title {border-bottom: 1px solid black}

.searchresults {display: inline}

#caltable td {padding: 0}

.box-data .fc a.today,
.box-data td a.today {
	background: #cde4f3;
	border: 1px solid #d3e6f4;
	border-collapse: collapse
}

td.calheadhighlight {
	background: transparent;
}

#month_title.calheadhighlight,
.caltable td.calhighlight {
	background: #cde4f3;
}
	
.caltable .calborder {
	border: 1px solid #999;
}

.calinput {background: #3f3f3f}
.calfocuson + .calcontent {background: #f8fafb}
.days {color: #D8D8D8}
#caltable .weeks {color: #D8D8D8}
.addevent {
	padding: 0 5px;
	float: right;
}
* html .addevent {padding: 0}
.caltable .odd, .caltable .even {border: 1px solid #999}
.caltable .odd {background: #f7f9fa}
* html .caltable .odd {padding: 0}
.caltable .even {background: #e7e9ea}
* html .caltable .even {padding: 0}
.calnavigation a:hover {background: url(snow/boxbtm.jpg) }
.box-data .viewmode {
	line-height: 1.3;
}

/***** Admin *****/
a.admbox {
	border: 1px solid #aaa;
	background-color: #e7f2f4}

a.admbox:hover,
a.admbox:focus,
a.admbox:active  {
	background-color: #F0F9FF;
	border: 1px solid #292929;
	color: #393e51;
	text-decoration: none;}

a.admbox.off {border: 1px solid #9f9f9f}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {border: 1px solid #9f9f9f}

/* Fixed-width rules */

body.fixed_width {
	background: url(snow/flakesptn2.jpg);
}
body.fixed_width #main[id] {
	border: 1px solid #6c7b8c;
	background: #b1c1db url(snow/flakesptn.jpg) repeat;
}


/* End of File */
