/*	Strasa theme for Tiki, original design by Patrick Allard, released under LGPL license.
	For more information, visit http://themes.tiki.org
	Adapted for Tiki 7.x
	$Id: strasa.css 49278 2013-12-31 09:27:49Z chibaguy $ */

/* And design defaults: */
@import url("layout/design.css");

/***** XHTML Elements ******/
html {
	display: block;
	height: 100%;
	background-color: #214d68;
}

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 1.4;
	background-color: #fff;
}

a,
a:link,
a:visited {
	color: #006699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, sans-serif;
	margin-bottom: .5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.05em;
}

.wikitext h1 {
	color: #000;
	line-height: .9em;
}

.wikitext h2 {
	color: #309FC0;
	line-height: .9em;
	border-bottom: solid 1px #3090C0;
	text-transform: uppercase;
}

.wikitext h3 {
	color: #303030;
	line-height: .8em; 
	font-style: italic;
}

.wikitext h4 {
	border-bottom: dashed 1px #CCF0FF;
	color: #3F3F3F;
}

.wikitext h5 {
	color: #6F6F6F;
	font-style: italic;
}

.wikitext h6 {
	color: #909090;
}

.wikitext.nopagetitle h1 {
	font-size: 1.8em;
	color: #309FC0;
	line-height: .9em;
	border-bottom: solid 1px #3090C0;
	text-transform: uppercase;
}

.wikitext.nopagetitle h2 {
	font-size: 1.6em;
	color: #303030; 
	line-height: .8em;
	font-style: italic;
	border-bottom: none;
	text-transform: none;
}

.wikitext.nopagetitle h3 {
	font-size: 1.4em;
	border-bottom: dashed 1px #CCF0FF;
	color: #3F3F3F;
	font-style: normal;
}

.wikitext.nopagetitle h4 {
	font-size: 1.2em;
	color: #6F6F6F;
	font-style: italic;
	border-bottom: none;
}

.wikitext.nopagetitle h5 {
	font-size: 1.05em;
	color: #909090;
}

hr {
	border-top-color: #000;
}

fieldset {
	border: solid 1px #077aa7;
}

textarea,
option,
select,
body.cke_show_borders {
	background: #F3FCFE;
	color: #000;
}

textarea.wikiedit {
	font-family: monospace;
	font-size: 1.2em;
}

body.wikitext {
	height: 100%;	/* for CKEditor */
}

html[dir=ltr] {	/* for ck editor */
	background-color: #F3FCFE;
}

select {
	margin: 0 2px;
}

input[type=text],
input[type=password],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"] {
	background-color: #f3fcfe;
	border: 1px solid;
	border-color: #223845 #4d7b9b #4d7b9b #223845;
}

.box-login_box input[type=text],
.box-login_box input[type=password] {
	background-color: #E7F8FD;
	border: 1px solid #33CCFF;
	color: #517298;
	font-size: 1em;
	height: 16px;
	width: 110px;
}

.header .box-search {
	position: absolute;
	top: 45px;
	right: 20px;
}
.header .box-search input.ac_input {
	background: #E7F8FD;
	border: 1px solid #3CF;
	color: #517298;
/*	height: 16px;
	margin-right: 10px;
	width: 160px;*/
}

input#comments-title {
	font-family: "Courier New", Courier, monospace;
}

/* Links in buttons */
.btn-default,
.btn-default a:visited,
button,
input[type=reset],
input[type=submit],
.button input,
.calbuttonbox {
	color: #fff;
	background: #1d9ccf;
	border: 1px solid;
	border-color: #41cbe7 #223845 #223845 #41cbe7;
	white-space: nowrap;
	cursor: pointer;
	font: normal 11px Verdana, Helvetica, Geneva, Arial, sans-serif;
}

.btn:hover,
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button input:hover,
.calbuttonbox:hover {
	color: #fff;
	text-decoration: none;
	background: #1e7ea6;
	font-size: 11px;
}

.btn:active,	
button:active,
input[type=reset]:active,
input[type=submit]:active,
.button input:active,
.highlight a:link,
.highlight a:visited {
	border-color: #223845 #41cbe7 #41cbe7 #223845;
	background: #5cbdef !important;
	color: #000 !important;
}

form.admin input[name="features"] {
	margin-bottom: 3px !important;
}

select[name="theme"],
select[name="theme-option"] {
	width: 140px;
}

/* Needed for Opera (11) */
input[type="reset"],
input[type="submit"],
input[type="reset"]:hover,
input[type="submit"]:hover {
	padding: .1em .8em;
}

small {
	font-size: .9em;
}

label {
	margin: 0 2px;
}

/***** Page Layout *****/

.fullscreenbutton:hover,
#fullscreenbutton:hover {
	color: #000;
}

#middle {
	background: #fff;
}

#c1c2 {
	background: #fff;
}

#c1c2 #wrapper #col1 #tiki-center {
	margin: 0 20px;
}

#c1c2 #col2 {
	background: url(strasa/box_top.gif) no-repeat 100% 0;
	padding-top: 5px;
}

#c1c2 #col2 .content {
	padding-bottom: 5px;
	background: url(strasa/box_bottom.gif) no-repeat 0 100%;
}

#footer {
	text-align: center;
}

.footerbgtrap {
	height: 20%;
	font-size: .9em;
	color: #999;
	background: #2e3035;
}

/* Theme-specific custom footer code */
#bottom_modules {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: #999;
}
/*
.fcol1,
.fcol2,
.fcol3 {
	width: 315px;
	float: left;
	font-size: 1em;
	color: #999;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 30px;
}
*/
#bottom_modules li {
	border-bottom: 1px solid #666;
	padding: 4px 0;
	list-style: none;
	margin: 0;
}

#bottom_modules .box-title {
	color: #fff;
	float: left;
	margin-top: 15px;
	margin-left: 5px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font: normal 1.2em Arial, Helvetica, sans-serif;
}

#footer a,
.fcol1 a,
.fcol2 a,
.fcol3 a {
	color: #999;
	text-decoration: none;
}

#footer a:hover,
.fcol1 a:hover,
.fcol2 a:hover,
.fcol3 a:hover {
	color: #fff;
	text-decoration: none;
}

/*** Print page ***/
#tiki-main {
	background: #fff;
}

/* Site Header & Identity */

/* Enable header and footer content to widen when middle has wide content. */ 
body.fixed_width .fixedwidth .fixedwidth {
	width: 100%;
	padding: 0;
}

.header_container {
	color: #fff;
	background: #214d68 url(strasa/headerbg.jpg) repeat-x 0 100%;
}

#top_modules {
	min-height: 121px;
}

#top_modules .module.secondary_site_menu {
	position: absolute;
	top: 0;
	left: 25%
}

#top_modules .box-logo {
	float: left;
	margin: 10px;
}

.sitelogo {
	padding: 8px 0 0 0;
	overflow: hidden;
}

#topbar_modules .box-login_box {
	float: right;
	margin-top: 0;
	margin-right: 0;
	height: 24px;
	/*width: 600px;*/
	line-height: 24px;
	padding-left: 60px;
	padding-right: 10px;
	color: #fff;
	background: #fff url(strasa/login.jpg) 0 0 no-repeat;
}

#topbar_modules .logged-in {
	width: 120px;
	padding-right: 20px;
}

#topbar_modules .box-login_box label,
#topbar_modules .box-login_box a,
#topbar_modules .box-login_box a.link,
#topbar_modules .box-login_box a:visited,
#topbar_modules .box-login_box a:hover {
	color: #fff;
	text-decoration: none;
}

#topbar_modules .box-login_box input[type="text"],
#topbar_modules .box-login_box input[type="password"] {
	background: transparent; /*#1b98c6*/
	color: #fff;
	border: solid 1px #fff;
	width: 8em !important;
}

.box-login_box #pass {
	float: right;
	padding-left: 5px;
}

.box-login_box .rme,
.box-login_box .pass {
	display: inline;
	margin-left: 1em;
	padding-right: 10px;
}

#topbar_modules .box-login_box .register {
	float: right;
	height: 24px !important;
	line-height: 22px;
	padding-left: 60px;
	padding-right: 10px;
	padding-top: 0;
	margin-top: 0;
	background: url(strasa/register.jpg) no-repeat;
}

.box-login_box input.wikiaction {
	border: 0;
	margin-left: .7em;
	color: #5ae0ff;
	font-size: 90%;
	background: #204c65;
	font-weight: normal;
}

#sitelocbar {
	margin: 0 58px;
	padding: 0;
}

#sitelocbar a {
	color: #0990cc !important;
	padding: 1px 4px;
	background: #cce5ff;
}

#sitelocbar a:hover {
	color: #000 !important;
}

#top_modules .sitetitles {
	color: #fff;
	display: inline;
	height: 97px;
	line-height: 97px;
	margin-top: 3%;
	overflow: hidden;
	vertical-align: bottom;
}

.sitetitle,
.sitesubtitle {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}

#top_modules .sitetitle {
	font-size: 220%;
	display: inline;
	letter-spacing: -0.05em;
}

#top_modules .sitetitle a,
#top_modules .sitetitle a:link,
#top_modules .sitetitle a:hover {
	color: #fff;
	text-decoration: none;
}

#top_modules .sitesubtitle {
	font-size: 110%;
	display: inline;
	margin-left: 0.2em;
}

#tiki-top {
	white-space: nowrap;
	text-align: left;
}

#top_modules #tiki-top a,
#top_modules #tiki-top a:visited {
	color: #5AE0FF;
	text-decoration: none;
}

#top_modules #tiki-top a:hover {
	color: #fff;
}

#top_modules #sitesearchbar {
	float: none;
	position: absolute;
	right: 10px;
	top: 30px;
	color: #fff;
	font-size: 93%;
	z-index: 10;
}

/* centercolumn */

a.flip,
a.flip:visited {
	color: #cce5ff;
	font-size: 90%;
}

a.flip:hover {
	color: #006699;
	text-decoration: none;
}

.tellafriend a,
.share a,
.tellafriend a:visited,
.share a:visited {
	background: transparent url(strasa/fold-topright.jpg) 0 0 no-repeat;
	display: block;
	float: right;
	color: #fff;
	min-height: 24px;
	line-height: 22px;
	padding-right: 1em;
	width: 16em;
}

.tellafriend a:hover,
.share a:hover {
	color: #fff;
}

.tellafriend,
.share {
	border-bottom: solid 1px #cce5ff;
	margin: 4px 0;
	min-height: 24px;
	text-align: right;
}

.actions .share,
.actions .share a,
.actions .share a:visited {
	background: none;
	width: auto;
	min-height: 16px;
	line-height: 1;
	border-bottom: none;
	margin-top: 2px;
}

.actions span.share img {
	margin-top: 8px;
}

.actions span.share a {
	padding-right: 0;
}

/* Also is .content */
#tiki-center {
	clear: both;
	background-color: #fff;
}

.error,
#error {
	background: #f8f8ff;
	color: #000;
}

/****** Menus ******/
/** CSS (suckerfish) menus **/

/* default link padding */
/*.cssmenu_horiz a,
.cssmenu_vert a {
	padding: .75em 1em;
}*/

/* typography, colors */

.cssmenu_horiz li ul li,
.cssmenu_vert li ul li {
	background: #cce5ff;
	border: 1px solid #233039;
	border-top: 0;
	margin-bottom: -1px;
}

.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: 1px solid #233039;
}

.header .cssmenu_horiz li:hover {
	background: #1b3a50;
}

.cssmenu_ver li:hover {
	background: none;
}

.cssmenu_horiz a,
.cssmenu_vert a {
	padding: 3px 0 3px 6px;
	color: #006699;
}

.cssmenu_vert a:link,
.cssmenu_vert a:visited {
	color: #006699;
}

.cssmenu_vert a:hover {
	color: #000;
	text-decoration: underline;
}

.cssmenu_vert ul a:link,
.cssmenu_vert ul a:visited {
	color: #006699;
}

.cssmenu_vert ul a:hover {
	color: #000000;
}

#col2 .box-data .cssmenu_vert,
#col2 .box-data .cssmenu_vert ul {
	padding-left: 0;
}

/* left column width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 165px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

/* when there's superfish shadow 
.cssmenu_horiz.sf-shadow ul li {
	background-color: #1b3a50; 
}
.cssmenu_vert.sf-shadow ul li {
	background-color: #cce5ff; 
}*/

#tiki-top .cssmenu_horiz {
	position: absolute;
	top: 10px;
	right: 100px;
	z-index: 10;
	white-space: nowrap;
	text-align: left;
}

.header .cssmenu_horiz a,
.header .cssmenu_horiz a:visited {
	padding: 3px 3px 6px 3px;
	text-decoration: none;
	font: normal 1em Verdana, Helvetica, Arial, Sans-Serif;
	margin: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 0 1px;
	color: #5ae0ff;
	text-align: center;
}

.header .cssmenu_horiz li.menuSection a {
	padding-right: 2em;
}

.header .cssmenu_horiz a:hover {
	text-decoration: none;
	background: url(strasa/headermenuitem-hover.png) bottom center repeat-x;
	border-color: #336699;
	border-style: solid;
	border-width: 0 1px;
	color: #fff;
}

.header .cssmenu_horiz li ul li a,
.header .cssmenu_horiz li ul li a:link,
.header .cssmenu_horiz li ul li a:visited,
.header .cssmenu_horiz li ul li a:hover {
	text-align: left;
	border: 0;
}

.header .cssmenu_horiz li ul li a:hover {
	background: none;	
}

.header .cssmenu_horiz li ul li {
	border: 1px solid #08698f;
	background: #1b3a50;
	border-top: 0;
	margin-bottom: -1px
}

.header .cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: 1px solid #08698f;
}

.cssmenu_horiz li ul {
	margin-top: -7px;
}

.cssmenu_horiz li ul ul {
	margin-top: -1px;
}

.cssmenu_vert li a .sf-sub-indicator,
.cssmenu_horiz li ul li a .sf-sub-indicator {
	background: url(strasa/arrows-467aa7.png);
	top: .3em;
}

.cssmenu_horiz li a .sf-sub-indicator {
	background: url(strasa/arrows-a2ecff.png) no-repeat -10px -100px;
	top: 6px;
}


/** Links in other menus **/
.separator {
	border-top: 1px solid #bed8f1;
	padding-bottom: 3px;
}

.separator a:link,
.separator a:visited,
.separator a:hover {
	color: #000000;
	font-size: 110%;
	font-weight: bold;
}

.option {
	margin-left: 20px;
}

.linkmenu:hover {
	color: #000000;
}

a.linkmodule:hover {
	color: #000000;
}

.menuSection {
	padding: 0 0 16px 0;
	}
	
li.menuSection {
	padding: 0;
}	


.menuSection .menuSection,
.menuSection .separator {
	margin-left: 16px;
}

li.menuSection .menuSection {
	margin-left: 0;
}

/****** Misc. Global Classes (layout and style) ****/
.highlight,
#highlight {
	background: #5cbdef;
}

.highlight {
	background: inherit;
}

.bannertext:hover {
	color: #000000;
}


.adminanchors {
	background: #077aa7 !important;
}

/** Modules **/
#col2 .box {
	background: #cce5ff;
	border-bottom: dashed 1px #fff;
}

#col3 .box {
	border-bottom: 1px solid #cfcfcf;
}

h3.box-title {
	padding-top: 4px;
	padding-left: 10px;
	font-size: 1.5em;
}

#col2 .box-title {
	color: #309fc0;
	margin-top: 0;
	margin-bottom: .3em;
}

img.flipmodimage:hover {
	border: 1px solid #58A7D2 !important;
}

.box-data {
	padding: 0 5px 10px 10px;
}

/* module last blog posts */
.box-last_blog_posts .box-data li {
	margin: 10px 0;
}
	
/** Other boxes **/
.cbox {
	border: 1px solid #1b3a50;
}

.cbox-title {
	font-size: 1em;
	font-weight: normal;
	color: #5ae0ff;
	background: #1b3a50;
	padding: 3px;
	text-align: center;
}

.cbox-title a:link,
.cbox-title a:visited {
	color: #5ae0ff;
}

.cbox-title a:hover {
	color: #fff;
	text-decoration: none;
}

.cbox-data {
	padding: 4px;
}

.cbox-data table {
	border-collapse: collapse;
}

.rbox {
	margin: 0.2em 0 0.4em;
	text-align: left;
}

.rbox-title {
	border: none;
	float: left;
	font-size: 1em;
	padding: 0 0.4em 0 0.2em;
	line-height: 1.4em;
	background-color: #fff;
	border: 1px #077AA7 solid;
	border-bottom: none;
	margin-bottom: -.1em;
}

.rbox-data {
	border: solid 1px #077AA7;
	clear: left;
	margin: 0;
	padding: .4em .4em .2em;
	background: #fff;
}

.simplebox {
	border: 1px solid #aaa;
	background: #fff;
	padding: 1em;
}

/***** Tables, Tabs and Lists ****/
/** Tables **/
table {
	font-size: 1em;
}

.normal, 
.admin {
	border-collapse: separate;}

.formcolor td,
.galform td,
.editblogform td,
.editfgalform td,
.comform td,
.forumform td {
	padding: 3px;
}

.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #f0f0f0;
	color: #000;
}

.even,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background: #dcdcdc;
	color: #000;
}

.normal td,
.wikitable td,
td.odd,
td.even,
table.normal tr:nth-child(2n+1),
table.normal tr:nth-child(2n),
.tablesorter tr.odd td,
.tablesorter tr.even td {
	padding: 0.2em;
	vertical-align: top;
}

 /* headings */
th,
.normal td.heading,
.caltable td.heading,
.calendarweek td.heading {
	font-size: 1em;
	font-weight: normal;
	color: #5ae0ff;
	background: #1b3a50;
	min-height: 32px;
	text-align: center;
}

th a:link,
th a:visited,
td.heading a:link,
td.heading a:visited {
	color: #5ae0ff;
	text-decoration: none;
}

.tiki_mytiki .cbox-title {
	font-weight: bold;
}
.tiki_mytiki .cbox-data th {
	color: #309FC0;
	background: #CCE5FF;
	font-weight: bold;
}

.tiki_mytiki .cbox-data th a:link,
.tiki_mytiki .cbox-data th a:visited {
	color: #309FC0;
}

.tiki_mytiki .cbox-data  table {
	border-collapse:collapse;
}


 
a.tablename,
a.galname,
a.imagename,
a.blogname,
a.fgalname,
a.artname,
a.forumname {
	color: #006699;
}

a.forumnameread {
	color: #006699;
}

/** Tabs **/
.tabs {
	border-bottom: solid 1px #1d9ccf !important;
	margin: 10px 6px 0 !important;
}

.tabmark {
	font-size: 85%;
	margin-left: 1px;
	margin-right: 5px;
	padding: 2px 0;
	background: #cce5ff;
}

.tabmark a {
	color: #0a6aa6;
	font-weight: normal;
	padding: 2px 5px;
}

.tabmark a:active {
	color: #0a6aa6;
	background: #f2f2f2;
}

.tabmark a:hover {
	background: #1d9ccf;
	color: #fff;
	text-decoration: none;
}

.tabactive {
	border: solid 1px #1d9ccf !important;
	z-index: 2;
	background: #cce5ff !important;
}

[class].tabactive {
	top: 1px;
}

.tabactive a {
	color: #0a6aa6 !important;
	font-weight: bold;
}

.tabactive a:hover {
	color: #000 !important;
	background: #cce5ff !important;
}

.tabinactive {
	position: relative !important;
	top: -1px !important;
	background: #1e7ea6;
}

.tabinactive a,
.tabinactive a:visited {
	color: #fff;
}

[class].tabinactive {
	top: 0 !important;
}

.tabcontent {
	z-index: 2;
	padding: 32px 6px;
	margin: 5px;
	margin-top: 0;
	background: #cce5ff;
	border-top: 0;
}

.admin #content1 .tabcontent .cbox {
	background: transparent;
}

.statuson {
	background: #1d9ccf;
	border: 1px inset #223845;

}

/*** Feature-specific selectors ***/
/***** Wiki *****/
body.tiki_wiki #comments {
	padding: 1em;
}

h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover,
a.pagetitle,
a.pagetitle:visited,
a.pagetitle:hover {
	color: #000;
	text-decoration: none;
}

#description,
.description {
	font-size: .9em;
	font-style: italic;
}

.titlebar {
	padding: 0.1em;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
	margin: 10px 0;
}

.wikitable {
	border: 1px solid #A9A9A9;
	border-collapse: collapse;
}

.wikicell {
	padding: 3px;
	border: 1px solid #a9a9a9;
	border-collapse: collapse;
}

#wikihelp-tab table,
#wikihelp-tab table td {
	border: solid 1px #696969;
	border-collapse: collapse;
}

.plugin-form-float {
	background: #F3FCFE;
	border: solid 2px #696969;
}

/* Wiki plugins */
.code {
	padding: 3px;
	border: 1px dashed #a9a9a9;
	background: #F5F5F5;
	font: 90% "Courier New", Courier, monospace;
}

/* Code plugin  */
.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -6px;
	display: inline;
	border: 1px dashed #696969;
	border-bottom: 0;
	margin-left: 4px;
	color: #696969;
	background: #F5F5F5;
	font-weight: bold;
}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #F5F5F5;
	margin: 4px;
	border: 1px dashed #696969;
	overflow: auto;
	width: 90%;
}

/* Quote plugin */
.quoteheader {
	margin-left: 30px;
}

.quotebody {
	margin: 0 15px 10px 30px;
	font-style: italic;
	border-left: 5px solid #D3D3D3;
	padding-left: 6px;
}

/* Split */
.wikiplugin-split {
	width: 100%;
}

.split {
	border: 1px dashed #696969;
	clear: both;
}

/* Fancy list */
.wikitext .fancylist li {
	background: transparent url(strasa/list_icon.png) top left no-repeat;
	color: #f90;
}

.wikitext .fancylist li p {
	color: #000;
}

[class].wikitext .fancylist li p {
	margin-left: -3px;
}

.wikiplugin-split .codelisting {
	width: 95%;
}

/* Versions plugin */
#tiki-center .versioncontent {
	border: 1px solid #aaa;
	background: #fff;
}

/** Wiki tocs **/
.tocnav {
	background: #EBEBEB;
	padding: 3px;
}

/* TOC */
.toc {
	border-top: 1px dotted #a9a9a9;
	border-bottom: 1px dotted #a9a9a9;
}

/* Wiki diff styles */
.diffheader {
	background: #696969;
	font-weight: bold;
}

/***** Articles ****/
.article {
	border: solid 1px #a9a9a9;
	border-top: solid 1px gray;
	margin-top: 5px;
	padding: 0;
	background: #fff;
	font-size: 1.1em;
}

.articletopline {
	background: #223543;
	color: #fff;
	font-size: 90%;
	font-style: italic;
	padding-left: 6px;
}
 
.articletitle h2 {
	background: #1b3c54 url(strasa/headerbg.jpg) repeat-x 0 100%;
	color: #fff;
	padding: 10px 5px;
}

.articletitle h2 a {
	color: #fff;
	font-weight: bold;
}

.articletitle h2 a:hover {
	text-decoration: none;
}

.titleb {
	display: block;
	float: right;
	clear: both;
	font-size: 80%;
	font-style: italic;
	min-height: 24px;
	line-height: 24px;
	padding: 0 10px 0 60px;
	color: #fff;
	background: #2598c5 url(strasa/login.jpg) left bottom no-repeat;
}

.articlesubtitle {
	margin-top: -1px;
	padding-left: 6px;
	font-size: 0.9em;
	background: #262d35;
	color: #fff;
}

.articletitle br {
	clear: both;
}

.articleheading {
	margin-top: 6px;
	padding: 4px;
}

.article .actions {
	padding: 2px 1px;
}

.articlebody {
	padding: 6px;
}

/***** Blogs *****/

.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%;
}

.bloginfo {
	text-align: center;
	padding: 3px;
	line-height: 150%;
	text-transform: none;
}

.postinfo {
	font-size: 1.2em;
}

.postinfo a {
	color: #006699;
	text-decoration: none;
	border-bottom: none;
}

span.posthead {
	font-weight: bold;
	letter-spacing: .4pt;
}

body.tiki_blogs .postbody-title {
	background: #1B3C54 url(strasa/headerbg.jpg);
	float: none;
	width: 100%;
	min-width: 100%; /* IE7 */
	min-height: 46px;
	border: 0;
	color: #fff;
}

body.tiki_blogs .postbody-title img {
	float: right;
}

body.tiki_blogs .post .title h2 {
	font-size: 1.2em;
}

body.tiki_blogs .post .postbody {
	margin-right: 8px;
	line-height: 1.2em;
	margin-bottom: 1em;
}
/*
body.tiki_blogs.actions {
	background: url(strasa/login.jpg) no-repeat;
	float: right;
	min-height: 24px;
	text-align: right;
}*/

body.tiki_blogs .actions img.icon {
	padding: 4px 0;
}
/*
body.tiki_blogs .author_info {
	min-height: 24px;
	background: url(strasa/login.jpg) no-repeat;
	color: #fff;
	float: right;
	font-size: 90%;
	font-style: italic;
	min-height: 24px;
	padding-top: 1px;}
*/
body.tiki_blogs .author_info img {
	vertical-align: top;
}

body.tiki_blogs .postbody .postfooter {
	width: 100%;
}

body.tiki_blogs .post .author_actions {
	text-align: left;
	display: inline;
}

.postbody-title a.freetag {
	color: #5ae0ff;
}

.postbody-title a.freetag:hover {
	color: #fff;
}

/***** Forums *****/
.post {
	width: 100%;
}

.post .postbody {
	border: solid 1px #a9a9a9;
	border-top: solid 1px gray;
	background: #fff;
}

.post .postbody .content {
	float: none;
	padding: 0;
	color: #000;
	background: #fff !important;
}

.post .postbody-title {
	display: block;
	background: #1b3c54 url(strasa/headerbg.jpg) repeat-x 0 100%;
}

.post .postbody-title .title {
	color: #fff;
	font-weight: bold;
	font-size: 1em;
}

.post .postbody-title .title a.link {
	color: #fff;
}

.post .postbody-title .title h2 {
	margin: 0;
	padding: 10px 5px;
}

.post .author {
	vertical-align: top;
	float: none;
}

.post .author_post_info {
	display: block;
	background: none;
	padding: 0 2px 2px 2px;
}

.post .author_info a:link,
.post .author_info a:visited {
	color: #fff;
}

.post .author_info .icons .actions {
	margin-right: 10px;
	float: none;
}

.post .author_post_info_on {
	font-style: italic;
}

.post .author_info {
	float: right;
	font-size: 90%;
	font-style: italic;
	text-align: right;
	min-height: 24px;
	padding-left: 100px;
	padding-top: 4px;
	padding-right: 4px;
	color: #fff;
	background: url(strasa/login.jpg) 0 0 no-repeat;
}

.post .author_info .author_posts {
	color: #000;
}

.post .postbody-title .actions {
	text-align: right;
	color: #fff;
	font-size: 80%;
	font-style: italic;
	padding-top: 4px;
	padding-right: 4px;
}

.post .postbody-title .actions a,
.post .postbody-title .actions a:visited {
	color: #fff;
}

.postbody-content {
	padding: 6px;
	margin: auto;
}

.post .postbody .attachments {
	border-top: 1px dotted #D9D9D9;
}

.post .postfooter .status {
	font-size: 10px;
}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #cce5ff;
	padding: 0 2px;
}

.post .avatar {
	margin-left: 0;
	padding: 0;
	border: 2px solid;
	border-color: #047aaa #047aaa #42cffa #42cffa;
}

.forum_actions .actions {
	border: 0;
	background: #cce5ff;
}

.forum_actions .headers .title {
	background: #233a48;
	color: #fff;
	border: 0;
}

.forum_actions .headers .infos {
	font-size: smaller;
}

/* Help box*/
.commentsedithelp {
	background: #ffcfcf;
	color: black;
	border: 1px solid #ff0000;
	text-align: center;
	font-weight: bold;
}

/***** Categories *****/

.catitems {
	margin-left: 0;
	font-weight: bold;
}

/***** Tags (freetags) *****/
.freetagobjectname a {
	text-decoration: none;
}

/***** Image Galleries *****/
.galtable {
	border-collapse: collapse;
	border: 1px solid #696969;
}

.thumbnailcontenerchecked .thumbnail {
	border-color: #a9a9a9;
	background: #f8f8ff;
}

.caption {
	color: black;
}

/***** File Galleries *****/
.fgal_top_bar {
	margin: 5px 0;
}

.fgalexplorer {
	border: 0;
}

/***** Trackers *****/

/* also for categorize.tpl */
.multiselect {
	border: 1px solid #696969;
}

/***** Calendar *****/
/* Overrides calendar.css, etc. */
.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {
	color: #006699;
}

.caltoggle {
	font-size: 90%;
}

.opaque {
	border: 1px solid #1b3a50;
	background: #dcdcdc;
}

.opaque .box-title {
	font-size: 1em;
	font-weight: normal;
	color: #5ae0ff;
	background: #1b3a50;
	padding: 3px;
	text-align: center;
	text-decoration: none;
}

.searchresults li .objecttype,
.searchresults li .parentname,
.searchresults li .objectname  {
	font-size: 120%;
	font-weight: bold;
}

.searchresults .itemhits,
.searchresults .itemrelevance,
.searchresults .searchdate {
	color: gray;
	font-size: 90%;
}

.calnavigation a:hover {
	background: red;
}

.cal {
	border-color: transparent;
}

.calhours {
	vertical-align: middle;
	text-align: center;
	border-width: 1px 0 0 1px;
	border-color: #cfd0d0 #e0e0e0;
	border-style: solid;
}

.calday {
	padding: 0;
	border-width: 0 1px 1px 1px;
	border-style: solid;
}

.calweek {
	border-width: 1px 1px 0 1px;
	border-color: #cfd0d0 #e0e0e0;
	border-style: solid;
}

.calbuttonbox {
	margin-right: 3px;
}

.calbuttonbox a {
	color: #fff;
}

.buttonon a, .calbuttonon a {
	font-weight: bold;
}

.box-data .fc a.today,
.box-data td a.today {
	background: #D4D0C8;
	border: solid 1px #696969;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #ffc;
}

.caltable .calborder {
	border: 1px solid #a9a9a9;
}

.calinput {
	background: #223845;
}

th.days {
	color: #cce5ff;
}

.caltable .weeks {
	background: #1b3a50;
	color: #cce5ff;
}

.addevent {
	padding: 0 5px;
	float: right;
}

.caltable .odd, .caltable .even {
	border: 1px solid #a9a9a9;
}

.caltable .odd {
	background: #f0f0f0;
}

.caltable .even {
	background: #dcdcdc;
}

/*****  Polls  *****/
.pollresults {
	margin-top: 5px;
	font-size: 1.2em;
	padding: 0 5px;
}

.pollr {
	color: black;
}

/***** FAQs *****/

/***** Quizzes *****/
.questionblock {
	padding: 4px;
}

/***** Shoutbox *****/
textarea.tshoutbox{
	width: 90%;
}
.box-shoutbox table td {
	font-size: .65em;
}

/***** Directory *****/
.dircategs {
	border: 1px solid #696969;
	padding: 5px;
	width: 100%;
}

.dirlistsites {
	padding: 5px 0 10px 5px;
	margin-top: 10px;
}

.dirrelated {
	margin-top: 10px;
	padding: 5px;
}

td.dirfooter {
	font-size: .95em;
}

div.dirfooter {
	margin-top: 10px;
}

/***** Messages *****/

/***** Sheets *****/

/***** Ajax *****/

/***** TikiSheet Default Style *****/
.default thead td,
.default tfoot td {
	font-weight: bold;
	text-align: center;
	background: #223845;
	color: #cce5ff;
}

.default td {
	border: solid 1px #A9A9A9;
	background: white;
}

.highlight_word_0 {
	background: #223845;
}

.highlight_word_1 {
	background: #223845;
}

.highlight_word_2 {
	background: #223845;
}

.highlight_word_3 {
	background: #223845;
}

.highlight_word_4 {
	background: #223845;
}

/* css/admin.css overrides */
a.admbox {
	border: 1px solid #223845;
	background-color: #f0f0f0;
}

a.admbox:hover,
a.admbox:focus,
a.admbox:active {
	background-color: #dcdcdc;
	border: 1px solid #696969;
}

a.admbox.off {
	border: 1px solid #a9a9a9;
}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {
	border: 1px solid #a9a9a9;
}

/* Fixed-width styles */

body.fixed_width {
	background: #214d68 url(strasa/body-bg_fw.png) repeat-x !important
}
body.fixed_width #c1c2 #col2 {
	background: url(strasa/box_top_fw.gif) no-repeat 100% 0;
}

body.fixed_width #c1c2 #col2 .content {
	background: url(strasa/box_bottom_fw.gif) no-repeat 100% 100%;
}

body.fixed_width #outer_wrapper {
	border: 1px solid #2E3035;
	/*margin-top: 18px;
	margin-bottom: 5px;*/
}

/* can't seem to get the border working - jb
body.fixed_width #main {
	border: 1px solid #2E3035;
	margin-top: 0;
}*/

.fixed_width > .fixedwidth {
    margin-top: 0px;
}

/* end of file */
