body {
  background-image: url('darkroom/474747_5e5e5e_40.png');
}
.container {
  background: #0C0C0C;
}
#col1 {
  background: #3F3F3F;
  border-left: 10px solid #0c0c0c;
  border-right: 10px solid #0c0c0c;
  padding-bottom: 10px;
}
h3.panel-title {
  color: #9D9D9D;
  font-size: 24px;
}
.panel-body {
  border: solid #292929;
  border-width: 0 8px 8px 8px;
}
.navbar-default,
.btn,
.btn-default,
.nav-tabs > li > a,
.input-group-addon {
  background: #818181;
  /* Old browsers */
  background: -moz-linear-gradient(top, #818181 0%, #393939 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #818181), color-stop(100%, #393939));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #818181 0%, #393939 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #818181 0%, #393939 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #818181 0%, #393939 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #818181 0%, #393939 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#818181', endColorstr='#393939', GradientType=0);
}
/* IE6-9 */
.nav > li > a {
  padding: 6px 10px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
}
select {
  background: #292929;
}
.cke_wysiwyg_frame,
.cke_wysiwyg_div {
  background: #292929 !important;
  color: #fff !important;
}
.even {
  background: #393939;
}
.odd,
#trig_dptxt {
  background: transparent;
}
input[type="checkbox"] {
  color: #fff;
  background: transparent;
}
input.reportBuilderInput,
.ui-datepicker {
  background: #292929;
}
